/* Variables.scss */

//colors
$clr-root :#eee;
$clr-primary:#309462;
$clr-secondary:#309462;
$clr-heading:#333333;
$clr-sub-heading :#666666;
$clr-notify-text:#999999;
$dark-gray: #b7b7b7;
$md-gray: #ccc;
$light-gray: #eee;
$shadow-gray: #ddd;
$dark-bg-txt-color:#b1b1b1;
$clr-white:#ffffff;
$clr-menu-bg:#222222;
$clr-theme-light:#fbfbfb;
$clr-header-bg: $theme-header-bg;
$clr-breadcrumb-bg: $theme-breadcrumb-bg;
$clr-error:#ff0f0f;
$clr-orange:#f2bf07;
$clr-green:green;
// font family
$font:'Roboto',
sans-serif;
//font-weight
$font-thin:100;
$font-light:300;
$font-regular:400;
$font-md:500;
$font-bold:700;
//responsive variables
$media1920: 1920px;
$media1600: 1600px;
$media1440: 1440px;
$media1366: 1366px;
$media1200: 1200px;
$media1170: 1170px;
$media1024: 1024px;
$media920: 920px;
$media800: 800px;
$media768: 768px;
$media640: 640px;
$media568: 568px;
$media480: 480px;
$media380: 380px;
$media360: 360px;
$media320: 320px;