<div class="bs-breadcrumb">
    <ul class="list">
        <li class="item"><a href="#" class="home-link">Home</a></li>
        <li class="item"><a href="#" class="breadcrumb-nav-link active">churn reduction</a></li>
    </ul>
</div>