<div class="dropdown-menu up-arrow">
    <!--<div class="head">
                                            <h3 class="title">Initiated Campaign</h3>
                                        </div>-->
    <ul class="list cm-scroll">
        <li class="dropdown-header">Suggested Campaign</li>
        <li><a class="link" href="#">Retention Campaign</a></li>
        <li><a class="link" href="#">New User Acquisition in USA for the Dashboard sequencing regarding the five elements.</a></li>
        <li><a class="link" href="#">Retention Campaign</a></li>
        <li><a class="link" href="#">New User Acquisition in USA</a></li>
        <!--<li class="dropdown-header">Suggested Campaign</li>
                                            <li><a class="link" href="#">Retention Campaign</a></li>
                                            <li><a class="link" href="#">New User Acquisition in USA for the Dashboard sequencing regarding the five elements.</a></li>
                                            <li><a class="link" href="#">Retention Campaign</a></li>
                                            <li><a class="link" href="#">New User Acquisition in USA</a></li>-->
        <li><a class="link btn btn-link" href="#">View All</a></li>
    </ul>
    <div class="footer">
        <div class="act-btn">
            <a class="link last" href="#">
                <span class="icon icon-add"></span>
                <span class="text">CREATE NEW</span>
            </a>
        </div>
    </div>
</div>