<div class="bs-header">

    <div class="nav-left">
        <a href="#" class="menu-btn hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </a>
        <a class="logo " href="#">
            <img src="../../assets/images/cm_logo.png" alt="logo">
        </a>
        <ul class="list right-menu-mobile">
            <li class="item">
                <a class="bs-icon-text">
                    <span class="icon icon-tray-view-o"></span>
                    <span class="text">Tray View</span>
                </a>

            </li>
        </ul>
        <ul class="list menu-dropdown-mobile">
            <li class="item">
                <a href="tray-view.shtml" class="bs-icon-text">
                    <span class="icon icon-tray-view"></span>
                    <span class="text">Tray View</span>
                </a>
            </li>
            <li class="item dropdown typ-main active">
                <a href="#" class="bs-icon-text" data-toggle="dropdown">
                    <span class="icon icon-my-dashboard-o"></span>
                    <span class="text">My Dashboard
                        <span class="icon icon-down-arrow"></span>
                    </span>
                </a>
                <div class="dropdown-menu typ-icon">
                    <ul class="cm-scroll">
                        <li>
                            <a class="link active" href="dashboard-collapse-view.shtml">
                                <span class="icon icon-goal-based-tray"></span>
                                <span class="text">Churn Reduction</span>
                            </a>
                        </li>
                        <li>
                            <a class="link" href="#">
                                <span class="icon icon-collection"></span>
                                <span class="text">Reach 3m Daily Taylor Swift Users</span>
                            </a>
                        </li>
                        <li>
                            <a class="link" href="#">
                                <span class="icon icon-report-tray"></span>
                                <span class="text">Report for CEO</span>
                            </a>
                        </li>
                        <li>
                            <a class="link" href="#">
                                <span class="icon icon-trending-tray"></span>
                                <span class="text">Top Trending vs Charts</span>
                            </a>
                        </li>
                    </ul>
                    <div class="footer">
                        <a class="link last btn-full" href="#" data-toggle="modal" data-target="#myModal-new-dashborad">
                            <span class="icon icon-add"></span>
                            <span class="text">Add new dashboard</span>
                        </a>
                    </div>
                </div>
            </li>

            <li class="item">
                <a href="newsfeed.shtml" class="bs-icon-text">
                    <span class="icon icon-news"></span>
                    <span class="text">News</span>
                </a>
            </li>
            <li class="item dropdown typ-main hidden-sm hidden-xs">
                <a href="#" class="bs-icon-text" data-toggle="dropdown">
                    <span class="icon icon-workspace"></span>
                    <span class="text">WORKSPACE
                        <span class="icon icon-down-arrow"></span>
                    </span>
                </a>
                <div class="dropdown-menu">
                    <ul class="cm-scroll">
                        <li>
                            <a class="link active" href="#">
                                <span class="text">Workspace One</span>
                            </a>
                        </li>
                        <li>
                            <a class="link" href="#">
                                <span class="text">Workspace number twenty-eight</span>
                            </a>
                        </li>
                        <li>
                            <a class="link" href="#">
                                <span class="text">Report Workspace</span>
                            </a>
                        </li>
                        <li>
                            <a class="link" href="#">
                                <span class="text">Top Trending Workspace</span>
                            </a>
                        </li>
                        <li>
                            <a class="link active" href="#">
                                <span class="text">Workspace One</span>
                            </a>
                        </li>
                        <li>
                            <a class="link" href="#">
                                <span class="text">Workspace number twenty-eight</span>
                            </a>
                        </li>
                        <li>
                            <a class="link" href="#">
                                <span class="text">Report Workspace</span>
                            </a>
                        </li>
                        <li>
                            <a class="link" href="#">
                                <span class="text">Top Trending Workspace</span>
                            </a>
                        </li>
                    </ul>
                    <div class="footer">
                        <a class="link last btn-full" href="#">
                            <span class="icon icon-save"></span>
                            <span class="text">save to workspace</span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="nav-right">
        <div class="mod-user-info dropdown hidden-sm hidden-xs">
            <a class="user-wrap" data-toggle="dropdown" href="# ">
                <div class="user-info">
                    <span class="user-name">YAACOV BEN YAACOV</span>
                    <span class="designation">Chief Executive Officer</span>
                </div>
                <div class="picture-wrap ">
                    <img src="../../assets/images/user.png " alt="user ">
                </div>
            </a>
            <div class="dropdown-menu">
                <ul>
                    <li>
                        <a class="link" href="#">
                            <span class="text">My Profile</span>
                        </a>
                    </li>

                    <li>
                        <a class="link" href="#">
                            <span class="text">My Wishlist</span>
                        </a>
                    </li>
                    <li>
                        <a class="link last" href="#">
                            <span class="text">Logout</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <ul class="list">
            <li class="item dropdown hidden-sm hidden-xs">
                <a href="#" class="bs-icon-text" data-toggle="dropdown">
                    <span class="icon icon-quick-menu"></span>
                    <span class="text cm-not-in-page">quick-menu</span>
                </a>
                <div class="dropdown-menu lyt-quick-menu">
                    <ul class="list ">
                        <li class="item">
                            <a class="bs-icon-text " href="# ">
                                <span class="icon icon-my-dashboard "></span>
                                <span class="text ">Create
                                    <span class="cm-line-break ">Dashboard</span>
                                </span>
                            </a>
                        </li>
                        <li class="item ">
                            <a class="bs-icon-text " href="# ">
                                <span class="icon icon-campaign "></span>
                                <span class="text ">Create
                                    <span class="cm-line-break ">Campaign</span>
                                </span>
                            </a>
                        </li>
                        <li class="item ">
                            <a class="bs-icon-text " href="# ">
                                <span class="icon icon-advertising "></span>
                                <span class="text ">Create
                                    <span class="cm-line-break ">Advertisement</span>
                                </span>
                            </a>
                        </li>
                        <li class="item ">
                            <a class="bs-icon-text " href="# ">
                                <span class="icon icon-audience "></span>
                                <span class="text ">Create
                                    <span class="cm-line-break ">Audience</span>
                                </span>
                            </a>
                        </li>
                        <li class="item ">
                            <a class="bs-icon-text " href="# ">
                                <span class="icon icon-reports "></span>
                                <span class="text ">Create
                                    <span class="cm-line-break ">Reports</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="item js-notification">
                <a href="# " class="bs-icon-text ">
                    <span class="icon icon-notification "></span>
                    <span class="text cm-not-in-page ">notification</span>
                </a>
                <span class="notification-count ">03</span>
            </li>
        </ul>
        <div class="mod-brand-info hidden-sm hidden-xs">
            <a class="brand-logo " href="# ">
                <!-- <img src="../../assets/images/active-grey.png" alt="brand-logo "> -->
            </a>
        </div>
        <!-- <ul class="list">
                    <li class="item js-notification">
                        <a href="# " class="bs-icon-text ">
                            <span class="icon icon-notification "></span>
                            <span class="text cm-not-in-page ">notification</span>
                        </a>
                        <span class="notification-count ">03</span>
                    </li>
                </ul> -->
    </div>
</div>

<div class="lyt-nav">
    <div class="mod-user-info">
        <a class="user-wrap" data-toggle="dropdown" href="# ">
            <div class="user-info">
                <span class="user-name">YAACOV BEN YAACOV</span>
                <span class="designation">chief EXECUTIVE OFFICER</span>
            </div>
            <div class="picture-wrap ">
                <img src="../../assets/images/user.png " alt="user ">
            </div>
        </a>
    </div>
    <ul>
        <li>
            <a href="#" class="bs-icon-text">
                <span class="icon icon-home"></span>
                <span class="text">home</span>
            </a>
        </li>
        <li>
            <a href="#" class="bs-icon-text">
                <span class="icon icon-campaign"></span>
                <span class="text">Campaigns</span>
            </a>
        </li>
        <li>
            <a href="#" class="bs-icon-text">
                <span class="icon icon-advertising"></span>
                <span class="text">advertising</span>
            </a>
        </li>
        <li>
            <a href="#" class="bs-icon-text">
                <span class="icon icon-reports"></span>
                <span class="text">reports</span>
            </a>
        </li>
        <li>
            <a href="#" class="bs-icon-text">
                <span class="icon icon-pin"></span>
                <span class="text">pin</span>
            </a>
        </li>
        <li>
            <a href="#" class="bs-icon-text">
                <span class="icon icon-settings"></span>
                <span class="text">settings</span>
            </a>
        </li>
    </ul>
</div>

<div class="lyt-notification">
    <div class="notification-header">
        <ul class="list">
            <li class="item">
                <div class="form-group bs-search">
                    <input type="text" class="form-control" placeholder="Search" />
                    <button class="btn btn-search" type="button">
                        <span class="icon icon-search"></span>
                    </button>
                </div>
            </li>
            <li class="item">
                <div class="sort-wrap">
                    <button class="bs-icon-text">
                        <span class="icon icon-arrow-down"></span>
                        <span class="icon icon-arrow-up active"></span>Date</button>
                    <button href="#" class="bs-icon-text hidden-sm hidden-xs">
                        <span class="icon icon-arrow-down disabled"></span>
                        <span class="icon icon-arrow-up disabled"></span>Name</button>
                </div>
            </li>
        </ul>

    </div>
    <div class="notification-cont">
        <ul class="list">
            <li class="item">
                <div class="mod-notification campaign">
                    <div class="notification-head">
                        <h4 class="title">
                            <a href="">Matt Thompson</a>
                        </h4>
                        <span class="timestamp">21 December 2017
                            <span>|</span> 12:00 PM</span>
                    </div>
                    <div class="notification-body">
                        <p class="desc">The Subscription level has gone down by 2.5% as compared to lask week. The Subscription level has gone down by 5% as compared to the last month. The Subscription level has gone down by 12% as compared to the last year. The Subscription
                            level has increased as compared to the overall rating in the industry.</p>
                        <ul>
                            <li>
                                <a class="bs-icon-text" href="#">
                                    <span class="icon icon-view"></span>
                                    <span class="text">view</span>
                                </a>
                            </li>
                            <li>
                                <a class="bs-icon-text" href="#">
                                    <span class="icon icon-reply"></span>
                                    <span class="text">reply</span>
                                </a href="#">
                            </li>
                        </ul>
                    </div>
                    <a class="icon icon-trash" href="#"></a>

                </div>
            </li>
            <li class="item">
                <div class="mod-notification report">
                    <div class="notification-head">
                        <h4 class="title">
                            <a href="">Ray Williams</a>
                        </h4>
                        <span class="timestamp">21 December 2017
                            <span>|</span> 12:00 PM</span>
                    </div>
                    <div class="notification-body">
                        <p class="desc">Subscription level has gone down by 2.5% this week</p>
                        <ul>
                            <li>
                                <a class="bs-icon-text" href="#">
                                    <span class="icon icon-add"></span>
                                    <span class="text">add</span>
                                </a>
                            </li>
                            <li>
                                <a class="bs-icon-text" href="#">
                                    <span class="icon icon-reply"></span>
                                    <span class="text">reply</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a class="icon icon-trash" href="#"></a>

                </div>
            </li>
            <li class="item">
                <div class="mod-notification message">
                    <div class="notification-head">
                        <h4 class="title">
                            <a href="">Janet Morgan</a>
                        </h4>
                        <span class="timestamp">21 December 2017
                            <span>|</span> 12:00 PM</span>
                    </div>
                    <div class="notification-body">
                        <p class="desc">This icon is going to be used for Comments.</p>
                        <ul>
                            <li>
                                <a class="bs-icon-text" href="#">
                                    <span class="icon icon-reply"></span>
                                    <span class="text">reply</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a class="icon icon-trash" href="#"></a>

                </div>
            </li>
            <li class="item">
                <div class="mod-notification message">
                    <div class="notification-head">
                        <h4 class="title">
                            <a href="">Neil Lorna</a>
                        </h4>
                        <span class="timestamp">21 December 2017
                            <span>|</span> 12:00 PM</span>
                    </div>
                    <div class="notification-body">
                        <p class="desc">Subscription level has gone down by 2.5% this week</p>
                        <ul>
                            <li>
                                <a class="bs-icon-text" href="#">
                                    <span class="icon icon-add"></span>
                                    <span class="text">add</span>
                                </a>
                            </li>
                            <li>
                                <a class="bs-icon-text" href="#">
                                    <span class="icon icon-reply"></span>
                                    <span class="text">reply</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a class="icon icon-trash" href="#"></a>

                </div>
            </li>
            <li class="item">
                <div class="mod-notification alert">
                    <div class="notification-head">
                        <h4 class="title">
                            <a href="">System Alert</a>
                        </h4>
                        <span class="timestamp">21 December 2017
                            <span>|</span> 12:00 PM</span>
                    </div>
                    <div class="notification-body">
                        <p class="desc">There is an error in File:Hungama>Music>1208</p>
                        <ul>
                            <li>
                                <a class="bs-icon-text" href="#">
                                    <span class="icon icon-review"></span>
                                    <span class="text">review</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a class="icon icon-trash" href="#"></a>

                </div>
            </li>
            <li class="item">
                <div class="mod-notification share">
                    <div class="notification-head">
                        <h4 class="title">
                            <a href="">Matt Thompson</a>
                        </h4>
                        <span class="timestamp">21 December 2017
                            <span>|</span> 12:00 PM</span>
                    </div>
                    <div class="notification-body">
                        <p class="desc">Shared the report for APAC Third Quarter 2016-17</p>
                        <ul>
                            <li>
                                <a class="bs-icon-text" href="#">
                                    <span class="icon icon-add"></span>
                                    <span class="text">add</span>
                                </a>
                            </li>
                            <li>
                                <a class="bs-icon-text" href="#">
                                    <span class="icon icon-reply"></span>
                                    <span class="text">reply</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a class="icon icon-trash" href="#"></a>

                </div>
            </li>
            <li class="item">
                <div class="mod-notification approval">
                    <div class="notification-head">
                        <h4 class="title">
                            <a href="">Approval</a>
                        </h4>
                        <span class="timestamp">21 December 2017
                            <span>|</span> 12:00 PM</span>
                    </div>
                    <div class="notification-body">
                        <p class="desc">Shared the report for APAC Third Quarter 2016-17</p>
                        <ul>
                            <li>
                                <a class="bs-icon-text" href="#">
                                    <span class="icon icon-review"></span>
                                    <span class="text">review</span>
                                </a>
                            </li>
                            <li>
                                <a class="bs-icon-text" href="#">
                                    <span class="icon icon-reply"></span>
                                    <span class="text">reply</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a class="icon icon-trash" href="#"></a>

                </div>
            </li>
        </ul>

    </div>
</div>

<div class="cm-overlay2"></div>
<div class="cm-menu-overlay"></div>