<div class="bs-header">
    <div class="nav-left">
        <a class="logo " href="#">
            <img src="../../assets/images/logo.png" alt="logo">
        </a>
        <ul class="list menu-dropdown-mobile">
            <li class="item active dropdown">
                <a href="#" class="bs-icon-text" data-toggle="dropdown" aria-expanded="true">
                    <span class="icon icon-home-o"></span>
                    <span class="text">Home<span class="icon icon-down-arrow"></span></span>
                </a>
                <div class="dropdown-menu typ-logo">
                    <ul class="cm-scroll">
                        <li>
                            <a class="link" href="#">
                                <img src="../../assets/images/cm_logo.png" alt="">
                            </a>
                        </li>
                        <li class="active">
                            <a class="link" href="#">
                                <img src="../../assets/images/brand2.png" alt="">
                            </a>
                        </li>
                        <!-- <li>
                            <a class="link" href="#">
                                <img src="../../assets/images/brand3.png" alt="">
                            </a>
                        </li>
                        <li class="active">
                            <a class="link" href="#">
                                <img src="../../assets/images/brand4.png" alt="">
                            </a>
                        </li> -->
                    </ul>
                    <div class="footer">
                        <a class="link last btn-full" href="#" data-toggle="modal" data-target="#myModal-new-dashborad">
                            <span class="icon icon-refresh-1"></span>
                            <span class="text">Revert back to</span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="nav-right">
        <div class="mod-user-info dropdown hidden-sm hidden-xs">
            <a class="user-wrap" data-toggle="dropdown" href="#">
                <div class="user-info">
                    <span class="user-name">YAACOV BEN YAACOV</span>
                </div>
                <div class="picture-wrap ">
                    <img src="../../assets/images/user.png" alt="user">
                </div>
            </a>
            <div class="dropdown-menu up-arrow user-panal">
                <div class="user-details">
                    <ul>
                        <li class="active">
                            <a href="#" class="user last">
                                <span class="img">
                                    <img src="../../assets/images/user.png" alt="user">
                                </span>
                                <span class="details">
                                    <span class="name">Yaacov Ben Yaacov</span>
                                <span class="email">yaacov.super_admin@catchmedia.com</span>
                                </span>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="#" class="user last">
                                <span class="word">S</span>
                                <span class="details">
                                    <span class="name">Siddhartha Roy</span>
                                <span class="email">siddharth.roy@hungama.com</span>
                                </span>
                            </a>
                        </li> -->
                    </ul>
                </div>
                <div class="user-setting">
                    <ul>
                        <li>
                            <a href="#" class="bs-icon-text">
                                <span class="icon icon-settings"></span>
                                <span class="text">User Settings</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="bs-icon-text">
                                <span class="icon icon-download"></span>
                                <span class="text">Login as Pseudo User</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="user-list">
                    <ul>
                        <li>
                            <div class="user">
                                <div class="details">
                                    <h3 class="name">Siddhartha Roy - Hungama</h3>
                                    <span class="designation">(President)</span>
                                    <a href="#" class="icon icon-remove"></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="user">
                                <div class="details">
                                    <h3 class="name">Pert Posner - AT&T</h3>
                                    <span class="designation">(Makerting Analyst)</span>
                                    <a href="#" class="icon icon-remove"></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="user">
                                <div class="details">
                                    <h3 class="name">David Karen - Vimmi</h3>
                                    <span class="designation">(CMO)</span>
                                    <a href="#" class="icon icon-remove"></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="act-wrap">
                    <button type="button" class="btn btn-secondary">SWITCH BACK</button>
                    <button type="button" class="btn btn-secondary">ADD ACCOUNT</button>
                    <button type="button" class="btn btn-default">LOG OUT</button>
                </div>
            </div>
            <div class="mod-switch with-text">
                <label class="switch">
                <input type="checkbox" checked="">
                <span class="slider">
                    <span class="text">Admin</span>
                    <span class="text">CEO</span>
                </span>
            </label>
            </div>
        </div>
        <ul class="list">
            <li class="item dropdown hidden-sm hidden-xs">
                <a href="#" class="bs-icon-text" data-toggle="dropdown">
                    <span class="icon icon-quick-menu"></span>
                    <span class="text cm-not-in-page">quick-menu</span>
                </a>
                <div class="dropdown-menu lyt-quick-menu">
                    <ul class="list ">
                        <li class="item">
                            <a class="bs-icon-text " href="create-new-dashboard.shtml">
                                <span class="icon icon-my-dashboard "></span>
                                <span class="text ">Create
                                        <span class="cm-line-break ">Dashboard</span>
                                </span>
                            </a>
                        </li>
                        <li class="item ">
                            <a class="bs-icon-text " href="# ">
                                <span class="icon icon-campaign "></span>
                                <span class="text ">Create
                                        <span class="cm-line-break ">Campaign</span>
                                </span>
                            </a>
                        </li>
                        <li class="item ">
                            <a class="bs-icon-text " href="# ">
                                <span class="icon icon-advertising "></span>
                                <span class="text ">Create
                                        <span class="cm-line-break ">Advertisement</span>
                                </span>
                            </a>
                        </li>
                        <li class="item ">
                            <a class="bs-icon-text " href="# ">
                                <span class="icon icon-audience "></span>
                                <span class="text ">Create
                                        <span class="cm-line-break ">Audience</span>
                                </span>
                            </a>
                        </li>
                        <li class="item ">
                            <a class="bs-icon-text " href="# ">
                                <span class="icon icon-reports "></span>
                                <span class="text ">Create
                                        <span class="cm-line-break ">Reports</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="item js-notification">
                <a href="# " class="bs-icon-text ">
                    <span class="icon icon-notification "></span>
                    <span class="text cm-not-in-page ">notification</span>
                </a>
                <span class="notification-count ">03</span>
            </li>
        </ul>
        <div class="mod-brand-info hidden-sm hidden-xs">
            <a class="brand-logo " href="# ">
                <!-- <img src="../../assets/images/active-grey.png" alt="brand-logo "> -->
            </a>
        </div>
        <!-- <ul class="list">
                        <li class="item js-notification">
                            <a href="# " class="bs-icon-text ">
                                <span class="icon icon-notification "></span>
                                <span class="text cm-not-in-page ">notification</span>
                            </a>
                            <span class="notification-count ">03</span>
                        </li>
                    </ul> -->
    </div>
</div>



<div class="lyt-notification">
    <div class="notification-header">
        <ul class="list">
            <li class="item">
                <div class="form-group bs-search">
                    <input type="text" class="form-control" placeholder="Search" />
                    <button class="btn btn-search" type="button">
                            <span class="icon icon-search"></span>
                        </button>
                </div>
            </li>
            <li class="item">
                <div class="sort-wrap">
                    <button class="bs-icon-text">
                            <span class="icon icon-arrow-down"></span>
                            <span class="icon icon-arrow-up active"></span>Date</button>
                    <button href="#" class="bs-icon-text hidden-sm hidden-xs">
                            <span class="icon icon-arrow-down disabled"></span>
                            <span class="icon icon-arrow-up disabled"></span>Name</button>
                </div>
            </li>
        </ul>

    </div>
    <div class="notification-cont">
        <ul class="list">
            <li class="item">
                <div class="mod-notification campaign">
                    <div class="notification-head">
                        <h4 class="title">
                            <a href="">Matt Thompson</a>
                        </h4>
                        <span class="timestamp">21 December 2017
                                <span>|</span> 12:00 PM</span>
                    </div>
                    <div class="notification-body">
                        <p class="desc">The Subscription level has gone down by 2.5% as compared to lask week. The Subscription level has gone down by 5% as compared to the last month. The Subscription level has gone down by 12% as compared to the last year. The Subscription
                            level has increased as compared to the overall rating in the industry.</p>
                        <ul>
                            <li>
                                <a class="bs-icon-text" href="#">
                                    <span class="icon icon-view"></span>
                                    <span class="text">view</span>
                                </a>
                            </li>
                            <li>
                                <a class="bs-icon-text" href="#">
                                    <span class="icon icon-reply"></span>
                                    <span class="text">reply</span>
                                </a href="#">
                            </li>
                        </ul>
                    </div>
                    <a class="icon icon-trash" href="#"></a>

                </div>
            </li>
            <li class="item">
                <div class="mod-notification report">
                    <div class="notification-head">
                        <h4 class="title">
                            <a href="">Ray Williams</a>
                        </h4>
                        <span class="timestamp">21 December 2017
                                <span>|</span> 12:00 PM</span>
                    </div>
                    <div class="notification-body">
                        <p class="desc">Subscription level has gone down by 2.5% this week</p>
                        <ul>
                            <li>
                                <a class="bs-icon-text" href="#">
                                    <span class="icon icon-add"></span>
                                    <span class="text">add</span>
                                </a>
                            </li>
                            <li>
                                <a class="bs-icon-text" href="#">
                                    <span class="icon icon-reply"></span>
                                    <span class="text">reply</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a class="icon icon-trash" href="#"></a>

                </div>
            </li>
            <li class="item">
                <div class="mod-notification message">
                    <div class="notification-head">
                        <h4 class="title">
                            <a href="">Janet Morgan</a>
                        </h4>
                        <span class="timestamp">21 December 2017
                                <span>|</span> 12:00 PM</span>
                    </div>
                    <div class="notification-body">
                        <p class="desc">This icon is going to be used for Comments.</p>
                        <ul>
                            <li>
                                <a class="bs-icon-text" href="#">
                                    <span class="icon icon-reply"></span>
                                    <span class="text">reply</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a class="icon icon-trash" href="#"></a>

                </div>
            </li>
            <li class="item">
                <div class="mod-notification message">
                    <div class="notification-head">
                        <h4 class="title">
                            <a href="">Neil Lorna</a>
                        </h4>
                        <span class="timestamp">21 December 2017
                                <span>|</span> 12:00 PM</span>
                    </div>
                    <div class="notification-body">
                        <p class="desc">Subscription level has gone down by 2.5% this week</p>
                        <ul>
                            <li>
                                <a class="bs-icon-text" href="#">
                                    <span class="icon icon-add"></span>
                                    <span class="text">add</span>
                                </a>
                            </li>
                            <li>
                                <a class="bs-icon-text" href="#">
                                    <span class="icon icon-reply"></span>
                                    <span class="text">reply</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a class="icon icon-trash" href="#"></a>

                </div>
            </li>
            <li class="item">
                <div class="mod-notification alert">
                    <div class="notification-head">
                        <h4 class="title">
                            <a href="">System Alert</a>
                        </h4>
                        <span class="timestamp">21 December 2017
                                <span>|</span> 12:00 PM</span>
                    </div>
                    <div class="notification-body">
                        <p class="desc">There is an error in File:Hungama>Music>1208</p>
                        <ul>
                            <li>
                                <a class="bs-icon-text" href="#">
                                    <span class="icon icon-review"></span>
                                    <span class="text">review</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a class="icon icon-trash" href="#"></a>

                </div>
            </li>
            <li class="item">
                <div class="mod-notification share">
                    <div class="notification-head">
                        <h4 class="title">
                            <a href="">Matt Thompson</a>
                        </h4>
                        <span class="timestamp">21 December 2017
                                <span>|</span> 12:00 PM</span>
                    </div>
                    <div class="notification-body">
                        <p class="desc">Shared the report for APAC Third Quarter 2016-17</p>
                        <ul>
                            <li>
                                <a class="bs-icon-text" href="#">
                                    <span class="icon icon-add"></span>
                                    <span class="text">add</span>
                                </a>
                            </li>
                            <li>
                                <a class="bs-icon-text" href="#">
                                    <span class="icon icon-reply"></span>
                                    <span class="text">reply</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a class="icon icon-trash" href="#"></a>

                </div>
            </li>
            <li class="item">
                <div class="mod-notification approval">
                    <div class="notification-head">
                        <h4 class="title">
                            <a href="">Approval</a>
                        </h4>
                        <span class="timestamp">21 December 2017
                                <span>|</span> 12:00 PM</span>
                    </div>
                    <div class="notification-body">
                        <p class="desc">Shared the report for APAC Third Quarter 2016-17</p>
                        <ul>
                            <li>
                                <a class="bs-icon-text" href="#">
                                    <span class="icon icon-review"></span>
                                    <span class="text">review</span>
                                </a>
                            </li>
                            <li>
                                <a class="bs-icon-text" href="#">
                                    <span class="icon icon-reply"></span>
                                    <span class="text">reply</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a class="icon icon-trash" href="#"></a>

                </div>
            </li>
        </ul>

    </div>
</div>

<div class="cm-overlay2"></div>
<div class="cm-menu-overlay"></div>