<div class="mod-timeframe-opt target-element">
    <h3 class="filter-timeframe-title">Timeframe</h3>
    <div class="tabs">
        <ul class="nav nav-tabs list" id="timeframe" role="tablist">
            <li role="presentation" class="active item col-md-4 col-xs-6">
                <a class="title" href="#fixed" role="tab" data-toggle="tab">Fixed Date Range</a>
            </li>
            <li role="presentation" class=" item col-md-4 col-xs-4 hide-for-mobile">
                <a class="title" href="#relativeDateRange" role="tab" data-toggle="tab">Relative date range</a>
            </li>
            <li role="presentation" class=" item col-md-4 col-xs-6">
                <a class="title" href="#presets" role="tab" data-toggle="tab">Presets</a>
            </li>
        </ul>
        <div class="tab-content" id="timeframe">
            <div class="tab-pane fade active in" role="tabpanel" id="fixed">
                <div class="cont row typ-range">
                    <div class="col-md-6">
                        <h3 class="title">From : Mar 26, 2018</h3>
                        <img src="../../assets/images/cal.jpg" alt="cal">
                    </div>
                    <div class="col-md-6">
                        <h3 class="title">To : Apr 25, 2018</h3>
                        <img src="../../assets/images/cal.jpg" alt="cal">
                    </div>
                    <div class="col-md-12 typ-time-range">
                        <div class="bs-checkbox">
                            <input type="checkbox" id="state1">
                            <label for="state1" class="input-label">Time Range</label>
                        </div>
                        <div class="typ-options-wrap">
                            <div class="form-wrap typ-small typ2">
                                <div class="form-group col-md-6 time-field">
                                    <span class="form-label">Start Time</span>
                                    <input class="form-control" type="text" placeholder="00">
                                    <span class="separator"> : </span>
                                    <input class="form-control" type="text" placeholder="00">
                                </div>
                                <div class="form-group col-md-6 time-field">
                                    <span class="form-label">End Time</span>
                                    <input class="form-control" type="text" placeholder="00">
                                    <span class="separator"> : </span>
                                    <input class="form-control" type="text" placeholder="00">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="act-wrap text-center">
                        <button type="button" class="btn btn-default">DONE</button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="presets">
                <div class="cont">
                    <div class="lyt-filter-opt typ2">
                        <div class="bs-radio">
                            <input type="radio" id="rd3" name="range">
                            <label for="rd3" class="input-label">Telecast</label>
                        </div>
                        <div class="typ-options-wrap">
                            <div class="form-group bs-search">
                                <input type="text" class="form-control" placeholder="Search">
                                <button class="btn btn-search" type="button"><span class="icon icon-search"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="lyt-filter-opt typ2">
                        <div class="bs-radio">
                            <input type="radio" id="rd1" name="range">
                            <label for="rd1" class="input-label">Festivals</label>
                        </div>
                        <div class="typ-options-wrap">
                            <ul class="list">
                                <li class="item">
                                    <div class="bs-radio typ-radio-btn" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Dec 13 2017 01:00 - Dec 16 2017 24:00">
                                        <input id="a1" type="radio" name="timeDuration">
                                        <label for="a1" class="input-label">Diwali</label>
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="bs-radio typ-radio-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dec 13 2017 01:00 - Dec 16 2017 24:00">
                                        <input id="b1" type="radio" name="timeDuration" checked="">
                                        <label for="b1" class="input-label">
            Christmas</label>
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="bs-radio typ-radio-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dec 13 2017 01:00 - Dec 16 2017 24:00">
                                        <input id="c1" type="radio" name="timeDuration">
                                        <label for="c1" class="input-label">
            Onam</label>
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="bs-radio typ-radio-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dec 13 2017 01:00 - Dec 16 2017 24:00">
                                        <input id="d1" type="radio" name="timeDuration">
                                        <label for="d1" class="input-label">
            Haloween</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="lyt-filter-opt typ2">
                        <div class="bs-radio">
                            <input type="radio" id="rd2" name="range">
                            <label for="rd2" class="input-label">Within the last</label>
                        </div>
                        <div class="typ-options-wrap">
                            <ul class="list">
                                <li class="item">
                                    <div class="bs-radio typ-radio-btn">
                                        <input id="a" type="radio" name="timeDuration">
                                        <label for="a" class="input-label">
    Year</label>
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="bs-radio typ-radio-btn">
                                        <input id="b" type="radio" name="timeDuration" checked="">
                                        <label for="b" class="input-label">
    6 Months</label>
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="bs-radio typ-radio-btn">
                                        <input id="c" type="radio" name="timeDuration">
                                        <label for="c" class="input-label">
    Quarter</label>
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="bs-radio typ-radio-btn">
                                        <input id="d" type="radio" name="timeDuration">
                                        <label for="d" class="input-label">
    Month</label>
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="bs-radio typ-radio-btn">
                                        <input id="e" type="radio" name="timeDuration">
                                        <label for="e" class="input-label">
    Hour</label>
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="bs-radio typ-radio-btn">
                                        <input id="f" type="radio" name="timeDuration">
                                        <label for="f" class="input-label">
    Minute</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="typ-time-range">
<div class="bs-checkbox">
<input type="checkbox" id="sta">
<label for="sta" class="input-label"></label>
</div>
<div class="form-wrap typ-small">
<div class="form-group col-md-6">
<span class="form-label">Start Time</span>
<input class="form-control" type="text" placeholder="00">
<span class="separator"> : </span>
<input class="form-control" type="text" placeholder="00">
</div>
<div class="form-group col-md-6">
<span class="form-label">End Time</span>
<input class="form-control" type="text" placeholder="00">
<span class="separator"> : </span>
<input class="form-control" type="text" placeholder="00">
</div>
</div>
</div> -->
                    <div class="act-wrap text-center">
                        <button type="button" class="btn btn-default">DONE</button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="relativeDateRange">
                <div class="cont">
                    <div class="lyt-filter-opt typ2">
                        <div class="bs-radio">
                            <input type="radio" id="rd22" name="range">
                            <label for="rd22" class="input-label">Within the last</label>
                        </div>
                        <div class="typ-options-wrap">
                            <div class="form-wrap">
                                <div class="form-group col-md-2">
                                    <input type="text" class="form-control" required="" value="00">
                                </div>
                                <div class="form-group col-md-4">
                                    <select class="form-control">
<option value="condition 1">Days</option>
<option value="condition 2">Week</option>
<option value="condition 3">Month</option>
<option value="condition 4">Year</option>
</select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lyt-filter-opt typ2">
                        <div class="bs-radio">
                            <input type="radio" id="rd33" name="range">
                            <label for="rd33" class="input-label">Custom period</label>
                        </div>
                        <div class="typ-options-wrap">
                            <div class="form-wrap">
                                <div class="form-group addon col-md-4">
                                    <span class="form-label">Select Range</span>
                                    <input type="text" class="form-control" required="" value="Christmas">
                                    <span class="icon icon-right-arrow"></span>
                                </div>
                                <div class="form-group disable col-md-3">
                                    <span class="form-label">Options</span>
                                    <select class="form-control">
<option value="condition 1">Previous</option>
<option value="condition 2">Next</option>
</select>
                                </div>
                                <div class="form-group disable col-md-2">
                                    <span class="form-label">Value</span>
                                    <input type="text" class="form-control" required="" placeholder="00">
                                </div>
                                <div class="form-group disable col-md-3">
                                    <span class="form-label">Unit</span>
                                    <select class="form-control">
    <option value="condition 1">Minutes</option>
    <option value="condition 2">Hours</option>
</select>
                                </div>
                                <div class="tabs typ-inner">
                                    <ul class="nav nav-tabs list" id="inner-timeframe" role="tablist">
                                        <li role="presentation" class="item col-md-6 col-xs-6 active">
                                            <a class="title" href="#presets2" role="tab" data-toggle="tab" aria-expanded="false">Presets</a>
                                        </li>
                                        <li role="presentation" class="item col-md-6 col-xs-6">
                                            <a class="title" href="#date2" role="tab" data-toggle="tab" aria-expanded="false">Date</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="inner-timeframe">
                                        <div class="tab-pane fade active in" role="tabpanel" id="presets2">
                                            <div class="cont">
                                                <div class="lyt-filter-opt typ2">
                                                    <div class="bs-radio">
                                                        <input type="radio" id="in-rd3" name="range2">
                                                        <label for="in-rd3" class="input-label">Telecast</label>
                                                    </div>
                                                    <div class="typ-options-wrap">
                                                        <div class="form-group bs-search">
                                                            <input type="text" class="form-control" placeholder="Search">
                                                            <button class="btn btn-search" type="button"><span class="icon icon-search"></span></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="lyt-filter-opt typ2">
                                                    <div class="bs-radio">
                                                        <input type="radio" id="in-rd1" name="range2">
                                                        <label for="in-rd1" class="input-label">Festivals</label>
                                                    </div>
                                                    <div class="typ-options-wrap">
                                                        <ul class="list">
                                                            <li class="item">
                                                                <div class="bs-radio typ-radio-btn">
                                                                    <input id="in-a1" type="radio" name="timeDuration2">
                                                                    <label for="in-a1" class="input-label">Diwali</label>
                                                                </div>
                                                            </li>
                                                            <li class="item">
                                                                <div class="bs-radio typ-radio-btn">
                                                                    <input id="in-b1" type="radio" name="timeDuration2" checked="">
                                                                    <label for="in-b1" class="input-label">Christmas</label>
                                                                </div>
                                                            </li>
                                                            <li class="item">
                                                                <div class="bs-radio typ-radio-btn">
                                                                    <input id="in-c1" type="radio" name="timeDuration2">
                                                                    <label for="in-c1" class="input-label">Onam</label>
                                                                </div>
                                                            </li>
                                                            <li class="item">
                                                                <div class="bs-radio typ-radio-btn">
                                                                    <input id="in-d1" type="radio" name="timeDuration2">
                                                                    <label for="in-d1" class="input-label">Haloween</label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <div class="form-wrap typ-small">
                                                            <h3 class="form-label cm-line-break cm-light">From</h3>
                                                            <div class="form-group col-md-2">
                                                                <input type="text" class="form-control" required="" placeholder="00">
                                                            </div>
                                                            <div class="form-group col-md-3">
                                                                <select class="form-control">
                                <option value="condition 1">Days</option>
                                <option value="condition 2">Weaks</option>
                                <option value="condition 3">Years</option>
                            </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="act-wrap text-center">
                                                    <button type="button" class="btn btn-default">DONE</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" role="tabpanel" id="date2">
                                            <div class="cal" style="text-align: center;">
                                                <img src="../../assets/images/cal.jpg" alt="cal">
                                            </div>
                                            <div class="act-wrap text-center">
                                                <button type="button" class="btn btn-default">DONE</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="typ-time-range inner">
                                <div class="form-wrap typ-small">
                                    <div class="form-group col-md-5">
                                        <span class="form-label">Start Time</span>
                                        <input class="form-control" type="text" placeholder="00">
                                        <span class="separator"> : </span>
                                        <input class="form-control" type="text" placeholder="00">
                                    </div>
                                    <div class="form-group col-md-5">
                                        <span class="form-label">End Time</span>
                                        <input class="form-control" type="text" placeholder="00">
                                        <span class="separator"> : </span>
                                        <input class="form-control" type="text" placeholder="00">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lyt-filter-opt typ2">
                        <div class="bs-radio">
                            <input type="radio" id="rd11" name="range">
                            <label for="rd11" class="input-label">Within the time range of</label>
                        </div>
                        <div class="typ-options-wrap">
                            <div class="form-wrap">
                                <div class="form-group col-md-2">
                                    <input type="text" class="form-control" required="" placeholder="00">
                                </div>
                                <div class="form-group typ-duration col-md-4">
                                    <select class="form-control">
                                        <option value="condition 1">Minutes</option>
                                        <option value="condition 2">Hours</option>
                                    </select>
                                    <span class="duration">Ago</span>
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="text" class="form-control" required="" placeholder="00">
                                </div>
                                <div class="form-group typ-duration col-md-4">
                                    <select class="form-control">
                                        <option value="condition 1">Minutes</option>
                                        <option value="condition 2">Hours</option>
                                    </select>
                                    <span class="duration">Forward</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="act-wrap text-center">
                        <button type="button" class="btn btn-default">DONE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="timeframe-close icon icon-cancel" href="#"></a>
</div>