/* element.scss */

html {
    font-size: 10px;
}

body {
    font-family: $font;
    font-size: 1.2rem;
    font-weight: $font-regular;
    color: $clr-sub-heading;
    background: $clr-root;
    padding: 49px 0 20px;
    &.overlay-opened {
        .lyt-filter {
            z-index: 13;
            &.typ2 {
                z-index: 13;
            }
        }
    }
}

p {
    line-height: 16px;
    margin-bottom: 10px;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: $clr-heading;
}

button:focus {
    outline: none;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $font-bold;
}

@include media($media1024) {
    body {
        padding-top: 45px;
        &.overlay-opened {
            .lyt-filter {
                z-index: 17;
            }
        }
    }
}

@include media($media768) {
    html {
        font-size: 9px;
    }
}