.mod-toggle-list {
    .toggle-head {
        background: #f5f5f5;
        overflow: hidden;
        padding: 8px 20px;
        .title {
            font-weight: $font-bold;
        }
    }
    .title {
        font-size: 1.4rem;
        color: $clr-heading;
        float: left;
    }
    .bs-toggle-btn {
        float: right;
    }
    li {
        padding: 18px 20px;
        border-bottom: 1px solid #f5f5f5;
        overflow: hidden;
    }
    &.with-shadow {
        box-shadow: 0 0 8px $shadow-gray;
    }
}