.mod-audience-funnel {
    .graph-wrapper {
        @include box-shadow(0, 0px, 18px, rgba(0, 0, 0, 0.13));
        background: $clr-white;
        padding: 15px;
        height: 100%;
        width: 100%;
        display: table;
        img {
            max-width: 100%;
        }
    }
}