// mod-switch
.mod-switch {
    .switch {
        position: relative;
        display: inline-block;
        width: 28px;
        height: 16px;
        input {
            display: none;
        }
        input:checked+.slider {
            &:before {
                background-color: $clr-error;
            }
        }
        input:focus+.slider {
            &:before {
                background-color: $clr-error;
            }
        }
        input:checked+.slider:before {
            -webkit-transform: translateX(12px);
            -ms-transform: translateX(12px);
            transform: translateX(12px);
            background-color: $clr-secondary;
        }
        .slider {
            border-radius: 34px;
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 1px solid $clr-notify-text;
            -webkit-transition: .4s;
            transition: .4s;
            &:before {
                position: absolute;
                border-radius: 50%;
                content: "";
                height: 12px;
                width: 12px;
                left: 1px;
                bottom: 1px;
                -webkit-transition: .4s;
                transition: .4s;
                background-color: $clr-error;
            }
        }
    }
    &.type-2 {
        .switch {
            width: 160px;
            height: 40px;
            .switch-lbl {
                width: 50%;
                display: block;
                float: left;
                line-height: 14px;
                padding: 6px 20px;
                font-size: 1.1rem;
                position: relative;
                text-align: center;
                &.decision {
                    color: $clr-heading;
                }
                &.gantt {
                    color: #a8a9ad;
                }
            }
            .slider {
                border: 0;
                background: #e4e4e5;
                &:before {
                    top: 0;
                    z-index: 0;
                    border-radius: 25px;
                    content: "";
                    height: 40px;
                    width: 50%;
                    left: 0;
                    bottom: 0;
                    background: $clr-white;
                    box-shadow: 0 0 5px $md-gray;
                }
            }
            input:checked+.slider {
                &:before {
                    left: 50%;
                    background: $clr-white;
                    transform: translate(0);
                }
                .switch-lbl {
                    &.decision {
                        color: #a8a9ad;
                    }
                    &.gantt {
                        color: $clr-heading;
                    }
                }
            }
        }
    }
    &.with-text {
        .switch {
            width: auto;
            .slider {
                &:before {
                    background: $clr-secondary;
                }
                width: 34px;
                border-radius: 5px;
                .text {
                    position: absolute;
                    font-size: 1.2rem;
                    line-height: 14px;
                    font-weight: $font-md;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-transform: capitalize;
                    width: 148%;
                    &:nth-child(1) {
                        right: 28px;
                        color: $clr-heading;
                    }
                    &:nth-child(2) {
                        left: 40px;
                        color: $md-gray;
                    }
                }
            }
            input[type=checkbox]:not(old):checked+.slider {
                .text {
                    &:nth-child(1) {
                        color: $md-gray;
                    }
                    &:nth-child(2) {
                        color: $clr-heading;
                    }
                }
            }
        }
    }
}