.mod-report-card {
    .mod-heading {
        border-bottom: none;
        .title {
            font-size: 1.8rem;
            line-height: 2.3rem;
            font-weight: $font-md;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 360px;
            display: inline-block;
        }
        .bs-icon-text {
            .icon {
                font-size: 1.6rem;
                line-height: 1.5rem;
                vertical-align: middle;
            }
            .text {
                vertical-align: middle;
                font-size: 1.8rem;
                font-weight: $font-bold;
            }
        }
        .bs-option {
            .list {
                .item {
                    margin-right: 0;
                    .bs-icon-text {
                        padding-right: 0;
                    }
                }
            }
        }
    }
    .card-cont {
        position: relative;
        z-index: 1;
        background: $clr-white;
        -webkit-box-shadow: 0px 0 8px $shadow-gray;
        -moz-box-shadow: 0px 0 8px $shadow-gray;
        box-shadow: 0px 0 8px $shadow-gray;
        .card-header {
            padding: 12px 35px 5px 16px;
            display: inline-block;
            width: 100%;
            .title {
                float: left;
                font-size: 1.8rem; // changes
                line-height: 2.2rem; // changes
                font-weight: $font-md;
                color: $clr-heading;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 400px;
                display: block;
                overflow: hidden;
            }
            .period {
                float: right;
                font-size: 1.2rem;
                margin-top: 3px;
            }
        }
        .card-body {
            .table {
                margin-bottom: 0;
                tr {
                    th {
                        &:last-child {
                            padding-right: 28px;
                        }
                    }
                }
                // tr {
                //     width: 100%;
                //     display: inline-table;
                // }
                // thead,
                // tbody {
                //     display: block;
                // }
                // tbody {
                //     height: 328px;
                //     overflow: auto;
                //     width: 100%;
                //     display: block;
                // }
                // tr {
                //     display: table-row;
                //     vertical-align: inherit;
                //     border-color: inherit;
                //     td,
                //     th {
                //         &:nth-child(1) {
                //             min-width: 200px;
                //         }
                //         &:nth-child(2) {
                //             min-width: 150px;
                //         }
                //         &:nth-child(3) {
                //             min-width: 150px;
                //         }
                //         &:nth-child(4) {
                //             width: 50px;
                //         }
                //     }
                // }
            }
        }
        .more-option {
            position: absolute; // changes
            top: 13px; // changes
            right: 10px; // changes
            .btn {
                &:hover {
                    color: $clr-secondary;
                }
            }
        }
        .graph-layer {
            .layer {
                width: 95%;
                margin: 0 auto;
                background: rgba(255, 255, 255, 0.4);
                height: 8px;
                position: absolute;
                right: 0;
                left: 0;
                display: none;
                box-shadow: 0px 2px 4px -2px #d2d2d4;
                -webkit-box-shadow: 0px 2px 4px -2px #d2d2d4;
                -moz-box-shadow: 0px 2px 4px -2px #d2d2d4;
                &:nth-child(2) {
                    height: 16px;
                    width: 90%;
                    z-index: 3;
                }
                &:nth-child(3) {
                    height: 24px;
                    width: 85%;
                    z-index: 2;
                }
            }
        }
        .dropdown {
            .dropdown-menu {
                transform: translateX(-85%);
            }
        }
        .mod-tag {
            padding: 2px 35px 0 16px;
            height: 40px;
            min-height: auto;
            position: relative;
            // &:after {
            //     position: absolute;
            //     height: 1px;
            //     width: 95%;
            //     content: "";
            //     background: $clr-root;
            // }
            .more-tag {
                position: absolute;
                right: 12px;
                top: 3px;
                transform: rotate(90deg);
                padding: 10px 5px;
                font-size: 1.4rem;
                cursor: pointer;
                transition: all .3s ease-in;
                &:hover {
                    color: $clr-secondary;
                }
                &.active {
                    transform: rotate(-90deg);
                    color: $clr-secondary;
                }
            }
            .filter-list {
                position: absolute;
                left: 105px;
                right: 52px;
                top: 2px;
                height: 31px;
                overflow: hidden;
                background: $clr-white;
                white-space: normal;
                z-index: 1;
                transition: all .3s ease-in;
                &.active {
                    padding-bottom: 4px;
                    height: auto;
                    max-height: 100px;
                    overflow: auto;
                    white-space: normal;
                    box-shadow: 0px 2px 4px 0px #e8e8e8;
                }
                .bs-tag {
                    &.applied {
                        margin-right: 8px;
                        padding: 0 10px 0 4px;
                    }
                }
            }
        }
    }
    &.layer1 {
        margin-bottom: 40px;
        .card-cont {
            .graph-layer {
                .layer {
                    &:first-child {
                        display: block;
                    }
                }
            }
        }
    }
    &.layer2 {
        margin-bottom: 40px;
        .card-cont {
            .graph-layer {
                .layer {
                    &:first-child,
                    &:nth-child(2) {
                        display: block;
                    }
                }
            }
        }
    }
    &.layer3 {
        margin-bottom: 40px;
        .card-cont {
            .graph-layer {
                .layer {
                    display: block;
                }
            }
        }
    }
}

.add-report-card {
    .bs-icon-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .icon {
        font-size: 2.1rem;
    }
    .text {
        font-size: 1.4rem;
        line-height: 1.7rem;
        margin-top: 5px;
        text-transform: capitalize;
        font-weight: $font-regular;
    }
}

@include media($media1024) {
    .mod-report-card {
        .mod-heading {
            .title {
                max-width: 260px;
                font-size: 1.3rem;
                line-height: 1.6rem;
            }
        }
        .card-cont {
            .more-option {
                display: none;
            }
            .card-header {
                padding: 12px 16px 5px 16px;
            }
        }
    }
}

@include media($media768) {
    .mod-report-card {
        .mod-heading {
            .title {
                margin-top: 0;
                max-width: 380px;
            }
        }
    }
}

@include media($media568) {
    .mod-report-card {
        .mod-heading {
            .title {
                max-width: 175px;
            }
        }
    }
}

@include media($media320) {
    .mod-report-card {
        .card-cont {
            .card-header {
                .title {
                    max-width: 130px;
                }
            }
        }
    }
}