.mod-persona-option {
    display: inline-block;
    font-size: 0;
    margin-bottom: 15px;
    width: 100%;
    .action-list {
        float: left;
        .btn {
            border-radius: 0;
            border: 1px solid #ccc;
            color: $clr-heading;
            font-size: 1.1rem;
            padding: 8px 12px 5px;
            margin: 0;
            height: 39px;
            .icon {
                font-size: 1.6rem;
                margin-right: 8px;
                &.icon-view-summary {
                    font-size: 1.9rem;
                }
            }
            .text {
                text-transform: uppercase;
                font-size: 1.2rem;
            }
            &:hover {
                color: $clr-secondary;
            }
        }
        .btn+.btn {
            border-left: 0;
        }
    }
    .option-list {
        text-transform: uppercase;
        float: right;
        .item-showing {
            vertical-align: middle;
            padding-left: 20px;
            text-align: center;
            display: inline-block;
            .value {
                font-size: 1.8rem;
                font-weight: $font-bold;
                color: $clr-heading;
            }
        }
        .value-label {
            padding: 0 0 3px;
            font-size: 1.1rem;
        }
        .item-selected {
            display: inline-block;
            padding: 3px 23px 3px 20px;
            position: relative;
            margin-left: 20px;
            vertical-align: middle;
            border-left: 1px solid $shadow-gray;
            .selected-count {
                background: $clr-secondary;
                width: 20px;
                position: absolute;
                height: 20px;
                line-height: 21px;
                text-align: center;
                font-size: 1rem;
                color: $clr-white;
                top: -2px;
                right: 0;
                border-radius: 50%;
            }
            .bs-toggle-btn {
                text-align: center;
                margin-top: 5px;
            }
        }
    }
}