.mod-status {
    background: $shadow-gray;
    color: $clr-heading;
    font-size: 1.2rem;
    text-transform: capitalize;
    padding: 4px 8px 5px;
    border-radius: 3px;
    font-weight: $font-light;
    letter-spacing: 0.5px;
    &.active {
        background: $clr-secondary;
        color: $clr-white;
    }
}