.mod-checkbox-list {
    .title {
        font-size: 1.6rem;
        font-weight: $font-md;
        color: $clr-heading;
        margin-bottom: 18px;
    }
    .parent {
        >li {
            width: 50%;
            float: left;
            padding-right: 20px;
            &:nth-child(2n) {
                border-left: 1px solid #f3f3f3;
                padding-left: 20px;
                padding-right: 0;
            }
        }
    }
    ul {
        overflow: hidden;
    }
    li {
        margin: 0 0 10px 0;
        li {
            margin: 0px 0 10px;
        }
    }
    .bs-checkbox {
        display: block;
        white-space: nowrap;
        padding-bottom: 3px;
        overflow: hidden;
        text-overflow: ellipsis;
        .input-label {
            font-size: 1.6rem;
            line-height: 18px;
            font-weight: $font-light;
        }
    }
    .mod-checkbox-list {
        padding-left: 22px;
        position: relative;
        .title {
            margin-top: 18px;
            margin-bottom: 12px;
            font-size: 1.2rem;
        }
        .bs-checkbox {
            .input-label {
                font-size: 1.2rem;
                line-height: 16px;
            }
        }
        li {
            width: 33.33%;
            float: left;
            padding-bottom: 0;
            padding-right: 15px;
        }
        &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            cursor: not-allowed;
            z-index: 1;
            bottom: 0;
            background: rgba(255, 255, 255, 0.7);
        }
        &.active {
            &:before {
                display: none;
            }
        }
    }
}