// mod-filter-opt
.mod-filter-opt {
    display: none;
    .lvl {
        // width: 640px;
        position: relative;
        .tabs {
            .nav {
                padding-top: 6px;
                border-bottom: none;
                .item {
                    padding: 0;
                    a {
                        font-size: 1.4rem;
                        line-height: 16px;
                        margin-bottom: 8px;
                        padding: 10px 6px;
                    }
                }
            }
            .tab-content {
                padding: 0;
            }
        }
        .act-btn {
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            padding: 10px 0;
            background: $clr-white;
            @include box-shadow(0, -1px, 5px, -2px rgba(163, 163, 163, 1));
            .btn-link {
                padding: 0 10px 0 0;
                margin: 5px 0 0 10px;
                &.btn-cancel {
                    border-right: 1px solid #ddd;
                }
                &:hover,
                &:focus {
                    border-bottom: none;
                }
            }
            .applied-filter {
                margin: 0 20px 0 0;
            }
            .apply-count {
                background: $clr-white;
                font-size: 1.2rem;
                display: inline-block;
                margin: 0 3px;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                line-height: 20px;
                font-weight: 400;
                color: $clr-secondary;
            }
        }
        .scroll-wrap {
            position: absolute;
            right: 0;
            left: 0;
            top: 95px;
            bottom: 52px;
            overflow-x: auto;
        }
        .filter-list {
            // position: absolute;
            // right: 0;
            // left: 0;
            // top: 95px;
            // bottom: 52px;
            // overflow-x: auto;
            .item {
                border-bottom: 1px solid $light-gray;
                transition: all .3s ease-in;
                a {
                    font-weight: $font-light;
                    color: $clr-heading;
                    padding: 10px 30px 10px 12px;
                    font-size: 1.6rem;
                    line-height: 18px;
                    display: block;
                    position: relative;
                    letter-spacing: 0.3px;
                    .count {
                        background: #ff9933;
                        font-size: 1.2rem;
                        line-height: 14px;
                        padding: 3px;
                        border-radius: 50%;
                        display: inline-block;
                        margin-left: 6px;
                        width: 20px;
                        height: 20px;
                        font-weight: $font-regular;
                        color: $clr-white;
                        text-align: center;
                    }
                    .icon-right-arrow {
                        font-size: 1.2rem;
                        line-height: 14px;
                        right: 18px;
                        top: 13px;
                        color: $clr-sub-heading;
                    }
                    &:hover,
                    &.active {
                        background: #f9f9f9;
                    }
                }
                &.active {
                    background: #f9f9f9;
                }
            }
        }
        .lvl2 {
            width: 320px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background: #f9f9f9;
            z-index: 2;
            box-shadow: 1.5px 0 5px $md-gray;
            transition: all .3s ease-in;
            &.active {
                right: -320px;
            }
            .bs-search {
                .form-control {
                    background: transparent;
                }
            }
            .scroll-wrap {
                top: 44px;
                bottom: 0;
                .item {
                    display: block;
                    .bs-checkbox,
                    .bs-radio {
                        width: 100%;
                        .input-label {
                            padding: 10px 34px;
                            width: 100%;
                            &:before {
                                left: 11px;
                                top: 12px;
                            }
                            &:after {
                                left: 16px;
                                top: 14px;
                            }
                            &:hover {
                                background: #f2f2f2;
                            }
                        }
                    }
                    .bs-radio {
                        .input-label {
                            &:after {
                                left: 14px;
                                top: 15px;
                            }
                        }
                    }
                }
            }
            .lyt-tag {
                padding: 6px 10px;
                overflow: auto;
                height: 51px;
                border-bottom: 1px solid $light-gray;
                .tag-title {
                    float: left;
                    margin: 2px 6px 0 0;
                }
                .bs-tag {
                    //padding: 3px 21px 4px 10px;
                    // &.typ-num {
                    //     .num {
                    //         left: 4px;
                    //         top: 3px;
                    //         width: 15px;
                    //         height: 15px;
                    //         padding: 2px;
                    //     }
                    // }
                    .text {
                        font-size: 1rem;
                        line-height: 10px;
                    }
                }
                &.type-big {
                    margin-bottom: 10px;
                    height: auto;
                    &.last {
                        border-bottom: 0;
                    }
                    .tag-title {
                        display: block;
                        float: none;
                        margin: 7px 0 11px;
                        font-size: 1.2rem;
                        .icon {
                            position: static;
                            margin: 0 4px 0 0;
                            vertical-align: middle;
                            display: inline-block;
                        }
                    }
                    .cat-title {
                        font-weight: normal;
                        font-size: 1.4rem;
                        margin: 0 0 6px 0px;
                    }
                    .bs-tag {
                        background: $clr-white;
                        .text {
                            font-size: 1.1rem;
                        }
                        .icon {
                            top: 2px;
                            font-size: 0.8rem;
                        }
                    }
                    .list {
                        .item {
                            margin-bottom: 7px;
                        }
                    }
                    .tag-category {
                        ul {
                            display: inline-block;
                            width: 100%;
                        }
                        padding-bottom: 6px;
                    }
                }
            }
            &.typ-with-filter {
                .scroll-wrap {
                    top: 154px;
                }
            }
            .tab-sub-options {
                display: none;
                &.active {
                    display: block;
                    height: 100%;
                    position: relative;
                    overflow: auto;
                }
                .form-wrap {
                    text-align: center;
                    padding: 20px 20px 10px;
                    .form-group {
                        .form-control {
                            background: transparent;
                        }
                        &.addon {
                            .form-control {
                                padding-right: 32px;
                            }
                            .icon {
                                top: 10px;
                                right: 5px;
                                font-size: 2rem;
                                transform: none;
                            }
                        }
                    }
                }
                .scroll-wrap {
                    &.typ-yesno {
                        top: 110px !important;
                    }
                }
            }
        }
    }
    .lvl1,
    .lvl2 {
        position: relative;
        height: 450px;
        width: 320px;
    }
    .lvl1 {
        box-shadow: -2px 0 5px $md-gray;
        z-index: 4;
        background: $clr-white;
        .bs-radio input[type=radio]:not(old):checked+label:after {
            display: none;
        }
        .bs-radio.typ-radio-btn input[type=radio]:not(old)+label:hover {
            color: $clr-heading;
        }
    }
    .lvl2 {
        .bs-search {
            margin: 0;
            box-shadow: 0px 0px 6px $light-gray;
        }
    }
    .lyt-filter {
        &.typ2 {
            background: $clr-white;
            padding: 14px 10px;
            //border-bottom: 1px solid $light-gray;
            .list {
                .item {
                    border-bottom: none;
                    margin-right: 10px;
                    .bs-radio {
                        &.typ-radio-btn {
                            margin-right: 1px;
                            input[type=radio]:not(old)+label {
                                border-radius: 0;
                                background: #f3f5f5;
                                border: none;
                                font-weight: $font-regular;
                                padding: 4px 10px;
                            }
                            input[type=radio]:not(old):checked+label {
                                color: $clr-white;
                                background: #ff9c00;
                            }
                        }
                    }
                }
            }
            &.typ-operator {
                border: none;
                padding: 8px 10px;
                border-bottom: 1px solid $light-gray;
                box-shadow: 0px 0px 2px $light-gray;
                >.title {
                    margin-bottom: 7px;
                }
                .list {
                    .item {
                        .bs-radio {
                            &.typ-radio-btn {
                                input[type=radio]:not(old)+label {
                                    padding: 2px 6px;
                                    background: $clr-white;
                                }
                                input[type=radio]:not(old):checked+label {
                                    background: #ff9c00;
                                }
                                .icon {
                                    position: relative;
                                    font-size: 1.6rem;
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.active {
        display: block;
    }
}

@include media(mobile) {
    .mod-filter-opt {
        .lvl {
            .lvl2 {
                padding-top: 40px;
                left: -100%;
                right: 0;
                display: block;
                width: 100%;
                z-index: 5;
                position: fixed;
            }
            .act-btn {
                padding: 10px 6px;
            }
        }
    }
}

@include media($media768) {
    .mod-filter-opt {
        .lvl {
            .lvl2 {
                .tab-sub-options {
                    .form-wrap {
                        .form-group {
                            &.addon {
                                .icon {
                                    left: auto;
                                }
                            }
                        }
                    }
                }
            }
            .filter-list {
                .item {
                    a {
                        .count {
                            line-height: 15px;
                        }
                    }
                }
            }
        }
    }
}