// mod card
.mod-card {
    display: inline-block;
    width: 100%;
    padding: 20px 20px 0 20px;
    position: relative;
    float: left;
    background: $clr-white;
    &.legend-hot {
        .card-title {
            &:before {
                background: #dd1212;
            }
        }
    }
    &.legend-netural {
        .card-title {
            &:before {
                background: #ff6c00;
            }
        }
    }
    &.legend-cold {
        .card-title {
            &:before {
                background: #00b3e3;
            }
        }
    }
    .card-title {
        position: relative;
        padding-right: 24px;
        &:before {
            position: absolute;
            top: 6px;
            left: -20px;
            width: 5px;
            height: 17px;
            content: "";
        }
    }
    .title {
        font-weight: $font-regular;
        font-size: 24px;
        margin: 0;
        color: $clr-heading;
        line-height: 26px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .columns {
        .hide {
            display: inline-block!important;
        }
    }
    .card-group {
        font-size: 12px;
        margin: 0px 0 2px;
        color: $clr-notify-text;
        line-height: 20px;
    }
    .card-rule {
        font-size: 16px;
        padding: 6px 0 0;
        .card-label {
            font-weight: $font-light;
            color: $clr-heading;
        }
        .value {
            display: inline-block;
            cursor: pointer;
            padding: 0 15px 5px 0;
            font-weight: $font-bold;
            color: $clr-secondary;
            position: relative;
            .rule-tooltip {
                cursor: text;
                display: none;
                padding: 5px;
                border: 1px solid $light-gray;
                width: 435px;
                font-weight: $font-light;
                position: absolute;
                top: -19px;
                z-index: 1;
                color: $clr-heading;
                font-size: 16px;
                left: 100%;
                border-radius: 3px;
                background: $clr-white;
                @include box-shadow(0, 0px, 15px, rgba(0, 0, 0, 0.1));
                &:before {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    border-left: 1px solid $light-gray;
                    border-bottom: 1px solid $light-gray;
                    top: 19px;
                    left: -6px;
                    box-shadow: -4px 3px 5px rgba(0, 0, 0, 0.05);
                    width: 12px;
                    height: 12px;
                    background: #fff;
                    transform: rotate(45deg);
                }
                .list {
                    float: left;
                }
                .item {
                    width: 100%;
                    padding: 15px;
                    line-height: 20px;
                    border-bottom: 1px solid $light-gray;
                    &:last-child {
                        border: 0;
                    }
                }
                .tooltip-height {
                    max-height: 213px;
                    overflow: auto;
                }
            }
            &:hover {
                .rule-tooltip {
                    display: block;
                }
            }
        }
    }
    .card-timestamp,
    .card-user {
        display: block;
        margin: 0 -20px;
        padding: 20px;
        background: #fcfcfc;
    }
    .card-timestamp {
        margin-top: 8px;
        padding: 15px 20px;
    }
    .card-user {
        padding: 0 20px 20px;
        .user-count {
            font-weight: $font-bold;
            font-size: 30px;
            color: $clr-heading;
        }
        .unit {
            font-size: 17px;
        }
    }
    .btn {
        &.btn-link {
            &.btn-sm {
                font-size: 12px;
                right: 25px;
                bottom: 18px;
            }
        }
    }
    .icon-refresh,
    .more-opt-wrap,
    .bs-radio.type2 {
        position: absolute;
    }
    .bs-radio.type2 {
        bottom: 96px;
        right: 7px;
    }
    .icon-refresh {
        color: $clr-secondary;
        float: left;
        margin: 0;
        &:before {
            display: inline-block;
            margin-right: 7px;
            font-size: 11px;
        }
        &:hover,
        &:focus {
            border-bottom: 1px solid transparent;
        }
    }
    .more-opt-wrap {
        top: 20px;
        right: 10px;
    }
    .more-opt-wrap {
        .btn-more-opt {
            background: $clr-white;
            border: 0;
            padding: 3px 7px;
            font-size: 20px;
            outline: 0;
        }
    }
}

//bhavesh compose css
.mod-card-type2 {
    padding: 18px;
    margin: 10px 0;
    float: left;
    width: 100%;
    background: $clr-white;
    border-radius: 9px;
    box-shadow: 0 0 10px $light-gray;
    color: $clr-heading;
    .divider {
        border-top: 1px solid $light-gray;
        margin-top: 8px;
        padding: 18px 18px 0 18px;
        margin-left: -18px;
        margin-right: -18px;
    }
    .top-brdr {
        border-top: 1px solid $light-gray;
    }
    .add-group {
        .btn {
            margin: 0;
            border: 0;
            vertical-align: middle;
            .icon {
                width: 15px;
                height: 15px;
                line-height: 18px;
                border: 1px solid $clr-secondary;
                font-size: 7px;
                display: inline-block;
                text-align: center;
                margin-right: 3px;
                border-radius: 50%;
            }
            &:hover,
            &:focus {
                border: 0;
            }
        }
    }
    .card-title {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 12px;
        font-weight: $font-bold;
        &.bottom-brdr {
            padding-bottom: 12px;
            border-bottom: 1px solid $light-gray;
        }
        .small-text {
            font-weight: $font-regular;
        }
    }
    .card-radio-box {
        .radio-type-swipe {
            position: relative;
        }
        .label-text {
            font-size: 14px;
            line-height: 16px;
            padding-right: 40px;
            &.bold-label {
                font-weight: $font-bold;
            }
        }
        .mod-switch {
            position: absolute;
            top: 0;
            right: 0;
        }
        &.bottom-brdr {
            border-bottom: 1px solid $light-gray;
            padding-bottom: 15px;
        }
    }
    .card-radio-box+.form-wrap {
        margin-top: 25px;
    }
    &.gray-bg {
        background: none;
        padding: 15px 0 10px;
    }
    .form-wrap {
        &.no-margin {
            margin: 0;
        }
        .form-group {
            &:last-child {
                margin-bottom: 2px;
            }
        }
    }
    .create-new {
        display: none;
        padding: 12px 0 0;
        &.active {
            display: block;
        }
    }
    .bs-radio {
        &.icon-text {
            &.big-type {
                width: 50%;
                margin-right: 0;
                float: left;
                padding-right: 15px;
                .input-label {
                    float: left;
                    img {
                        max-width: 70px;
                        float: left;
                    }
                    .text {
                        float: left;
                        width: 88px;
                    }
                }
            }
        }
    }
    &.compare-diff {
        background: #f2e6e6;
        .form-wrap {
            .form-group {
                .form-control {
                    background: #f2e6e6;
                    border-bottom: 1px solid $md-gray;
                }
            }
        }
    }
    &.typ-textfield {
        .form-wrap {
            margin-bottom: 0;
        }
    }
    .rule-type1 {
        .list {
            .item {
                &:first-child {
                    .mod-rule {
                        &.typ2 {
                            &.active {
                                padding-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}