.mod-heading {
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid $shadow-gray;
    .title {
        display: inline-block;
        font-size: 2.2rem;
        line-height: 3rem;
        color: $clr-heading;
        font-weight: $font-regular;
        .info-tag {
            font-weight: $font-regular;
        }
        .icon {
            font-size: 3rem;
            line-height: 2.1rem;
            margin-right: 10px;
        }
        .text {
            vertical-align: middle;
            font-size: 2.4rem;
            line-height: 2.4rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 400px;
        }
    }
    .subtitle {
        float: left;
        font-weight: $font-regular;
        font-size: 2.2rem;
        color: $clr-heading;
        clear: both;
    }
    .bs-option {
        float: right;
        .js-compare-graph {
            &.active {
                position: relative;
                background: $clr-white;
                padding-bottom: 10px;
                margin-bottom: -11px;
                &:before {
                    position: absolute;
                    content: "";
                    background-color: $clr-white;
                    width: 100%;
                    height: 24px;
                    top: -24px;
                    left: 0;
                }
            }
        }
        .bs-icon-text {
            &.stack {
                .icon {
                    font-size: 1.6rem;
                    line-height: 1.5rem;
                    vertical-align: middle;
                }
                .text {
                    vertical-align: middle;
                    font-size: 1.8rem;
                    font-weight: $font-bold;
                }
            }
            &.create-new {
                .icon {
                    //font-size: 2.8rem;
                    //line-height: 27px;
                    color: #efbb07 !important;
                }
                .text {
                    //font-size: 1.6rem;
                    //line-height: 18px;
                    //font-weight: 300;
                }
            }
        }
        &.typ-big {
            margin-top: 5px;
        }
    }
    .bs-icon-text {
        padding: 0;
        &.btn-reset {
            color: $clr-secondary;
            padding: 6px 6px 6px 10px;
            display: inline-block;
            margin-left: 10px;
            position: relative;
            .icon {
                font-size: 1.3rem;
                line-height: 1.6rem;
                margin-right: 4px;
            }
            .text {
                font-size: 1.4rem;
                line-height: 1.6rem;
            }
            &:before {
                content: "";
                background-color: $clr-notify-text;
                width: 1px;
                height: 24px;
                position: absolute;
                top: 2px;
                left: 0;
            }
        }
    }
    .btn-back-arrow {
        position: relative;
        width: 26px;
        height: 25px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        transition: all 0.3s;
        .icon {
            font-size: 22px;
            line-height: 32px;
            color: $clr-white;
            position: absolute;
            transform: rotate(90deg);
            top: -5px;
        }
        &:hover {
            transform: scale(1.1);
        }
    }
    .status-wrap {
        display: inline-block;
        position: relative;
        top: 3px;
        margin-left: 20px;
    }
    .brand-wrap {
        float: right;
        margin: 10px 0 0 0;
    }
    .steps-wrap {
        float: right;
        margin: -10px 0 -8px;
    }
    .mod-status {
        display: inline-block;
        margin-left: 12px;
        position: relative;
        top: 2px;
    }
}