.mod-left-nav {
    background: $clr-white;
    box-shadow: 0 0 10px $shadow-gray;
    padding: 0 12px;
    li {
        position: relative;
        .bs-icon-text {
            .icon {
                margin-right: 12px;
                line-height: 21px;
                font-size: 2.4rem;
                width: 28px;
                &:before {
                    line-height: 21px;
                    display: inline-block;
                    vertical-align: middle;
                }
                &.icon-visualize-manage {
                    font-size: 2rem;
                    margin-left: 2px;
                }
                &.icon-licensingbasic-details {
                    font-size: 2.8rem;
                }
            }
            .text {
                font-size: 1.2rem;
                line-height: 21px;
                vertical-align: middle;
                display: inline-block;
            }
        }
        .count {
            padding-left: 10px;
            margin-left: 8px;
            border-left: 1px solid #cccccc;
            line-height: 21px;
            display: inline-block;
        }
        a {
            display: block;
            border-bottom: 1px solid #ebebeb;
            padding: 12px;
            &:hover {
                .bs-icon-text {
                    color: $clr-secondary;
                }
            }
        }
        &.active {
            position: relative;
            .bs-icon-text {
                color: $clr-secondary;
            }
            &:after {
                content: "";
                border: 7px solid transparent;
                border-left-color: $clr-secondary;
                position: absolute;
                top: 50%;
                right: 2px;
                transform: translateY(-50%);
            }
        }
    }
    .view-summary {
        padding: 20px 10px;
        text-align: center;
        a {
            display: inline-block;
            padding: 10px 0;
            color: $clr-secondary;
            text-decoration: underline;
        }
    }
}