.mod-language {
    display: inline-block;
    width: 100%;
    font-size: 1.1rem;
    .item {
        float: left;
        cursor: pointer; //bhavesh compose
    }
    //bhavesh compose start
    .applied-language {
        .item {
            float: none;
            display: inline-block;
        }
    }
    .lang-tag {
        position: relative;
        margin-right: 6px;
        .lang-name {
            position: relative;
            border: 0;
            padding: 6px 12px 6px;
            background: $clr-orange;
            border-radius: 22px;
            border-color: $clr-orange;
            box-shadow: 0px 0px 10px $light-gray;
            .text {
                color: $clr-white;
            }
        }
        .icon {
            position: absolute;
            top: -5px;
            right: -5px;
            background: $clr-secondary;
            color: $clr-white;
            width: 15px;
            height: 15px;
            line-height: 18px;
            text-align: center;
            font-size: 7px;
            border-radius: 50%;
            padding-right: 1px;
        }
        &.default-state {
            .lang-name {
                background: $clr-white;
                border-color: $md-gray;
            }
            .text {
                color: #a6a6a6;
            }
            .icon {
                display: none;
            }
        }
        &.selected-state {
            .icon {
                display: none;
            }
        }
        &.current-state {
            .icon {
                display: none;
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                background: #d4dae0;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
                width: 46px;
                height: 46px;
                border: 8px solid #e8eaec;
                border-radius: 50%;
            }
        }
    }
    &.typ2 {
        padding-right: 47px;
        position: relative;
        .language-list {
            max-height: 50px;
            overflow: hidden;
            padding: 7px 0 0px 0;
            transition: max-height 0.6s;
        }
        &.show-more {
            .language-list {
                max-height: 103px;
                overflow: auto;
            }
        }
        .btn {
            position: absolute;
            top: 14px;
            right: 0;
            margin: 0;
            padding: 2px 14px;
            border: 1px solid $md-gray;
            color: #999;
            line-height: 21px;
            font-size: 1.2rem;
            background: $clr-white;
            &:before {
                transition: all 0.4s;
                transform: rotate(90deg);
                vertical-align: middle;
                margin-top: -2px;
                display: inline-block;
            }
            &.btn-less {
                color: $clr-white;
                background: #999;
                &:before {
                    transform: rotate(-90deg);
                }
            }
            &:hover {
                border: 1px solid $clr-primary;
                background: $clr-primary;
                color: $clr-white;
            }
        }
        .item {
            margin-bottom: 9px;
            margin-top: 8px;
        }
    }
    //bhavesh compose end
}