//mod-rule-relate
.mod-rule-relate {
    background: $clr-secondary;
    padding: 5px 25px;
    border-radius: 14px;
    overflow: hidden;
    .relate-title {
        display: inline-block;
    }
    .radio-wrap {
        float: left;
    }
    .watch-link {
        float: right;
        margin-top: 1px;
    }
    .relate-title {
        font-weight: $font-regular;
        color: $clr-white;
        margin-right: 5px;
    }
    .watch-link,
    .watch-link:hover {
        font-size: 1.2rem;
        line-height: 17px;
        color: $clr-white;
        .icon {
            color: $clr-white;
            margin-right: 5px;
            display: inline-block;
            vertical-align: middle;
            line-height: 13px;
        }
    }
}