.mod-tag {
    //background: #fbfbfb;
    padding: 9px 10px 0;
    min-height: 54px;
    .tag-label {
        float: left;
        font-weight: $font-bold;
        margin-top: 9px;
        font-size: 1.2rem;
    }
    .filter-list {
        overflow: auto;
        white-space: nowrap;
    }
}