// mod-timeframe
.mod-timeframe {
    button {
        border: none;
        background-color: transparent;
        &:focus {
            outline: none;
        }
    }
    .title {
        font-weight: $font-bold;
        color: $clr-heading;
        display: inline-block;
        font-size: 1.4rem;
        line-height: 14px;
        margin-right: 10px;
        vertical-align: middle;
        padding-left: 40px;
        .typ-edit {
            display: none;
        }
        &.active {
            // float: right;
            font-size: 1.4rem;
            line-height: 17px;
            .typ-edit {
                display: block;
            }
            span {
                display: block;
            }
            +.date-wrap {
                position: relative;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    .date-wrap {
        border-bottom: 1px solid $md-gray;
        display: block;
        padding-bottom: 3px;
        position: relative;
        vertical-align: middle;
        // &:before {
        //     content: "";
        //     position: absolute;
        //     top: 8px;
        //     right: 8px;
        //     border: 6px solid transparent;
        //     border-top: 6px solid $clr-heading;
        // }
        .form-control {
            font-size: 1.2rem;
            line-height: 20px;
            font-weight: $font-regular;
            display: block;
            border: 0;
            background: transparent;
            box-shadow: none;
            padding: 0px;
            margin-top: 0;
            height: auto;
            border-radius: 0;
        }
    }
}

.filter-timeframe-title {
    display: none;
}

.time-zone {
    position: absolute;
    right: -169px;
    top: 5px;
    background: #e2e2e2;
    color: $clr-heading;
    padding: 7px 20px 7px 30px;
    font-size: 1.1rem;
    .icon {
        position: absolute;
        font-size: 1.4rem;
        left: 10px;
        top: 6px
    }
}

@include media($media1024) {
    .filter-timeframe-title {
        font-size: 2.1rem;
        position: absolute;
        right: 0;
        left: 16px;
        top: 13px;
        font-weight: 400;
        letter-spacing: 1px;
        display: block;
    }
}