.mod-persona-card {
    border: 1px solid $shadow-gray;
    color: $clr-heading;
    position: relative;
    box-shadow: 0 0 10px $shadow-gray;
    font-size: 1.4rem;
    .head-cont {
        padding: 12px 40px 12px 12px;
        .title {
            font-size: 1.8rem;
            margin-bottom: 8px;
            font-weight: $font-md;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .btn {
            padding: 5px 10px;
            margin: 0;
            background: transparent;
            position: absolute;
            top: 10px;
            right: 5px;
            color: $clr-sub-heading;
            &:hover {
                color: $clr-secondary;
            }
        }
    }
    .value-label {
        color: $clr-sub-heading;
    }
    .body-cont,
    .foot-cont {
        padding: 12px 12px 12px 12px;
    }
    .body-cont {
        border: 1px solid $shadow-gray;
        border-left: 0;
        border-right: 0;
        overflow: hidden;
        .revenue-count,
        .cust-count {
            width: 50%;
            float: left;
        }
        .revenue-count {
            padding-right: 10px;
        }
        .cust-count {
            border-left: 1px solid $shadow-gray;
            padding-left: 12px;
        }
        .count {
            float: left;
            display: block;
            font-size: 2rem;
            font-weight: $font-bold;
            color: $clr-secondary;
        }
        .value-label {
            display: block;
            vertical-align: middle;
            padding-left: 5px;
            line-height: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .foot-cont {
        overflow: hidden;
        position: relative;
        padding-right: 75px;
        .timestamp {
            line-height: 21px;
        }
        .mod-status {
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
        }
    }
    &.active {
        .mod-status {
            background: $clr-secondary;
            color: $clr-white;
        }
    }
}