.mod-specification-card {
    width: 100%;
    padding: 15px 20px 0 20px;
    position: relative;
    float: left;
    background: $clr-white;
    box-shadow: 0 0 10px $light-gray;
    &.legend-hot {
        .card-title {
            &:before {
                background: #dd1212;
            }
        }
    }
    &.legend-netural {
        .card-title {
            &:before {
                background: #ffa500;
            }
        }
    }
    &.legend-cold {
        .card-title {
            &:before {
                background: #00b3e3;
            }
        }
    }
    &.legend-active {
        .card-title {
            &:before {
                background: #309763;
            }
        }
    }
    &.legend-scheduled {
        .card-title {
            &:before {
                background: #023599;
            }
        }
    }
    &.legend-draft {
        .card-title {
            &:before {
                background: #ffbe33;
            }
        }
    }
    &.legend-paused {
        .card-title {
            &:before {
                background: #00b3e3;
            }
        }
    }
    .card-title {
        position: relative;
        padding-right: 24px;
        &:before {
            position: absolute;
            top: 4px;
            left: -20px;
            width: 5px;
            height: 20px;
            content: "";
        }
    }
    .title {
        font-weight: $font-regular;
        font-size: 2rem;
        margin: 0;
        color: $clr-heading;
        line-height: 26px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .columns {
        .hide {
            display: inline-block!important;
        }
    }
    .card-group {
        font-size: 1.3rem;
        margin: 0px 0 2px;
        color: $clr-notify-text;
        line-height: 20px;
    }
    .card-rule {
        font-size: 1.6rem;
        padding: 10px 0 20px;
        .card-label {
            font-weight: $font-light;
            color: $clr-heading;
        }
        .value {
            display: inline-block;
            cursor: pointer;
            padding: 0 15px 5px 0;
            font-weight: $font-bold;
            color: $clr-secondary;
            position: relative;
            .rule-tooltip {
                cursor: text;
                display: none;
                padding: 5px;
                border: 1px solid $light-gray;
                width: 435px;
                font-weight: $font-light;
                position: absolute;
                top: -88px;
                z-index: 1001;
                color: $clr-heading;
                font-size: 1.6rem;
                left: 100%;
                border-radius: 3px;
                background: $clr-white;
                @include box-shadow(0, 0px, 15px, rgba(0, 0, 0, 0.1));
                &:before {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    border-left: 1px solid $light-gray;
                    border-bottom: 1px solid $light-gray;
                    top: 90px;
                    left: -6px;
                    box-shadow: -4px 3px 5px rgba(0, 0, 0, 0.05);
                    width: 12px;
                    height: 12px;
                    background: #fff;
                    transform: rotate(45deg);
                }
                .list {
                    float: left;
                }
                .item {
                    width: 100%;
                    padding: 15px;
                    line-height: 20px;
                    border-bottom: 1px solid $light-gray;
                    &:last-child {
                        border: 0;
                    }
                }
                .tooltip-height {
                    max-height: 213px;
                    overflow: auto;
                }
            }
            &:hover {
                .rule-tooltip {
                    display: block;
                }
            }
        }
    }
    .card-timestamp,
    .card-user,
    .card-description {
        display: block;
        margin: 0 -20px;
        padding: 20px;
        background: #fcfcfc;
    }
    .card-description {
        line-height: 18px;
        font-size: 1.3rem;
        .card-label {
            color: $clr-heading;
            font-weight: $font-md;
            display: block !important;
        }
        .value {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .card-timestamp {
        margin-top: 8px;
        padding: 15px 20px 9px;
        display: none;
    }
    .card-user {
        padding: 0 20px 20px;
        display: none;
        .user-count {
            font-weight: $font-bold;
            font-size: 3rem;
            color: $clr-heading;
        }
        .unit {
            font-size: 1.7rem;
        }
    }
    .btn {
        &.btn-link {
            &.btn-sm {
                font-size: 1.2rem;
                right: 20px;
                display: none !important;
            }
        }
    }
    .icon-refresh,
    .more-opt-wrap {
        position: absolute;
        bottom: 12px;
    }
    .go-to-summary {
        position: absolute;
        bottom: 18px;
        right: 20px;
        .btn {
            padding: 0;
            margin: 0;
            border: 0;
            span.icon {
                padding: 0;
                font-size: 1.4rem;
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 33px;
                margin: 0;
                border: 0;
                display: block;
                &:before {
                    font-weight: $font-bold !important;
                }
            }
        }
    }
    .icon-refresh {
        color: $clr-secondary;
        float: left;
        margin: 0;
        &:before {
            display: inline-block;
            margin-right: 7px;
            font-size: 1.1rem;
        }
        &:hover,
        &:focus {
            border-bottom: 1px solid transparent;
        }
    }
    .more-opt-wrap {
        top: 15px;
        right: 8px;
        .btn-more-opt {
            background: $clr-white;
            border: 0;
            padding: 3px 4px 3px 7px;
            font-size: 2rem;
            outline: 0;
            &:hover {
                color: $clr-secondary;
            }
        }
        .dropdown-menu {
            left: inherit;
            top: 35px;
            right: 0;
            width: auto;
            box-shadow: 0 0px 12px rgba(0, 0, 0, .175);
            &:before {
                content: "";
                display: inline-block;
                position: absolute;
                top: -6px;
                z-index: -1;
                left: inherit;
                box-shadow: -4px 3px 5px rgba(0, 0, 0, 0.05);
                width: 12px;
                height: 12px;
                background: #fff;
                transform: rotate(135deg);
                right: 7px;
            }
        }
    }
}

@include media($media1170) {
    .mod-specification-card {
        .card-rule {
            .value {
                .rule-tooltip {
                    display: none !important;
                }
            }
        }
    }
}

@include media($media568) {
    .mod-specification-card {
        .title {
            font-size: 2rem;
        }
        .card-user {
            .user-count {
                font-size: 2.3rem;
            }
        }
    }
}