.mod-permission {
    margin-top: 20px;
    border: 1px solid $light-gray;
    border-bottom: 0;
    .permission-head {
        overflow: hidden;
        padding: 8px 10px;
        background: $light-gray;
        .head-title {
            font-weight: $font-md;
            font-size: 1.4rem;
            color: $clr-heading;
            float: left;
        }
    }
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5 {
        padding: 0 10px;
    }
    .col-1 {
        width: 27%;
        float: left;
        text-align: left;
    }
    .col-2,
    .col-4 {
        text-align: center;
        float: left;
        width: 13%;
    }
    .col-3 {
        text-align: center;
        float: left;
        width: 17%;
    }
    .col-5 {
        float: left;
        width: 30%;
        padding-right: 0;
        text-align: right;
    }
    .permission-body {
        li {
            padding: 12px 10px;
            color: $clr-heading;
            font-size: 1.4rem;
            overflow: hidden;
            border-bottom: 1px solid $light-gray;
            .col-1 {
                line-height: 26px;
            }
            .btn {
                padding: 4px 7px;
                margin: 0;
                font-size: 1.9rem;
                line-height: 15px;
                color: $clr-heading;
                &:hover {
                    color: $clr-error;
                }
            }
        }
    }
}