//mod-subscription
.mod-subscription {
    background: $clr-white;
    box-shadow: 0px 0px 13px $md-gray;
    margin: 10px;
    border-radius: 3px;
    .title {
        font-size: 1.6rem;
        line-height: 18px;
        padding: 16px 20px;
        margin-bottom: 12px;
        color: $clr-heading;
        font-weight: $font-regular;
        border-bottom: 1px solid $shadow-gray;
    }
    .content-wrap {
        padding: 5px 20px 16px 20px;
        .radio-wrap {
            margin-bottom: 10px;
            label {
                margin-right: 10px;
            }
        }
        .form-wrap {
            width: 100%;
            display: inline-block;
            .form-group {
                width: 150px;
                float: left;
                margin-bottom: 24px;
                +.form-group {
                    margin-left: 30px;
                }
                .form-control {
                    margin-top: 0;
                }
            }
        }
    }
}