.mod-notification {
    position: relative;
    background: $clr-white;
    padding: 15px 25px 10px 50px;
    &:hover {
        background: rgba(0, 0, 0, 0.03);
    }
    .notification-head {
        .title {
            width: 50%;
            a {
                font-size: 1.6rem;
                line-height: 1.8rem;
                font-weight: $font-md;
                color: $clr-heading;
                display: inline-block;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .timestamp {
            position: absolute;
            top: 18px;
            right: 50px;
            font-size: 1.1rem;
            span {
                color: $light-gray;
                padding: 0 10px;
            }
        }
    }
    .notification-body {
        .desc {
            color: $clr-notify-text;
            font-size: 1.2rem;
            line-height: 1.7rem;
            margin-top: 6px;
        }
        ul {
            li {
                display: inline-block;
                margin-right: 15px;
                .bs-icon-text {
                    padding-left: 0;
                    margin-top: 3px;
                }
                .icon {
                    font-size: 1.8rem;
                    line-height: 1.1rem;
                    &.icon-view {
                        font-size: 2rem;
                        line-height: 1.2rem;
                        position: relative;
                        top: -2px;
                    }
                }
                .text {
                    text-transform: uppercase;
                }
            }
        }
    }
    .icon-trash {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 15px;
        height: 15px;
        font-size: 1.4rem;
        &:hover {
            color: $clr-secondary;
        }
    }
    &:after {
        content: "";
        font-size: 2rem;
        line-height: 2.4rem;
        position: absolute;
        left: 20px;
        top: 14px;
        font-family: "catchmedia-new" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }
    &.campaign {
        &:after {
            content: "\6f";
        }
    }
    &.report {
        &:after {
            content: "\75";
        }
    }
    &.message {
        &:after {
            content: "\5b";
        }
    }
    &.kpi {
        &:after {
            content: "\4a";
        }
    }
    &.alert {
        margin: 0;
        &:after {
            content: "\33";
        }
        .notification-head {
            .title {
                a {
                    color: $clr-error;
                }
            }
        }
    }
    &.share {
        &:after {
            content: "\4c";
        }
    }
    &.approval {
        &:after {
            content: "\40";
        }
    }
}

@include media($media1024) {
    .mod-notification {
        .icon-trash {
            font-size: 1.7rem;
        }
    }
}

@include media($media480) {
    .mod-notification {
        padding: 10px 10px 10px 38px;
        &:after {
            left: 10px;
        }
        .notification-head {
            .timestamp {
                position: static;
                display: block;
                margin-top: 5px;
            }
            .title {
                width: 100%;
                padding-right: 20px;
            }
        }
    }
}