// mod legend
.mod-legend {
    .mark {
        display: inline-block;
        vertical-align: middle;
        margin-right: 3px;
        width: 15px;
        height: 5px;
        border-radius: 2px;
        &.clr-red {
            background: #dd1212;
        }
        &.clr-orange {
            background: #ffa500;
        }
        &.clr-blue {
            background: #00b3e3;
        }
        &.legend-active {
            background: #309763;
        }
        &.legend-scheduled {
            background: #023599;
        }
        &.legend-draft {
            background: #ffbe33;
        }
        &.legend-paused {
            background: #00b3e3;
        }
    }
    .title {
        display: inline-block;
        vertical-align: middle;
        font-size: 1.3rem;
    }
}

@include media($media768) {
    .mod-legend {
        .title {
            float: none;
        }
    }
}