.mod-audience-def {
    .audience-details {
        @include box-shadow(0, 0px, 18px, rgba(0, 0, 0, 0.13));
        background: $clr-white;
        position: relative;
        padding: 10px;
        margin-bottom: 15px;
        .detail-wrap {
            padding: 10px;
            position: relative;
        }
        .detail-title {
            color: $clr-heading;
            font-size: 1.4rem;
            margin-bottom: 5px;
            font-weight: $font-bold;
        }
        .btn {
            background: $clr-white;
            color: $clr-heading;
            padding: 5px 10px;
            margin: 0;
            position: absolute;
            top: 5px;
            right: 1px;
            z-index: 1;
            font-size: 1.8rem;
            &:hover {
                color: $clr-secondary;
            }
        }
        .desc {
            font-size: 1.4rem;
            padding-right: 40px;
            p {
                margin: 0;
                line-height: 18px;
            }
            .digit {
                font-size: 2.4rem;
                font-weight: $font-light;
            }
            ul {
                margin-left: 18px;
                li {
                    list-style: disc;
                    font-size: 1.2rem;
                    line-height: 1.4rem;
                    margin-bottom: 7px;
                    font-weight: $font-regular;
                    color: $clr-sub-heading;
                }
            }
            .bs-icon-text {
                margin-top: 4px;
                .icon {
                    color: $clr-secondary;
                }
                .text {
                    font-weight: $font-md;
                }
            }
            .bs-label-value-pair {
                margin-top: 4px;
                margin-right: 0;
                display: block;
                .title {
                    font-size: 1.4rem;
                    display: inline-block;
                    color: $clr-sub-heading;
                    margin-top: 3px;
                    margin-right: 8px;
                }
                .val {
                    display: inline-block;
                    overflow: inherit;
                    margin-right: -40px;
                    .bs-tag {
                        &.applied-typ2 {
                            margin: 0 10px 10px 0;
                            padding: 0 10px;
                            .text {
                                padding: 5px 0;
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
            .bs-tag {
                &.typ-num {
                    padding-right: 12px;
                }
            }
        }
        .img-wrap {
            box-shadow: 0px 0px 16px -5px $clr-notify-text;
            margin: 10px 7px 7px 7px;
            img {
                width: 100%;
            }
        }
        .empty-box {
            display: block;
            text-align: center;
            padding: 100px;
            text-transform: uppercase;
        }
    }
    .checkbox-wrap {
        .bs-checkbox {
            margin-bottom: 8px;
        }
    }
}