// mod-filter
.mod-filter {
    transition: max-height 0.6s;
    button {
        &:focus {
            outline: none;
        }
    }
    .title {
        font-size: 1.3rem;
        font-weight: $font-bold;
        color: $clr-heading;
        line-height: 24px;
        padding-left: 22px;
        margin-right: 14px;
        float: left;
        padding-right: 14px;
        position: relative;
        top: 8px;
        max-width: 120px;
        cursor: pointer;
        &:after {
            position: absolute;
            display: block;
            content: "";
            height: 40px;
            width: 1px;
            background: $md-gray;
            top: -8px;
            right: 0;
        }
        &:hover {
            color: $clr-secondary;
        }
        .icon {
            margin-right: 10px;
            &.icon-down-arrow {
                margin-right: 0;
                font-size: 1rem;
                position: relative;
                top: 2px;
                left: 3px;
            }
        }
    }
    .bs-icon-text {
        float: left;
        font-size: 1.6rem;
        line-height: 35px;
        font-weight: $font-bold;
    }
    .lyt-tag {
        padding-right: 65px;
        margin-top: 4px;
        overflow: hidden;
        .item {
            position: static;
            transform: none;
        }
        .bs-tag {
            margin-top: 0;
            margin: 4px 10px 12px 3px;
            .text {
                cursor: pointer;
            }
            .btn {
                top: 1px;
            }
        }
        .btn-more {
            position: absolute;
            top: 6px;
            right: 14px;
            padding: 4px 17px;
            height: auto;
            border: none;
            border-radius: 20px;
            background-color: $clr-white;
            transition: opacity 0.6s;
            transition-delay: 0.6s;
            border: 1px solid $md-gray;
            &.icon {
                &:before {
                    color: $clr-notify-text;
                    line-height: 18px;
                    transition: all 0.4s;
                    transform: rotate(90deg);
                    vertical-align: middle;
                    display: inline-block;
                }
            }
            &:hover {
                background: $clr-secondary;
                border: 1px solid $clr-secondary;
                &:before {
                    color: $clr-white;
                }
            }
        }
        .btn-less {
            background: $clr-notify-text;
            border-color: $clr-notify-text;
            &.icon {
                &:before {
                    color: $clr-white;
                    transform: rotate(-90deg);
                }
            }
        }
        .bs-tag {
            margin-right: 10px;
            margin-bottom: 12px;
        }
    }
    &.default-filter {
        .title {
            //     top: 4px;
            //     line-height: 16px;
            //     position: relative;
            //     font-size: 1.3rem;
            .icon {
                // left: 6px;
                // float: right;
                //         position: absolute;
                //         top: 10px;
                //         right: 8px;
                //         left: inherit;
            }
        }
        // .icon-filter {
        //     top: 11px;
        //     left: 14px;
        // }
    }
}