.mod-rule-edit {
    .rule-head {
        padding: 0 40px;
        position: absolute;
        border-bottom: 1px solid $light-gray;
        height: 51px;
        right: 0;
        left: 0;
        top: 0;
        .back-btn {
            position: absolute;
            top: 0;
            border-radius: 9px 0 0 0;
            left: 0;
            outline: 0;
            padding: 18px 19px;
            background: $clr-white;
            border: 0;
            border-right: 1px solid $light-gray;
            .icon {
                &:before {
                    font-weight: 700 !important;
                }
            }
            &:hover {
                color: $clr-secondary;
            }
        }
        .title {
            display: inline-block;
            vertical-align: middle;
            padding: 10px 8px 10px 30px;
            font-size: 2rem;
            font-weight: $font-md;
            line-height: 30px;
            color: $clr-heading;
            >span {
                display: inline-block;
                margin-right: 10px;
            }
        }
        .act-wrap {
            display: inline-block;
            vertical-align: middle;
            button {
                background: transparent;
                padding: 0;
                border: 1px solid $md-gray;
                border-radius: 50%;
                width: 22px;
                height: 22px;
                line-height: 24px;
                font-size: 1rem;
                margin: 0 2px;
                &:before {
                    font-weight: 700 !important;
                }
                &:hover {
                    border-color: $clr-secondary;
                }
            }
        }
    }
    .select-event {
        // margin-bottom: 10px; //darshan
    }
    .search-result {
        .js-rule-cont-head {
            h2 {
                font-size: 1.7rem;
                padding: 7px 0;
                font-weight: $font-md;
            }
        }
        .event-list {
            top: 35px;
        }
    }
    .event-title {
        // margin-top: 8px;
        position: relative;
        padding: 0px 0 0 18px;
        font-size: 1.5rem;
        &:before {
            content: "";
            width: 13px;
            border-radius: 50%;
            height: 13px;
            position: absolute;
            top: 0;
            left: 0;
            border: 3px solid $clr-secondary;
        }
    }
    .select-title {
        font-size: 1.8rem;
        display: inline-block;
        margin-top: 18px;
        color: $clr-secondary;
    }
    .rule-filter {
        display: inline-block;
        width: 100%;
        .sec-option {
            float: right;
            margin-top: -10px;
            .item {
                vertical-align: middle;
                display: inline-block;
                position: relative;
            }
            .dropdown-menu {
                top: 42px;
            }
            .form-group {
                &.bs-search {
                    margin-bottom: 0;
                }
            }
        }
        .target-element {
            right: 0;
            top: 36px;
            border-radius: 3px;
            left: inherit;
            max-height: 380px;
        }
        .mod-timeframe {
            cursor: pointer;
            .bs-tag {
                padding: 0;
                display: inline-block;
            }
            .text {
                padding: 5px 12px;
                text-transform: capitalize
            }
            .icon {
                color: $clr-secondary;
                font-size: 3.2rem;
                display: inline-block;
                vertical-align: middle;
                &:before {
                    float: left;
                }
            }
        }
        .bs-icon-text {
            padding: 0px 5px;
            margin: 0 0 0 10px;
            text-align: center;
            color: $clr-heading;
            display: inline-block;
            .icon {
                margin-bottom: 2px;
                font-size: 1.8rem;
                line-height: 20px;
                display: block;
            }
            .text {
                display: block;
                text-transform: capitalize;
            }
        }
        .selected-event {
            padding: 8px 18px 10px;
            vertical-align: top;
            display: inline-block;
            color: $clr-secondary;
        }
    }
    .event-list {
        display: inline-block;
        overflow-y: auto;
        position: absolute;
        top: 10px;
        bottom: 20px;
        right: 0;
        left: 40px;
        .input-label {
            font-size: 1.3rem;
        }
        &.listview {
            li {
                float: left;
                padding: 5px 0 5px 0;
                width: 33.33%;
                display: block;
            }
        }
        &.defaultview {
            li {
                display: inline-block;
                padding: 6px 8px 6px 0;
                .bs-radio {
                    margin: 0;
                    .input-label {
                        padding: 8px 14px;
                        border-radius: 8px;
                        border: 1px solid #dbdbdb;
                        &:hover {
                            border: 1px solid $clr-primary;
                        }
                    }
                    input[type=radio]:not(old)+label {
                        &:before,
                        &:after {
                            display: none;
                        }
                    }
                    input[type=radio]:not(old):checked+label {
                        background: $clr-secondary;
                        color: $clr-white;
                        &:before,
                        &:after {
                            display: none;
                        }
                    }
                }
                .radio-icon {
                    display: none !important;
                }
            }
        }
    }
    .rule-cont {
        padding: 10px 20px 20px 40px;
        position: absolute;
        right: 0;
        left: 0;
        top: 51px;
        bottom: 71px;
        .select-event {
            &.active {
                .event-list {
                    top: 88px;
                }
            }
        }
        .create-rule-step1 {
            margin-right: 20px;
        }
    }
    /* Darshan start */
    .rule-cont-head {
        margin-top: 8px;
        margin-bottom: 10px;
    }
    /* Darshan end */
    .rule-footer {
        background: $clr-white;
        overflow: hidden;
        padding: 20px 30px;
        border-top: 1px solid $light-gray;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        .act-wrap {
            float: right;
            .btn {
                margin-right: 0;
                padding: 5px 20px;
            }
        }
        .user-count {
            font-size: 1.4rem;
            text-transform: uppercase;
            display: inline-block;
            vertical-align: middle;
            line-height: 30px;
            span {
                font-size: 2.2rem;
                font-weight: $font-bold;
            }
        }
    }
    .select-rule-filters {
        overflow-y: auto;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 10px;
        top: 68px;
        .rule-wrapper {
            width: 100%;
            box-shadow: 0 -0px 2px rgba(0, 0, 0, 0.08), inset 0 -0px 2px rgba(0, 0, 0, 0.08);
            padding: 4px 65px 4px 0;
            position: relative;
            border-top: 1px solid $light-gray;
            border-bottom: 1px solid $light-gray;
            float: left;
            .dropdown {
                position: static;
                width: 25%;
            }
            .attr-title {
                font-size: 1.4rem;
                background: transparent;
                margin: 0;
                color: $clr-heading;
                width: 100%;
                text-align: center;
                border-right: 1px solid $light-gray;
                border-radius: 0;
                padding: 12px 20px;
                max-height: 46px;
                font-weight: normal;
                outline: none;
                text-transform: capitalize;
            }
            .values-dropdown {
                width: 180px;
                margin-bottom: 10px;
                .form-wrap {
                    margin: 0 0 0;
                    .form-group {
                        .input-group {
                            display: block;
                            margin: 0;
                            .form-control {
                                margin: 0;
                                height: 36px;
                                line-height: 36px;
                                width: 100%;
                            }
                            .input-group-btn {
                                display: inline-block;
                                position: absolute;
                                top: 0;
                                right: 0;
                                z-index: 4;
                                .btn {
                                    position: static;
                                    display: inline-block;
                                    float: right;
                                    .icon {
                                        right: 8px;
                                        top: 3px;
                                    }
                                }
                            }
                        }
                    }
                }
                .act-wrap {
                    clear: both;
                    padding: 15px;
                    text-align: center;
                }
                li {
                    &:hover {
                        cursor: pointer;
                    }
                }
                &.dropdown-menu {
                    .list {
                        .bs-checkbox,
                        .bs-radio {
                            &:hover {
                                background: transparent;
                            }
                        }
                        .bs-checkbox {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
            .select-attribute {
                position: relative;
                .values-dropdown {
                    top: 50px;
                    width: 100%;
                    li {
                        padding: 10px 12px;
                        border-bottom: 1px solid $light-gray;
                    }
                }
            }
            .select-operator {
                .values-dropdown {
                    padding: 12px 0;
                    width: 77%;
                    left: 23%;
                    li {
                        float: left;
                        display: inline-block;
                        padding: 15px 8px;
                        width: 20%;
                        text-align: center;
                        .icon,
                        .text {
                            display: block;
                            text-align: center;
                        }
                        .icon {
                            font-size: 1.5rem;
                            margin-bottom: 13px;
                            width: 40px;
                            height: 40px;
                            text-align: center;
                            display: inline-block;
                            line-height: 43px;
                            border-radius: 50%;
                            border: 1px solid $clr-heading;
                            &.icon-exculding {
                                font-size: 1.8rem;
                            }
                        }
                        .text {
                            font-size: 1.3rem;
                            font-weight: $font-light;
                            line-height: 16px;
                        }
                        .bs-icon-text {
                            &:hover {
                                color: $clr-secondary;
                                .icon {
                                    border-color: $clr-secondary;
                                }
                            }
                        }
                    }
                }
            }
            .select-values {
                width: 49%;
                .attr-title {
                    border: 0;
                    padding: 12px 35px;
                    text-align: left;
                }
                .values-dropdown {
                    left: calc(50% - 32px);
                    right: 0;
                    width: auto;
                    li {
                        overflow: hidden;
                    }
                    >.list {
                        .item {
                            width: 33.33%;
                            float: left;
                        }
                    }
                    .applied-tag {
                        li {
                            border: 0;
                            overflow: visible;
                            .bs-tag {
                                margin: 0;
                                background: $clr-white;
                            }
                        }
                    }
                }
                &.active {
                    .attr-title {
                        padding: 5px 35px;
                    }
                }
            }
            .delete-rule {
                position: absolute;
                right: 0;
                height: 46px;
                .btn {
                    background: $clr-white;
                    border-radius: 50%;
                    padding: 0;
                    color: $clr-heading;
                    line-height: 28px;
                    height: 25px;
                    width: 25px;
                    border: 1px solid $clr-heading;
                    font-size: 1rem;
                    text-align: center;
                    margin-top: 10px;
                    &:hover {
                        color: $clr-secondary;
                        border-color: $clr-secondary;
                    }
                }
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 67px;
                    height: 100%;
                    width: 1px;
                    background: $light-gray;
                }
            }
        }
        .attr-wrap {
            display: inline-block;
            float: left;
            &:last-child {
                .attr-title {
                    border: 0;
                }
            }
            &.active {
                .brackets {
                    display: inline-block;
                }
                .attr-title {
                    font-size: 1.1rem;
                    padding-top: 5px;
                    min-height: 46px;
                    padding-bottom: 5px;
                    color: $clr-notify-text;
                }
                .selected-value {
                    display: block;
                    font-size: 1.4rem;
                    color: $clr-secondary;
                    font-weight: $font-bold;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    &:before {
                        font-weight: 700 !important;
                        vertical-align: middle;
                    }
                    .icon {
                        &:before {
                            font-weight: 700 !important;
                            vertical-align: middle;
                        }
                    }
                }
                .applied-tag {
                    padding: 8px 8px 0px 8px;
                    overflow: hidden;
                    border-bottom: 1px solid $light-gray;
                    li {
                        margin: 0 8px 8px 0;
                    }
                }
            }
        }
        .brackets,
        .selected-value {
            display: none;
        }
    }
    .search-result {
        .result-group {
            margin: 15px 0;
            float: left;
            width: 100%;
        }
        .search-title {
            position: relative;
            margin-bottom: 6px;
            font-size: 1.4rem;
            font-weight: $font-md;
        }
    }
}

.tooltip-inner {
    max-width: 290px;
    padding: 8px 14px;
    background-color: #ffffff;
    border-radius: 3px;
    color: #000;
    box-shadow: 0 0 12px #d0cece;
    text-align: left;
    font-size: 1.4rem;
    line-height: 18px;
}

@include media($media1366) {
    .mod-rule-edit {
        .rule-filter {
            .target-element {
                right: 40px;
                top: -58px;
                border-radius: 3px;
                max-height: 320px;
                overflow: auto;
            }
        }
    }
}

@include media($media1170) {
    .mod-rule-edit {
        .select-rule-filters {
            .rule-wrapper {
                .select-values {
                    .values-dropdown {
                        >.list {
                            .item {
                                width: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}