// mod-timeframe-opt
.mod-timeframe-opt {
    display: none;
    position: absolute;
    right: 36px;
    top: 60px;
    width: 588px;
    z-index: 9;
    min-height: 300px;
    box-shadow: 0px 0 8px $md-gray;
    background: $clr-white;
    .tabs {
        .nav {
            margin-top: 8px;
            &.list {
                .item {
                    padding: 0;
                    a {
                        margin-bottom: 8px;
                    }
                }
            }
        }
        .tab-content {
            // max-height: 425px;
            // overflow-y: auto;
            // overflow-x: hidden;
            margin: 10px 0 15px;
        }
        &.typ-inner {
            box-shadow: 0px 0px 16px -5px $md-gray;
            display: inline-block;
            width: 100%;
            margin-top: 0px;
            .nav-tabs {
                .item {
                    // margin-bottom: 0;
                }
            }
        }
    }
    .cont {
        padding: 0px 20px;
        .bs-checkbox {
            margin-bottom: 8px;
        }
        .lyt-filter-opt {
            &.typ2 {
                background-color: transparent;
                padding: 0;
                margin-bottom: 10px;
                .list {
                    .item {
                        // margin-bottom: 8px;
                        display: inline-block;
                        .bs-radio {
                            &.typ-radio-btn {
                                margin-right: 8px;
                                margin-top: 3px;
                                margin-bottom: 3px;
                                input[type=radio]:not(old)+label {
                                    color: $clr-notify-text;
                                    background: $clr-root;
                                    border: none;
                                    font-weight: $font-regular;
                                    border-radius: 8px;
                                    padding: 3px 17px;
                                    transition: all .3s ease-in;
                                    &:hover {
                                        box-shadow: 0px 0px 4px $light-gray;
                                        background: #fff;
                                        color: #333;
                                        // background: $clr-notify-text;
                                        // color: $clr-white;
                                    }
                                }
                                input[type=radio]:not(old):checked+label {
                                    color: $clr-white;
                                    background: $clr-secondary;
                                    &:after {
                                        content: none;
                                    }
                                }
                            }
                        }
                    }
                }
                .bs-radio {
                    margin-bottom: 10px;
                    .input-label {
                        font-weight: $font-regular;
                        font-size: 1.4rem;
                    }
                }
                .typ-options-wrap {
                    margin-left: 26px;
                    .bs-search {
                        margin-top: -10px;
                        margin-bottom: 20px;
                    }
                }
                .form-wrap {
                    display: table;
                    width: 100%;
                }
                .search-result-wrap {
                    position: relative;
                    #dvSearchResult {
                        position: absolute;
                        right: 0;
                        left: 28px;
                        top: 100%;
                        z-index: 2;
                    }
                }
            }
        }
        .title {
            font-size: 1.5rem;
            line-height: 16px;
            font-weight: $font-light;
            margin-bottom: 14px;
        }
        .act-wrap {
            margin-top: 20px;
        }
        .form-wrap {
            .form-group {
                margin-bottom: 10px;
                padding: 0 20px 0 0;
                .form-label {
                    position: relative;
                    top: auto;
                    font-size: 1.2rem;
                    line-height: 14px;
                    font-weight: $font-regular;
                    color: $clr-notify-text;
                }
                .form-control {
                    margin-top: 0;
                    height: 34px;
                    font-size: 1.4rem;
                }
                &.typ-duration {
                    .form-control {
                        width: auto;
                        margin-right: 5px;
                        display: inline-block;
                    }
                    .duration {
                        display: inline-block;
                        font-size: 1.5rem;
                        color: $clr-notify-text;
                    }
                }
                &.disable {
                    &:after {
                        content: "";
                        position: absolute;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        top: 0;
                        background: rgba(255, 255, 255, 0.8);
                        cursor: not-allowed;
                    }
                }
            }
        }
        &.typ-range {
            .form-wrap {
                margin-top: 0;
                margin-bottom: 0;
                .form-group {
                    .form-control {
                        // border-bottom: none;
                    }
                }
            }
        }
    }
    &.active {
        display: block;
    }
    .timeframe-close {
        display: none;
    }
    .typ-time-range {
        margin: 10px 0 20px;
        .form-wrap {
            &.typ-small {
                display: inline-block;
                vertical-align: top;
                // margin-top: 13px;
                width: 80%;
                // .form-group {
                //     .form-label {
                //         color: $clr-sub-heading;
                //         display: block;
                //     }
                //     .form-control {
                //         width: 40px;
                //         display: inline-block;
                //     }
                //     .separator {
                //         display: inline-block;
                //         margin: 0 10px;
                //     }
                // }
                &.typ2 {
                    margin-left: 23px;
                    margin-bottom: 0!important;
                    .form-group {
                        .form-label {
                            display: inline-block;
                            margin-right: 10px;
                            ;
                        }
                    }
                }
            }
        }
        &.inner {
            .form-wrap {
                &.typ-small {
                    .form-group {
                        .form-label {
                            font-weight: $font-md;
                            color: $clr-notify-text;
                            display: inline-block;
                            margin-right: 8px;
                        }
                        .form-control {
                            width: 40px;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}

@include media($media768) {
    .mod-timeframe-opt {
        width: 100%;
        right: 0;
        left: 0;
        top: 0;
        position: fixed;
        bottom: 0;
        z-index: 18;
        padding-top: 40px;
        &.active {
            top: 0;
        }
        .cont {
            .bs-checkbox {
                padding-left: 0;
            }
            .lyt-filter {
                &.typ2 {
                    .list {
                        .item {
                            margin-bottom: 0;
                            .bs-radio {
                                &.typ-radio-btn {
                                    input[type=radio]:not(old)+label {
                                        font-size: 1.1rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .form-wrap {
                .form-group {
                    margin-bottom: 0px;
                }
            }
            &.typ-range {
                img {
                    display: block;
                    margin-bottom: 30px;
                }
            }
        }
        .timeframe-close {
            position: fixed;
            top: 0;
            right: 0;
            z-index: 12;
            display: block;
            padding: 13px;
            font-size: 1.4rem;
            line-height: 10px;
            color: $clr-sub-heading;
        }
        .tabs {
            .tab-content {
                .tab-pane {
                    position: absolute;
                    top: 100px;
                    bottom: 0;
                    overflow-y: auto;
                    width: 100%;
                }
            }
        }
        .cont {
            .typ-time-range {
                .form-wrap {
                    .form-group {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}