//mod-rule
.mod-rule {
    background: $clr-white;
    padding: 17px 20px;
    position: relative;
    height: 123px;
    @include box-shadow(0, 0px, 18px, rgba(0, 0, 0, 0.13));
    .rule-title {
        font-size: 1.6rem;
        line-height: 18px;
        color: $clr-sub-heading;
        font-weight: $font-regular;
        text-transform: capitalize;
        margin-bottom: 10px;
    }
    .rule-desc {
        p {
            font-size: 1.2rem;
            line-height: 14px;
            color: $clr-sub-heading;
            font-weight: $font-regular;
        }
        dl {
            font-size: 1.2rem;
            line-height: 14px;
            color: $clr-sub-heading;
            font-weight: $font-regular;
            dt,
            dd {
                margin-bottom: 6px;
            }
            dt {
                font-weight: $font-bold;
                float: left;
                margin-right: 10px;
                &:after {
                    content: " :";
                }
            }
            dd {
                overflow: hidden;
            }
        }
    }
    .rule-foot {
        padding: 10px;
        border-top: 1px solid $md-gray;
        text-align: center;
        .event-wrap {
            text-align: center;
            .list {
                overflow: hidden;
                .item {
                    float: none;
                    display: inline-block;
                    margin: 0 10px;
                    &:last-child {
                        margin-right: 0;
                    }
                    .disabled {
                        opacity: 0.3;
                        cursor: not-allowed;
                        &:hover {
                            color: $clr-sub-heading;
                        }
                    }
                }
            }
            .icon {
                font-size: 2rem;
                color: $clr-sub-heading;
                &:hover {
                    color: $clr-secondary;
                }
                &.icon-hide {
                    font-size: 2.3rem;
                }
            }
        }
    }
    .mod-rule-relate {
        opacity: 0;
        width: auto;
        position: absolute;
        left: -4px;
        right: -4px;
        bottom: -26px;
        margin: 0 auto;
        z-index: 1;
        .bs-radio {
            .input-label {
                color: $clr-white;
            }
        }
        .bs-radio {
            margin-right: 10px;
        }
        input[type=radio]:not(old)+label {
            padding-left: 20px;
            line-height: 18px;
            &:before {
                width: 15px;
                height: 15px;
                border: 0;
                background: rgba(255, 255, 255, 0.5);
            }
        }
        input[type=radio]:not(old):checked+label {
            opacity: 1;
            &:before {
                background: $clr-white;
            }
            &:after {
                content: "";
                border-radius: 50%;
                width: 7px;
                height: 7px;
                display: block;
                position: absolute;
                top: 6px;
                left: 4px;
                background: $clr-heading;
            }
        }
    }
    &.active {
        margin-bottom: 26px;
        .mod-rule-relate {
            opacity: 1;
            .text {
                font-size: 1.4rem;
                line-height: 20px;
                color: $clr-white;
            }
        }
    }
    // bha
    &.typ2 {
        padding: 12px 20px;
        height: auto;
        box-shadow: none;
        .no-margin {
            margin: 0;
        }
        .mod-rule-relate {
            left: -25px;
            right: -25px;
            padding: 2px 22px;
            bottom: -24px;
        }
        &.active {
            margin-bottom: 24px;
        }
    }
}