// mod-system-card
.mod-system-card {
    transition: all .3s ease-in;
    display: block;
    background: $clr-white;
    -webkit-box-shadow: 0px 0 8px $shadow-gray;
    -moz-box-shadow: 0px 0 8px $shadow-gray;
    box-shadow: 0px 0 8px $shadow-gray;
    margin: 0px;
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    .cont {
        padding: 37px 22px;
        display: block;
        position: relative;
        text-align: center;
        .title {
            transition: all .3s ease-in;
            font-size: 2.2rem;
            line-height: 26px;
            color: $clr-heading;
            text-transform: capitalize;
            display: block;
            margin-bottom: 12px;
            font-weight: $font-light;
        }
        .img-wrap {
            position: relative;
            display: block;
            &:before {
                transition: all .3s ease-in;
                content: "";
                background: #fafcf9;
                width: 122px;
                height: 122px;
                border-radius: 50%;
                display: block;
                margin: 0 auto;
            }
            &:after {
                transition: all .3s ease-in;
                content: "";
                background: #f5f9f3;
                width: 75px;
                height: 75px;
                border-radius: 50%;
                display: block;
                margin: 0 auto;
                top: 50%;
                right: 0;
                bottom: 0;
                left: 0;
                position: absolute;
                transform: translateY(-37px);
            }
            .icon {
                position: absolute;
                font-size: 4.5rem;
                top: 50%;
                z-index: 1;
                text-align: center;
                right: 0;
                left: 0;
                bottom: 0;
                transform: translatey(-37%);
            }
            .notyfy {
                font-size: 1.1rem;
                line-height: 19px;
                background: $clr-white;
                position: absolute;
                right: 7px;
                top: 50%;
                color: $clr-secondary;
                border: 1px solid $md-gray;
                padding: 5px;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                transform: translateY(-15px);
                font-weight: 400;
            }
        }
    }
    .act-wrap {
        position: absolute;
        right: 12px;
        bottom: 12px;
        .act-icon {
            display: inline-block;
            .icon {
                font-size: 1.7rem;
                line-height: 17px;
                color: $clr-secondary;
            }
            &.info {
                .icon {
                    color: $clr-error;
                }
            }
            &.review {
                position: relative;
                top: -4px;
                .word {
                    background: $clr-orange;
                    color: $clr-white;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 11px;
                    line-height: 16px;
                    display: inline-block;
                    margin-right: 3px;
                }
            }
            +.act-icon {
                margin-left: 2px;
            }
        }
    }
    &:hover {
        -webkit-box-shadow: 0px 0 8px #afafaf;
        -moz-box-shadow: 0px 0 8px #afafaf;
        box-shadow: 0px 0 8px #afafaf;
        .cont {
            .title {
                // font-weight: $font-regular;
            }
            .img-wrap {
                &:before,
                &:after {
                    transform: scale(1.1);
                    transform-origin: 50% 50%;
                    background: #f5f9f3;
                }
                &:after {
                    background: #e7f1e1;
                    transform: translateY(-37px);
                }
            }
        }
    }
    .back-panel {
        .title {
            font-size: 1.4rem;
            line-height: 16px;
            font-weight: $font-regular;
            margin-bottom: 3px;
            color: $clr-heading;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 100%;
            .icon {
                font-size: 1.5rem;
                line-height: 18px;
                margin: 0 6px 0px 0;
                position: relative;
                top: 3px;
                &.icon-warning-1 {
                    color: $clr-error;
                }
            }
        }
        .sub-title {
            font-size: 3rem;
            line-height: 34px;
            font-weight: $font-md;
            color: $clr-heading;
            padding-bottom: 5px;
            border-bottom: 1px solid $light-gray;
        }
        .list {
            margin-top: 15px;
            padding-left: 15px;
            .item {
                padding-top: 0;
                width: 100%;
                height: auto;
                margin-bottom: 8px;
                list-style: disc;
                font-size: 1.3rem;
                line-height: 16px;
                color: $clr-sub-heading;
            }
        }
        .act-wrap {
            width: 100%;
            text-align: center;
            right: 0;
            left: 0;
            bottom: 18px;
        }
        .data-list {
            margin-top: 10px;
            dt,
            dd {
                font-size: 1.4rem;
                line-height: 16px;
                margin-bottom: 10px;
                font-weight: $font-regular;
                color: $clr-sub-heading;
            }
            dt {
                width: 80%;
                padding-right: 20px;
                position: relative;
                display: inline-block;
                // &:after {
                //     content: ":";
                //     position: absolute;
                //     right: 20px;
                //     top: 0;
                // }
            }
            dd {
                overflow: hidden;
                display: inline-block;
                vertical-align: bottom;
                font-weight: $font-md;
            }
        }
    }
}