.mod-flyout {
    .flyout-head {
        width: 100%;
        display: inline-block;
        border-bottom: 1px solid $light-gray;
        .title {
            color: $clr-heading;
            float: left;
            .icon {
                color: $clr-white;
                background: $clr-secondary;
                font-size: 2.2rem;
                width: 50px;
                height: 50px;
                display: inline-block;
                text-align: center;
                vertical-align: middle;
                line-height: 54px;
                &.back-btn {
                    cursor: pointer;
                    &:before {
                        transform: rotate(-90deg);
                        display: inline-block;
                    }
                }
            }
            .text {
                display: inline-block;
                font-size: 1.8rem;
                vertical-align: middle;
                margin-left: 10px;
                color: $clr-sub-heading;
            }
        }
        .language-btn {
            float: right;
            cursor: pointer;
            .icon-language {
                border-left: 1px solid #cdcccc;
                display: block;
                padding: 0 15px;
                width: 50px;
                height: 50px;
                line-height: 50px;
                background: url(../images/language-img.jpg) 0 0 no-repeat;
                .icon {
                    display: none;
                    vertical-align: middle;
                }
                &:hover {
                    background-position: 0 bottom;
                }
            }
        }
    }
    .flyout-foot {
        clear: both;
        .act-wrap {
            text-align: center;
        }
    }
    .act-wrap {
        padding: 15px;
        .btn {
            display: inline-block;
            margin: 0 11px;
        }
    }
}