.mod-rule-summery {
    .rule-wrapper {
        .mod-rule {
            @include box-shadow(0, 0px, 18px, rgba(0, 0, 0, 0.13));
        }
    }
    &.height-auto {
        .mod-rule {
            height: auto;
        }
    }
}