.mod-summery-popup {
    text-align: center;
    padding: 30px;
    width: 580px;
    background: $clr-white;
    z-index: 3;
    transform: translateY(-50%);
    top: calc(50% - 13px);
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    border-radius: 10px;
    @include box-shadow(0, 0, 18px, rgba(0, 0, 0, 0.1));
    .summery-info {
        font-size: 1.5rem;
        span {
            color: $clr-secondary;
            text-decoration: underline;
            text-transform: uppercase;
            display: inline-block;
            margin: 0 3px;
        }
        .desc {
            margin: 25px 0 15px;
        }
    }
    .title {
        font-size: 2.2rem;
        font-weight: $font-bold;
    }
    .act-wrap {
        margin: 25px 0;
        .btn {
            background: $clr-white;
            color: $clr-heading;
            padding: 0;
            margin: 0 5px;
            border-radius: 0;
            width: 40px;
            text-transform: lowercase;
            .icon {
                border: 1px solid $clr-heading;
                width: 26px;
                height: 26px;
                line-height: 30px;
                border-radius: 50%;
                font-size: 1.4rem;
                margin-bottom: 6px;
                display: inline-block;
            }
            .text {
                font-size: 1.3rem;
            }
            &:hover {
                .icon {
                    border-color: $clr-secondary;
                }
                * {
                    color: $clr-secondary;
                }
            }
        }
        span {
            display: block;
        }
    }
    .btn-wrap {
        .btn {
            background: $clr-secondary;
            &:hover {
                color: $clr-white;
            }
        }
    }
}

.white-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: -8px;
    z-index: 2;
    background: rgba(255, 255, 255, 0.9);
}