.mod-summary {
    // width: 280px;
    height: 115px;
    background: $clr-white;
    padding: 15px;
    position: relative;
    -webkit-box-shadow: 0px 0 8px $shadow-gray;
    -moz-box-shadow: 0px 0 8px $shadow-gray;
    box-shadow: 0px 0 8px $shadow-gray;
    overflow: hidden;
    &.state-low {
        .summary-info {
            .unit-status {
                // color: $clr-error;
                &:after {
                    content: '';
                    position: absolute;
                    left: -15px;
                    width: 10px;
                    height: 9px;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid transparent;
                    top: 5px;
                }
            }
            // .period {
            //     &:after {
            //         background: $clr-error;
            //     }
            // }
        }
        &.color-green {
            .summary-info {
                .unit-status {
                    color: $clr-green;
                    &:after {
                        border-bottom: 5px solid $clr-green;
                        top: 5px;
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
    &.color-red {
        .summary-info {
            .unit-status {
                color: $clr-error;
                &:after {
                    border-top: 5px solid $clr-error;
                }
            }
        }
    }
    &.color-green {
        .summary-info {
            .unit-status {
                color: $clr-green;
                &:after {
                    border-bottom: 5px solid $clr-green;
                }
            }
        }
    }
    &.state-high {
        .summary-info {
            .unit-status {
                // color: $clr-green;
                &:after {
                    content: '';
                    position: absolute;
                    left: -15px;
                    width: 10px;
                    height: 9px;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    top: 6px;
                    transform: rotate(180deg);
                }
            }
            // .period {
            //     &:after {
            //         background: $clr-secondary;
            //     }
            // }
        }
        &.color-green {
            .summary-info {
                .unit-status {
                    color: $clr-green;
                    &:after {
                        border-bottom: 5px solid $clr-green;
                        transform: rotate(0deg);
                        top: 0px;
                    }
                }
            }
        }
    }
    .summary-info {
        display: inline-block;
        width: calc(100% - 118px);
        float: left;
        .title {
            font-size: 1.8rem;
            font-weight: $font-md;
            color: $clr-heading;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: capitalize;
            width: 80%;
        }
        .period {
            font-size: 1.1rem;
            line-height: 1.8rem;
            color: $clr-sub-heading;
            margin: 0;
            display: block;
            position: relative;
            padding-bottom: 6px;
            text-transform: capitalize;
            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background: $clr-notify-text;
            }
        }
        .current-value {
            position: absolute;
            bottom: 15px;
            left: 15px;
            font-size: 3rem;
            font-weight: $font-regular;
            color: $clr-heading;
        }
        .unit-status {
            position: absolute;
            top: 35px;
            right: 15px;
            font-size: 1.4rem;
            font-weight: $font-bold;
            color: #fa7d2e;
            // &:after {
            //     content: '';
            //     position: absolute;
            //     left: -15px;
            //     top: 0;
            //     width: 10px;
            //     height: 9px;
            //     border-left: 5px solid transparent;
            //     border-right: 5px solid transparent;
            //     border-bottom: 5px solid $clr-orange;
            // }
        }
    }
    .summary-graph {
        display: inline-block;
        width: 113px;
        .graph {
            background: transparent;
            padding: 0;
        }
    }
    &.add-kpi {
        display: block;
        .bs-icon-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            * {
                color: $clr-heading;
            }
            .icon {
                font-size: 2rem;
                margin-bottom: 10px;
            }
            .text {
                font-size: 1.6rem;
            }
        }
    }
    &.with-legend {
        .summary-info {
            .unit-status {
                top: 35px;
                right: 133px;
            }
        }
        .summary-graph {
            display: inline-block;
            width: 50%;
            position: absolute;
            right: -21px;
            top: 0;
            bottom: 0;
        }
    }
    &.without-graph {
        .summary-info {
            width: 100%;
        }
    }
    &.media {
        .img-wrap {
            width: 85px;
            height: 85px;
            display: inline-block;
            margin-right: 10px;
            img {
                width: 100%;
            }
        }
        .summary-info {
            float: none;
            display: inline-block;
            vertical-align: top;
            height: 100%;
            width: 160px;
            position: relative;
            .title {
                margin-bottom: 4px;
            }
            .subtitle {
                font-size: 1.1rem;
                color: $clr-sub-heading;
                line-height: 12px;
            }
            .period-wrap {
                position: absolute;
                bottom: 0;
                left: 0;
                .period-title {
                    display: block;
                    color: $clr-sub-heading;
                    margin-bottom: 2px;
                    font-size: 1rem;
                }
                .period-unit {
                    font-size: 1.5rem;
                    color: $clr-heading;
                }
                .unit-status {
                    font-size: 1.1rem;
                    font-weight: $font-bold;
                    color: $clr-secondary;
                    position: relative;
                    top: auto;
                    right: auto;
                    padding-left: 16px;
                    margin-left: 2px;
                    &:after {
                        content: '';
                        position: absolute;
                        left: 6px;
                        width: 8px;
                        height: 8px;
                        border-left: 4px solid transparent;
                        border-right: 4px solid transparent;
                        border-bottom: 4px solid #309462;
                        top: 0px;
                    }
                }
                &.typ-2 {
                    right: 0;
                    left: auto;
                }
            }
        }
        .summary-graph {
            position: absolute;
            right: 15px;
            top: 15px;
            width: 73px;
            bottom: 15px;
            .icon-trending-tray {
                font-size: 3.6rem;
                position: absolute;
                right: 15px;
                top: 8px;
                transform: rotate(18deg);
                color: $clr-green;
                &:before {
                    font-weight: 800 !important;
                }
            }
            .status {
                position: absolute;
                bottom: 9px;
                right: -10px;
                left: 0;
                text-align: center;
                font-size: 2.2rem;
                color: $clr-heading;
            }
        }
        &.typ-movie {
            .img-wrap {
                width: 56px;
            }
        }
    }
}

@include media($media1024) {
    .mod-summary {
        &.media {
            .summary-info {
                .period-wrap {
                    .unit-status {
                        &.hide-for-desktop {
                            display: inline-block !important;
                        }
                    }
                }
            }
        }
    }
}

@include media($media768) {
    .mod-summary {
        &.with-legend {
            .summary-info {
                .unit-status {
                    top: 34px;
                    font-size: 10px;
                }
            }
        }
    }
}

@include media($media380) {
    .mod-summary {
        &.with-legend {
            .summary-graph {
                right: 0;
            }
        }
    }
}

@include media($media360) {
    .mod-summary {
        &.with-legend {
            .summary-graph {
                right: 9px;
            }
        }
    }
}

@include media($media480) {
    .mod-summary {
        &.media {
            .summary-info {
                width: 126px;
                .subtitle {
                    span {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        text-transform: capitalize;
                    }
                }
            }
            .summary-graph {
                right: 0;
                top: 10px;
                .icon-trending-tray {
                    top: 10px;
                }
                .status {
                    bottom: 14px;
                }
            }
        }
    }
}