//mod-empty-box
.mod-empty-box {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-64%);
    .title {
        font-size: 2.8rem;
        line-height: 30px;
        margin-bottom: 40px;
        color: $clr-heading;
        font-weight: $font-light;
    }
    .icon {
        &.icon-big {
            width: 100px;
            height: 100px;
            display: block;
            overflow: hidden;
            border: 1px dashed $clr-secondary;
            border-radius: 50%;
            margin: 0 auto 70px;
            font-size: 5.3rem;
            line-height: 108px;
        }
    }
    .btn {
        padding: 5px 21px 5px 14px;
        line-height: 22px;
        .icon {
            width: 20px;
            height: 20px;
            display: inline-block;
            border-radius: 50%;
            font-size: 1.1rem;
            line-height: 24px;
            text-align: center;
            position: relative;
            top: 1px;
            margin-right: 6px;
            background: $clr-orange;
        }
    }
    .box {
        &:first-child {
            &:after {
                content: "";
                height: 250px;
                width: 1px;
                display: block;
                position: absolute;
                top: -12px;
                right: 0;
                background: $dark-gray;
            }
        }
        .note {
            display: block;
            font-size: 1.3rem;
            line-height: 1.3rem;
            color: $clr-secondary;
            margin-top: 15px;
        }
    }
}