// mod-plan-schedule
.mod-plan-schedule {
    >ul {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            height: calc(100% - 27px);
            width: 2px;
            background: $clr-secondary;
            left: 28px;
        }
        &:after {
            content: "";
            position: absolute;
            bottom: 24px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: $clr-secondary;
            left: 23px;
            display: block;
        }
        >li {
            .schedule {
                position: relative;
                // &:before {
                //     content: "";
                //     height: 1px;
                //     display: block;
                //     width: 84%;
                //     position: absolute;
                //     right: 0;
                //     bottom: 10px;
                //     background: $clr-root;
                //     bottom: 19px;
                // }
                .part {
                    padding-left: 45px;
                    overflow: hidden;
                    .title {
                        font-size: 1.2rem;
                        line-height: 14px;
                        color: $clr-secondary;
                        font-weight: $font-light;
                        margin: 0px 8px 8px 0;
                        display: inline-block;
                        vertical-align: top;
                        span {
                            margin-right: 10px;
                        }
                        &.typ-btn {
                            padding: 8px 12px;
                            background: $clr-white;
                            box-shadow: 0 0 6px $md-gray;
                            border-radius: 28px;
                            margin: 5px 8px 10px 0px;
                            display: block;
                            float: left;
                            font-weight: $font-regular;
                            cursor: pointer;
                            &.with-icon {
                                border-radius: 0 28px 28px 0;
                            }
                        }
                    }
                    .icon-list {
                        position: relative;
                        overflow: auto;
                        padding-top: 20px;
                        max-width: 350px;
                        vertical-align: top;
                        float: left;
                        clear: both;
                        display: block;
                        &:before {
                            content: "";
                            position: absolute;
                            border-bottom: 1px dashed $md-gray;
                            width: 80%;
                            left: 11px;
                        }
                        .item {
                            display: inline-block;
                            margin: -20px 0 40px 0;
                            &:nth-child(6),
                            &:nth-child(7),
                            &:nth-child(8) {
                                position: relative;
                                &:before {
                                    content: "";
                                    position: absolute;
                                    border-bottom: 1px dashed $md-gray;
                                    width: 100%;
                                    top: 20px;
                                    left: -20px;
                                }
                            }
                        }
                    }
                    .icon {
                        &.icon-start {
                            width: 40px;
                            height: 40px;
                            background: $clr-white;
                            border-radius: 50%;
                            display: block;
                            box-shadow: 0px 0px 4px $md-gray;
                            text-align: center;
                            font-size: 2rem;
                            line-height: 44px;
                            position: absolute;
                            left: 9px;
                        }
                    }
                    &.typ {
                        .title {
                            &.typ-btn {
                                margin: 5px 8px 10px -35px;
                            }
                        }
                    }
                    &.typ2 {
                        position: relative;
                        &:before {
                            background: $clr-secondary;
                            content: "";
                            display: block;
                            position: absolute;
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            top: 14px;
                            left: 23px;
                        }
                        .title {
                            display: block;
                            margin-left: 10px;
                        }
                        // .schedule-state {
                        //     top: 0;
                        //     left: -23px;
                        //     font-size: 1.2rem;
                        //     line-height: 17px;
                        //     padding: 0 0 0 53px;
                        //     .icon {
                        //         width: 26px;
                        //         height: 26px;
                        //         font-size: 1.3rem;
                        //         line-height: 31px;
                        //         &:after {
                        //             content: "";
                        //             position: absolute;
                        //             border-bottom: 1.4px dashed $md-gray;
                        //             width: 100%;
                        //             top: -24px;
                        //             left: 0;
                        //             transform: rotate(-90deg);
                        //         }
                        //     }
                        // }
                    }
                    &.typ3 {
                        position: relative;
                        padding-left: 92px;
                        &:before {
                            background: $clr-secondary;
                            content: "";
                            display: block;
                            position: absolute;
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            top: 14px;
                            left: 78px;
                        }
                        &:after {
                            background: $clr-secondary;
                            content: "";
                            width: 51px;
                            height: 1px;
                            display: block;
                            left: 28px;
                            position: absolute;
                            top: 20px;
                        }
                        .title {
                            display: block;
                            margin-left: 10px;
                        }
                    }
                }
                .schedule-state {
                    font-size: 1.4rem;
                    line-height: 22px;
                    color: $clr-sub-heading;
                    padding: 0 0 0 59px;
                    position: relative;
                    top: -18px;
                    margin-bottom: 15px;
                    display: block;
                    left: 42px;
                    width: 80%;
                    .icon {
                        width: 30px;
                        height: 30px;
                        background: $clr-white;
                        border-radius: 50%;
                        display: block;
                        box-shadow: 0px 0px 4px $md-gray;
                        text-align: center;
                        font-size: 1.6rem;
                        line-height: 34px;
                        position: absolute;
                        left: 14px;
                        top: -5px;
                    }
                    .cm-bold {
                        color: $clr-heading;
                    }
                    &.typ3 {
                        left: 88px;
                    }
                }
            }
        }
    }
}

@include media($media1366) {
    .mod-plan-schedule {
        >ul {
            >li {
                .schedule {
                    .part {
                        .icon-list {
                            .item {
                                .bs-checkbox {
                                    &.typ-delivery {
                                        min-width: 52px;
                                        input[type=checkbox]:not(old)+label {
                                            &:before {
                                                width: 33px;
                                                height: 33px;
                                            }
                                            &:after {
                                                font-size: 1.8rem;
                                                top: 12px;
                                                left: 17px;
                                            }
                                            &.typ-party {
                                                &:after {
                                                    font-size: 1.6rem;
                                                    left: 18px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}