// ng-mod-filter-opt
.mod-filter-opt {
    .lyt-filter {
        &.typ2 {
            &.typ-operator {
                .title {
                    font-size: 11px;
                    margin-bottom: 10px;
                }
            }
        }
    }
    .lvl {
        .lvl2 {
            &.typ-with-filter {
                .scroll-wrap {
                    top: 158px !important;
                    &.without-search {
                        top: 111px !important;
                    }
                }
            }
            .tab-sub-options {
                .form-wrap {
                    .form-group {
                        margin-bottom: 25px !important;
                    }
                    .addon {
                        &:last-child {
                            margin-bottom: 20px;
                            .owl-dt-inline-container {
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
                .scroll-wrap {
                    &.typ-yesno {
                        top: 116px !important;
                    }
                }
            }
        }
    }
}

.tag-hover-filter {
    .lvl2 {
        .scroll-wrap {
            padding: 0;
            text-align: center;
            position: absolute;
            top: 100px;
            left: 0;
            right: 0;
            bottom: 64px;
            overflow: auto;
        }
    }
}