// chart.scss
.highcharts-background {
    fill: transparent;
    stroke: transparent;
}

// .highcharts-color-0 {
//     fill: #e5d076;
//     stroke: #e5d076;
//     .highcharts-point {
//         fill: #e5d076;
//     }
// }
// .highcharts-color-2 {
//     fill: #a4ce76;
//     stroke: #a4ce76;
//     .highcharts-point {
//         fill: #a4ce76;
//     }
// }
// .highcharts-color-3 {
//     fill: #cf6d84;
//     stroke: #cf6d84;
//     .highcharts-point {
//         fill: #cf6d84;
//     }
// }
// .highcharts-color-4 {
//     fill: #5fb6b8;
//     stroke: #5fb6b8;
//     .highcharts-point {
//         fill: #5fb6b8;
//     }
// }
// .highcharts-color-5 {
//     fill: #a583a5;
//     stroke: #a583a5;
//     .highcharts-point {
//         fill: #a583a5;
//     }
// }
// .highcharts-color-6 {
//     fill: #f4a289;
//     stroke: #f4a289;
//     .highcharts-point {
//         fill: #f4a289;
//     }
// }
// .highcharts-color-7 {
//     fill: #e991c2;
//     stroke: #e991c2;
//     .highcharts-point {
//         fill: #e991c2;
//     }
// }
// .highcharts-color-8 {
//     fill: #75b6e4;
//     stroke: #75b6e4;
//     .highcharts-point {
//         fill: #75b6e4;
//     }
// }
// .highcharts-color-9 {
//     fill: #c3986b;
//     stroke: #c3986b;
//     .highcharts-point {
//         fill: #c3986b;
//     }
// }
// .highcharts-color-10 {
//     fill: #777e89;
//     stroke: #777e89;
//     .highcharts-point {
//         fill: #777e89;
//     }
// }
.highcharts-data-label-connector {
    fill: transparent;
}

.highcharts-credits,
.highcharts-button {
    display: none;
}

.highcharts-axis-title {
    tspan {
        font-size: 1.2rem;
        line-height: 14px;
        color: $clr-sub-heading;
    }
    font-size: 1.2rem;
    line-height: 14px;
    color: $clr-sub-heading;
}

.highcharts-legend {
    background: #ffffff;
}

.highcharts-root text,
.highcharts-root tspan {
    font-family: $font;
    font-weight: $font-light;
    color: #000;
}

.highcharts-tooltip {
    background: $clr-white;
    box-shadow: none;
    opacity: 1;
}

.highcharts-tooltip-box .highcharts-tooltip text {
    box-shadow: none;
}

.highcharts-tooltip tspan {
    padding: 25px;
}

.highcharts-legend-item span {
    left: 0 !important;
    top: 16px !important;
}

// #funnel-graph-ex1 {
//     position: relative;
//     .highcharts-label {
//         top: -6px !important;
//     }
// }