.ag-theme-balham {
    border-left: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    font-family: $font;
    font-weight: $font-light;
    font-size: 1.4rem;
    .ag-header-cell-label {
        display: inline-block;
        .ag-header-icon {
            display: inline-block;
            float: right;
            opacity: 1;
            margin-right: 4px;
        }
    }
    .ag-icon-filter {
        display: none;
    }
    .ag-header-row {
        border: 0;
    }
    .ag-header-container {
        .ag-header-row {
            &:nth-child(2) {
                border-bottom: 1px solid #e7e7e7;
                background: $clr-white;
            }
        }
    }
    .ag-header-cell[col-id="Status"] {
        .ag-header-cell-label {
            width: 100%;
        }
    }
    .ag-header-cell,
    .ag-header-group-cell {
        font-size: 1.4rem;
        &:after {
            display: none;
        }
    }
    .cell-wrap-text {
        white-space: normal !important;
    }
    .ag-header-cell-menu-button {
        opacity: 1 !important;
        cursor: pointer;
        .ag-icon-menu {
            background: none;
            height: 40px;
            line-height: 40px;
            &:before {
                content: "\53";
                font-family: "catchmedia-new" !important;
                font-style: normal !important;
            }
        }
    }
    .ag-header-cell {
        .ag-floating-filter-button {
            display: none !important;
        }
        .ag-floating-filter-body {
            margin-top: 7px;
            width: 100%;
            >div {
                &::before {
                    position: absolute;
                    top: 7px;
                    right: 20px;
                    padding: 0 10px;
                    color: #ccc;
                    cursor: pointer;
                    content: "\5a";
                    font-family: "catchmedia-new" !important;
                    font-style: normal !important;
                }
            }
            input {
                height: 30px;
                margin: 0;
                width: 100%;
                border: 0;
                box-shadow: 0 0 5px $shadow-gray;
                border-radius: 20px;
                padding: 0 12px;
                line-height: 30px;
                padding-right: 40px;
                font-weight: normal;
                color: $clr-heading;
                &:focus {
                    outline: none;
                }
            }
        }
    }
    .ag-icon-asc,
    .ag-icon-desc {
        background: none;
        &:before {
            content: "\26";
            color: $clr-secondary;
            font-family: "catchmedia-new" !important;
            font-style: normal !important;
            font-weight: normal !important;
            font-variant: normal !important;
            text-transform: none !important;
            vertical-align: middle;
            display: inline-block;
        }
    }
    .ag-icon-desc {
        &:before {
            content: "\25";
        }
    }
    .ag-root {
        border: 0;
    }
    .ag-header {
        background: #f6f6f6;
        border: 0;
    }
    .ag-row-odd {
        background: $clr-white
    }
    .ag-row-selected {
        background: #fbfbfb;
    }
    .ag-cell-focus {
        border: 1px solid transparent;
    }
    span.Demo,
    span.Draft,
    span.Live {
        padding: 2px 12px;
        background: #e4e4e4;
        display: inline-block;
        min-width: 60px;
        text-align: center;
        border-radius: 5px;
        line-height: inherit;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.5px;
    }
    span.icon {
        &:before {
            font-size: 19px;
            line-height: 18px;
            vertical-align: middle;
            margin-right: 10px;
            display: inline-block;
        }
    }
    span.Live {
        background: $clr-secondary;
        color: $clr-white;
    }
    .ag-row {
        border-bottom-color: #e7e7e7;
    }
    .ag-cell,
    .ag-header-cell,
    .ag-header-group-cell {
        padding-left: 18px;
        border-left: 0;
        padding-right: 18px;
        border-right: 1px solid #e7e7e7;
        line-height: 38px;
        color: $clr-heading;
    }
    .ag-cell {
        line-height: 22px;
        padding: 8px 18px;
    }
    .ag-icon-checkbox-unchecked {
        background-image: url(../images/unchecked.svg)
    }
    .ag-icon-checkbox-checked:empty,
    .ag-icon-checkbox-checked {
        background-image: url(../images/checked.svg)
    }
    .ag-icon-checkbox-indeterminate {
        background-image: url(../images/indeterminate.svg)
    }
    .ag-row-hover {
        background: #fbfbfb;
    }
    &.typ-2 {
        .ag-row-odd {
            background: #fafafa
        }
        .ag-row-hover {
            box-shadow: 0 0 10px $shadow-gray;
            z-index: 1;
            background: $clr-white;
        }
        &.ag-theme-balham {
            .ag-header-cell,
            .ag-cell {
                border-right: none;
            }
        }
    }
}