// flip
.flip-wrap {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .flip {
        width: 100%;
        height: 100%;
        position: absolute;
        -webkit-transition: -webkit-transform 1s;
        -moz-transition: -moz-transform 1s;
        -o-transition: -o-transform 1s;
        transition: transform 1s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform-origin: 50% 50%;
        >div {
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: 0;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -o-backface-visibility: hidden;
            backface-visibility: hidden;
        }
        .back {
            -webkit-transform: rotateY( 180deg);
            -moz-transform: rotateY( 180deg);
            -o-transform: rotateY( 180deg);
            transform: rotateY( 180deg);
            .mod-system-card {
                padding: 28px 26px 60px;
            }
        }
        &.active {
            -webkit-transform: rotateY( 180deg);
            -moz-transform: rotateY( 180deg);
            -o-transform: rotateY( 180deg);
            transform: rotateY( 180deg);
            .mod-rule-summery {
                transition: all .4s ease-in;
                opacity: 0;
            }
        }
    }
    .btn-flip {
        position: absolute;
        right: 0px;
        top: 10px;
        font-size: 30px;
    }
}