//theme
$theme-default: #309462;
$theme-header-bg:linear-gradient(to right, rgba(24, 157, 91, 1) 0%, rgba(24, 79, 28, 1) 100%);
//$theme-breadcrumb-bg:linear-gradient(to right, rgba(13, 86, 50, 1) 0%, rgba(13, 43, 16, 1) 100%);
$theme-page-header-bg:linear-gradient(to right, rgba(7, 47, 27, 1) 0%, rgba(7, 24, 9, 1) 100%);
//$theme-summary-bg:linear-gradient(to right, rgba(7, 46, 26, 1) 0%, rgba(7, 30, 14, 1) 51%, rgba(7, 24, 9, 1) 100%);
$theme-breadcrumb-bg:#01572C;
$theme-summary-bg: #004222;