.cm-not-in-page {
    left: -99999px;
    position: absolute !important;
    top: -99999px;
}

.cm-line-break {
    display: block;
}

.cm-bold {
    font-weight: $font-bold;
}

.cm-medium {
    font-weight: $font-md;
}

.cm-regular {
    font-weight: $font-regular;
}

.cm-light {
    font-weight: $font-light;
}

.text-italic {
    color: $clr-notify-text;
}

a {
    cursor: pointer;
}

.main {
    transition: all .35s ease-out;
    overflow: hidden;
    position: relative;
    min-height: 500px;
    &.active {
        margin-left: 50px;
        transition: all .35s ease-out;
    }
}

.section-title {
    h2 {
        color: $clr-heading;
        font-size: 2.4rem;
        font-weight: $font-regular;
    }
}

.cm-dropdown-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 12;
    display: none;
    &.active {
        display: block;
    }
}

.cm-menu-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 13;
    display: none;
    &.active {
        display: block;
    }
    &.notify-overlay {
        display: block;
        z-index: 12;
    }
}

.cm-overlay2 {
    background-color: transparent;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 10;
    &.active {
        z-index: 9;
        display: block;
    }
}

.cm-overlay,
.decision-overlay {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    bottom: -10px;
    left: 0;
    right: 0;
    display: none;
    z-index: 1;
    &.active {
        display: block;
    }
}

.decision-overlay {
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    z-index: 2;
}

.audience-overlay {
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.65);
    bottom: 0;
    top: 0;
    display: none;
    z-index: 1;
}

.cm-loader {
    background: rgba(255, 255, 255, 0.97);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    &:before {
        content: " ";
        background: url(../images/cm_logo_page.gif) no-repeat;
        position: absolute;
        width: 130px;
        height: 100px;
        background-size: contain;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        line-height: 92px;
    }
    &.hide {
        left: -100%;
        top: 0;
        right: 100%;
        bottom: 0;
    }
}

.cm-scroll {
    overflow-y: auto;
    max-height: 250px;
}

.cm-scroll-lg {
    overflow-y: auto !important;
    max-height: 350px;
}

.cm-scroll-small {
    overflow-y: auto;
    max-height: 131px;
}

.cm-scroll-xs {
    overflow-y: auto;
    max-height: 60px;
}

.graph {
    // background: #fcfcfc;
    padding-top: 14px;
    padding-bottom: 6px;
}

.cm-container {
    max-width: 1680px;
    width: 100%;
    margin: 0 auto;
}

.highlight {
    font-weight: $font-md;
    color: #000;
}

.icon {
    &:focus {
        outline: none;
    }
}

.no-result {
    font-weight: $font-regular;
    color: $clr-heading;
    padding: 20px 15px;
    font-size: 1.5rem;
    text-align: center;
}

// .dynamic_swiper {
//     .swiper-button-next,
//     .swiper-button-prev {
//         display: inline-block;
//     }
// }
.hide-for-desktop {
    display: none !important;
}

.moreInfo {
    cursor: pointer;
    transform: rotate(180deg);
    display: inline-block;
    margin-left: 2px;
    font-size: 1.4rem;
    color: $clr-secondary;
}

@include media($media1024) {
    .hide-for-mobile {
        display: none !important;
    }
    .hide-for-desktop {
        display: block !important;
    }
    .mar-bot {
        margin-bottom: 42px;
    }
    .cm-menu-overlay {
        background-color: rgba(0, 0, 0, 0.5);
    }
    .cm-dropdown-overlay {
        z-index: 13;
        &.active {
            display: block;
        }
    }
}