//bs-subscription
.bs-subscription {
    margin-bottom: 30px;
    >.title {
        font-size: 1.6rem;
        line-height: 18px;
        font-weight: $font-regular;
        margin-bottom: 20px;
    }
    ul {
        overflow: hidden;
        li {
            width: 50%;
            float: left;
        }
    }
    &.last {
        margin-bottom: 0;
    }
}