// bs-icon-text
.bs-icon-text {
    display: inline-block;
    color: $clr-heading;
    vertical-align: middle;
    .icon {
        font-size: 1.8rem;
        line-height: 2.4rem;
        display: inline-block;
        vertical-align: middle;
        margin-right: 4px;
    }
    .text {
        font-size: 1.2rem;
        line-height: 1.4rem;
        text-transform: capitalize;
        font-weight: $font-regular;
    }
    &.typ-vertical {
        text-align: center;
        .icon {
            display: block;
            margin-right: 0;
            margin-bottom: 2px;
            &.icon-compare,
            &.icon-granularity,
            &.icon-history {
                &::before {
                    font-weight: 600 !important;
                }
            }
            &.icon-graph-type {
                &::before {
                    font-weight: 300 !important;
                }
            }
            &.icon-graph-type {
                font-size: 2.2rem;
                line-height: 2.2rem;
            }
            &.icon-add-report {
                font-size: 2.2rem;
                line-height: 1.6rem;
            }
        }
        .text {
            display: block;
        }
    }
    .notification-count {
        color: $clr-white;
        background: $clr-orange;
        position: absolute;
        font-size: 1rem;
        line-height: 17px;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        text-align: center;
        top: -5px;
        right: 50%;
        transform: translateX(22px);
    }
    &.typ-button {
        .icon {
            font-size: 1.4rem;
            line-height: 1.6rem;
            color: $clr-secondary;
        }
        .text {
            font-size: 1.4rem;
            line-height: 1.6rem;
            color: $clr-secondary;
            font-weight: $font-regular;
        }
    }
    &.typ-big {
        background: $clr-white;
        padding: 12px 15px;
        position: relative;
        box-shadow: 0 0 8px #e3e3e3;
        .icon {
            position: absolute;
            background: $clr-secondary;
            color: $clr-white;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            top: 50%;
            transform: translateY(-50%);
            left: 15px;
            font-size: 2.5rem;
            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .text {
            display: block;
            padding-left: 50px;
            .label {
                display: block;
                padding: 0;
                margin-bottom: 0px;
                font-size: 1.3rem;
                line-height: 1.5rem;
                color: $clr-secondary;
                font-weight: $font-regular;
                text-align: left;
            }
            .num {
                text-align: left;
                display: block;
                padding: 0;
                font-size: 2.5rem;
                line-height: 2.7rem;
                color: $clr-secondary;
                font-weight: $font-bold;
            }
        }
    }
}

a {
    &.bs-icon-text {
        &:hover {
            * {
                color: $clr-secondary;
            }
            .notification-count {
                color: $clr-white;
            }
        }
    }
}