.bs-decision-tree {
    .decision-tree-wrap {
        font-size: 1.4rem;
        transform: scale(1);
        >.node {
            &.parent {
                &::before,
                &::after {
                    display: none;
                }
            }
        }
        .node {
            font-size: 0;
            margin: 5px 0;
            padding: 40px 0 0;
            position: relative;
            white-space: nowrap;
            transform-origin: top;
            &:before {
                position: absolute;
                left: 50%;
                content: "";
                top: 0;
                width: 0px;
                margin-left: -1px;
                height: 40px;
                border-left: 2px solid $clr-secondary;
            }
            &:after {
                position: absolute;
                top: 0;
                left: 50%;
                content: "";
                width: 6px;
                height: 6px;
                margin-left: -3px;
                background: $clr-secondary;
                border-radius: 50%;
            }
            &.action-wrap {
                padding: 20px 0 0;
                &:before {
                    border-color: $clr-error;
                    height: 20px;
                }
                &:after {
                    background: $clr-error;
                }
            }
            .child-node {
                &.delivery-methods {
                    padding: 5px 0 0 0;
                    position: relative;
                    &:before {
                        position: absolute;
                        top: -6px;
                        left: 50%;
                        display: block;
                        content: "";
                        width: 6px;
                        height: 6px;
                        margin-left: -3px;
                        background: $clr-secondary;
                        border-radius: 50%;
                    }
                    .title {
                        color: $clr-sub-heading;
                        margin: 3px 0 10px;
                        font-size: 1.4rem;
                        font-weight: $font-md;
                    }
                }
            }
            &.parent {
                .parent {
                    >.child-node {
                        display: inline-block;
                        padding: 40px 30px 0;
                        position: relative;
                        &:before,
                        &:after {
                            position: absolute;
                            top: 0;
                            content: "";
                            left: 0;
                            border-top: 2px solid $clr-secondary;
                            width: 50%;
                            height: 40px;
                        }
                        &:before {
                            border-right: 2px solid $clr-secondary;
                        }
                        &:after {
                            left: 50%;
                        }
                        &.first {
                            &:before {
                                border: 0;
                            }
                            &:after {
                                border-right: 0;
                                border-left: 2px solid $clr-secondary;
                            }
                        }
                        &.last {
                            &:after {
                                border: 0;
                            }
                            &:before {
                                border-left: 0;
                                border-right: 2px solid $clr-secondary;
                            }
                        }
                        &.last {
                            .btn.typ-condition:before {
                                margin-left: -4px;
                            }
                        }
                    }
                    &.one-child-node {
                        padding-top: 0;
                        >.child-node {
                            &.first {
                                &:before {
                                    border: 0;
                                    border-right: 1px solid $clr-secondary;
                                }
                                &:after {
                                    border-right: 0;
                                    border-top: 0;
                                    border-left: 1px solid $clr-secondary;
                                }
                                .btn.typ-condition:before {
                                    margin-left: -3px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .disable-status {
            * {
                opacity: 0.4;
            }
        }
        .delivery-wrap {
            padding: 8px 20px;
            background: #ffffff;
            display: inline-block;
            border-radius: 45px;
            margin-bottom: 10px;
            position: relative;
            transition: all 0.8s ease;
            box-shadow: 0px 0px 5px $shadow-gray;
            // padding-right: 180px;
            .list {
                // margin-right: 25px;
                float: left;
                position: relative;
                z-index: 1;
            }
            .item {
                margin-right: 15px;
                display: inline-block;
                &:last-of-type {
                    margin-right: 0px;
                }
            }
            &:after {
                content: "";
                left: 50%;
                position: absolute;
                display: inline-block;
                width: 20px;
                height: 20px;
                background: #fff;
                bottom: -8px;
                transform: rotate(-45deg);
                margin-left: -9px;
                box-shadow: -2px 2px 5px $light-gray;
            }
            .btn {
                &.btn-add {
                    // position: absolute;
                    position: relative;
                    float: left;
                    color: $clr-notify-text;
                    top: 2px;
                    padding: 0;
                    z-index: 1;
                    font-size: 1.2rem;
                    line-height: 1.4rem;
                    text-transform: capitalize;
                    margin: 0;
                    display: none;
                    font-weight: $font-regular;
                    opacity: 0;
                    visibility: hidden;
                    margin-right: 25px;
                    margin-left: 25px;
                    transition: visibility 0.8s ease 1.2s, opacity 0.5s;
                    // transition-delay: 0.8s;
                    .icon {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        background: #e6ebf0;
                        display: block;
                        position: relative;
                        color: $clr-secondary;
                        margin-bottom: 3px;
                        &:before {
                            position: absolute;
                            top: 50%;
                            font-weight: $font-bold !important;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
            .compose-status {
                position: absolute;
                cursor: pointer;
                top: 0;
                right: 0px;
                // width: 150px;
                height: 70px;
                padding: 10px 20px;
                border-left: 1px solid $clr-secondary;
                display: none;
                opacity: 0;
                z-index: 1;
                visibility: hidden;
                transition: visibility 0.8s ease 1.2s, opacity 0.5s;
                border-top-right-radius: 35px;
                border-bottom-right-radius: 35px;
                // background: $clr-secondary;
                .count {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border: 1px solid $clr-secondary;
                    margin-right: 5px;
                    // display: inline-block;
                    float: left;
                    position: relative;
                    top: 5px;
                    .num {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 1.2rem;
                        line-height: 1.4rem;
                        color: $clr-secondary;
                    }
                    .icon {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 1.2rem;
                        line-height: 1.4rem;
                        color: $clr-white;
                        display: none;
                    }
                }
                .text {
                    font-size: 1.6rem;
                    line-height: 1.8rem;
                    color: $clr-secondary;
                    font-weight: $font-regular;
                    float: left;
                    position: relative;
                    top: 15px;
                }
                &:hover {
                    .metrics-list {
                        display: block;
                    }
                }
            }
            &.node-active {
                padding-right: 165px;
                &.in-progress,
                &.completed {
                    z-index: 2;
                    box-shadow: 0 0px 7px 1px #666;
                    &:after {
                        box-shadow: none;
                    }
                }
                .compose-status {
                    // transition: all 0.8s ease 1.2s;
                    display: block;
                    opacity: 1;
                    visibility: visible;
                }
                .btn {
                    &.btn-add {
                        // transition: all 0.8s ease 1.2s;
                        display: block;
                        opacity: 1;
                        visibility: visible;
                    }
                }
                &.btn-small {
                    padding-right: 136px;
                    .compose-status {
                        cursor: pointer;
                    }
                }
            }
            &.completed {
                .compose-status {
                    background: $clr-secondary;
                    .count {
                        border-color: $clr-white;
                        .num {
                            display: none;
                        }
                        .icon {
                            display: block;
                            background: $clr-white;
                            color: $clr-secondary;
                            width: 30px;
                            height: 30px;
                            line-height: 33px;
                            text-align: center;
                            border-radius: 50%;
                        }
                    }
                    .text {
                        color: $clr-white;
                    }
                }
                &.tracking-status {
                    .compose-status {
                        max-width: 165px;
                        text-align: left;
                        padding: 10px 35px 10px 25px;
                        .count {
                            display: none;
                        }
                        .icon-key-indicator {
                            font-size: 3.1rem;
                            float: none;
                            margin-right: 20px;
                            color: $clr-white !important;
                            display: inline-block;
                            vertical-align: top;
                            line-height: 1.8rem;
                            position: relative;
                            top: 11px;
                        }
                        .text {
                            float: none;
                            vertical-align: middle;
                            display: inline-block;
                            top: 9px;
                        }
                    }
                    >.list,
                    >.btn-add {
                        opacity: 0.4;
                    }
                }
            }
        }
        .action-wrap {
            .node-wrap {
                margin-top: 0;
                padding: 20px 0 0;
                &:after {
                    display: none;
                }
                &:before {
                    height: 20px;
                    border-color: $clr-error;
                }
                .btn {
                    &.typ-action {
                        margin: 0;
                        background: $clr-white;
                    }
                    &.typ-condition {
                        background: $clr-white;
                        padding: 11px 15px;
                        box-shadow: 0 0 8px $light-gray;
                        border-radius: 30px;
                        color: $clr-secondary;
                        margin-top: 5px;
                        position: relative;
                        &:before {
                            position: absolute;
                            top: -12px;
                            left: 50%;
                            content: "";
                            width: 6px;
                            height: 6px;
                            margin-left: -3px;
                            background: $clr-secondary;
                            border-radius: 50%;
                        }
                    }
                    &.bs-icon-text {
                        padding: 0;
                        margin: 5px 0;
                        height: auto;
                        background: transparent;
                    }
                }
                .child-node {
                    &.first {
                        .btn {
                            &.typ-condition {
                                &:before {
                                    margin-left: -2px;
                                }
                            }
                        }
                    }
                }
                .bs-icon-text {
                    .icon {
                        position: relative;
                        width: 45px;
                        height: 45px;
                        background: $clr-white;
                        border-radius: 50%;
                        display: block;
                        margin: 0 auto 5px;
                        border: none;
                        line-height: 50px;
                        font-size: 1.5rem;
                        box-shadow: 0 0 8px $light-gray;
                        &.icon-node {
                            font-size: 2.2rem;
                        }
                    }
                    .text {
                        font-size: 1.4rem;
                        font-weight: $font-md;
                    }
                }
                >.child-node {
                    display: inline-block;
                    position: relative;
                    padding: 40px 10px 0;
                    min-width: 140px;
                    vertical-align: top;
                    &:before,
                    &:after {
                        position: absolute;
                        top: 0;
                        content: "";
                        left: 0;
                        border: 0;
                        border-top: 2px solid $clr-error;
                        width: 50%;
                        height: 40px;
                    }
                    &:after {
                        left: 50%;
                    }
                    &.first {
                        &:before {
                            border: 0;
                        }
                        &:after {
                            border-right: 0;
                            border-left: 2px solid $clr-error;
                        }
                    }
                    &.last {
                        &:after {
                            border: 0;
                        }
                        &:before {
                            border-left: 0;
                            border-right: 2px solid $clr-error;
                        }
                    }
                    &.delivery-methods {
                        padding: 5px 0 0 0;
                    }
                    &.end-node {
                        * {
                            color: $clr-error !important;
                        }
                        &:before {
                            position: absolute;
                            top: 35px;
                            left: 50%;
                            display: block;
                            content: "";
                            width: 6px;
                            height: 6px;
                            margin-left: -2px;
                            background: $clr-error;
                            border-radius: 50%;
                        }
                        .disable-action {
                            * {
                                color: rgba(255, 15, 15, 0.5) !important;
                            }
                        }
                    }
                    &.add-node {
                        &:before,
                        &:after {
                            border-style: dashed;
                            border-color: $md-gray;
                        }
                        button {
                            .text {
                                color: $clr-heading;
                            }
                        }
                        .icon {
                            color: $clr-notify-text;
                            &.icon-trash {
                                color: $clr-white;
                            }
                        }
                        .disable-action {
                            &.btn {
                                .text {
                                    color: rgba(255, 15, 15, 0.5) !important;
                                }
                            }
                            .icon {
                                color: rgba(51, 51, 51, 0.5) !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .switch-view {
        position: fixed;
        top: 160px;
        z-index: 1;
        left: 28px;
    }
    .zoom-wrap {
        position: fixed;
        right: 30px;
        top: 158px;
        z-index: 10;
        .btn-zoom {
            background: #ffffff;
            padding: 10px;
            display: block;
            margin-bottom: 6px;
            width: 36px;
            height: 36px;
            box-shadow: 0 0 8px #e3e3e3;
            .icon {
                font-size: 16px;
                line-height: 18px;
            }
        }
    }
    .act-wrap {
        text-align: center;
        padding: 30px 0 50px;
        button {
            margin: 0 10px;
        }
    }
    .metrics-list {
        padding-left: 20px;
        position: absolute;
        top: -14px;
        left: 100%;
        display: none;
        .metrics-list-inner {
            z-index: 1;
            width: 340px;
            text-align: left;
            max-height: 300px;
            overflow: auto;
            font-size: 1.3rem;
            line-height: 1.8rem;
            background: $clr-white;
            box-shadow: 0 0 15px 3px #e2dfdf;
            font-weight: $font-light;
            &:before {
                content: "";
                border: 8px solid transparent;
                border-right: 8px solid #fff;
                position: absolute;
                left: 4px;
                top: 40px;
            }
        }
        .title {
            margin: 3px 0 0px !important;
        }
        .start-time {
            background: $clr-root;
            padding: 7px 10px;
            span {
                font-weight: $font-md;
            }
        }
        .method-list-wrap {
            padding: 10px 0;
            border-bottom: 1px solid $clr-root;
            margin: 0px 20px;
            li {
                padding: 6px 0;
                .label-text {
                    display: inline-block;
                    max-width: 170px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .user-count {
                    float: right;
                    font-size: 1.6rem;
                    color: $clr-heading;
                }
            }
        }
    }
}