// bs-label-value-pair
.bs-label-value-pair {
    font-size: 1.5rem;
    // line-height: 2.9rem;
    line-height: 1.8rem;
    color: $clr-heading;
    font-weight: $font-md;
    display: block;
    .title {
        font-size: 1.5rem;
        line-height: 1.7rem;
        width: 160px;
        margin-right: 20px;
        color: $clr-sub-heading;
        font-weight: $font-regular;
        position: relative;
        vertical-align: top;
        float: left;
        // margin-top: 5px;
        &:after {
            position: absolute;
            content: ":";
            right: -5px;
            top: 0;
            font-weight: $font-md;
        }
    }
    .val {
        padding-left: 4px;
        overflow: hidden;
        vertical-align: top;
        .subtitle {
            margin-bottom: 10px;
            display: block;
        }
        .list-typ2 {
            li {
                position: relative;
                display: inline-block;
                margin-bottom: 0;
                .count {
                    color: $clr-secondary;
                    cursor: pointer;
                }
            }
            li+li {
                border-left: 1px solid $clr-notify-text;
                margin-left: 10px;
                padding-left: 12px;
            }
        }
        .list-typ3 {
            margin-bottom: 30px;
            li {
                display: inline-block;
                vertical-align: top;
                margin-bottom: 0;
                &.with-separator {
                    border-left: 1px solid $light-gray;
                    margin-left: 0px;
                    padding-left: 32px;
                }
            }
            li+li {
                margin-left: 15px;
                padding-left: 18px;
            }
            &.full-width {
                li {
                    width: 100%;
                    padding: 0;
                }
                li+li {
                    margin: 28px 0 0 0;
                }
            }
        }
        .status-wrap {
            .mod-status {
                display: inline-block;
                margin-right: 8px;
                padding: 0px 8px;
                font-size: 1.1rem;
                line-height: 2.2rem;
                color: $clr-white;
            }
            label {
                line-height: 1.4rem;
                font-size: 1.2rem;
                color: $clr-secondary;
                cursor: pointer;
            }
            &.active {
                .mod-status {
                    background: $clr-secondary;
                }
            }
        }
        .with-input {
            overflow: hidden;
            span,
            input {
                display: inline-block;
            }
            input {
                margin: 0 10px;
                border: none;
                padding: 4px;
                width: 136px;
                font-weight: $font-regular;
                border-bottom: 1px solid $light-gray;
                &:focus {
                    outline: none;
                }
            }
        }
        .lhs {
            float: left;
            width: 52%;
            margin-right: 3%;
        }
        .rhs {
            overflow: hidden;
            text-align: right;
            margin-right: 36px;
            ul {
                li {
                    display: inline-block;
                    border-bottom: 0;
                    padding-bottom: 0;
                    margin-bottom: 0;
                    vertical-align: top;
                    .bs-checkbox {
                        display: block;
                        margin-bottom: 4px;
                    }
                }
                li+li {
                    margin-left: 30px;
                }
            }
        }
        .bs-checkbox {
            .input-label {
                font-size: 1.2rem;
                line-height: 1.8rem;
                font-weight: $font-regular;
                color: $md-gray;
            }
        }
        .bs-icon-text {
            .icon {
                color: $clr-secondary;
            }
            .text {
                font-weight: $font-md;
                font-size: 1.5rem;
                line-height: 1.7rem;
            }
        }
        .val-title {
            font-size: 1.6rem;
            line-height: 1.8rem;
            color: $clr-heading;
            font-weight: $font-md;
            display: block;
            margin-bottom: 8px;
            .icon {
                font-size: 1.4rem;
                line-height: 16px;
                position: relative;
                top: 2px;
                left: 4px;
                cursor: pointer;
                &:hover {
                    color: $clr-secondary;
                }
            }
        }
        .with-separator2 {
            li {
                border-bottom: 1px solid $light-gray;
                margin-bottom: 20px;
                padding-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: none;
                }
            }
        }
        .icon-audiences {
            font-size: 2.3rem;
            position: relative;
            top: 3px;
            left: 10px;
        }
        .text-highlights {
            color: #009de5;
            margin-left: 14px;
            .icon {
                font-size: 1.1rem;
            }
        }
        .note {
            font-style: italic;
            font-size: 1rem;
            line-height: 14px;
            color: $clr-notify-text;
            font-weight: $font-light;
            margin-left: 10px;
        }
        .link {
            font-size: 1.2rem;
            line-height: 16px;
            color: $clr-secondary;
            display: inline-block;
            margin-left: 10px;
        }
    }
    &.typ2 {
        display: inline-block;
        margin-right: 20px;
        .title {
            display: block;
            width: auto;
            margin-bottom: 10px;
            float: none;
            &.filter-icon {
                &::before {
                    content: "\53";
                    font-family: "catchmedia-new" !important;
                    margin-right: 6px;
                    font-size: 1.6rem;
                    line-height: 1.4rem;
                    position: relative;
                    top: 3px;
                }
            }
            &.granularity-icon {
                &::before {
                    content: "\e003";
                    font-family: "catchmedia-new" !important;
                    margin-right: 6px;
                    font-size: 1.6rem;
                    line-height: 1.4rem;
                    position: relative;
                    top: 3px;
                }
            }
            &.graph-icon {
                &::before {
                    content: "\e084";
                    font-family: "catchmedia-new" !important;
                    margin-right: 6px;
                    font-size: 2rem;
                    line-height: 2.2rem;
                    position: relative;
                    top: 6px;
                }
            }
            &.icon-pivot {
                &::before {
                    content: "\e02c";
                    font-family: "catchmedia-new" !important;
                    margin-right: 6px;
                    font-size: 1.6rem;
                    line-height: 1.8rem;
                    position: relative;
                    top: 1px;
                }
            }
            &:after {
                content: none;
            }
        }
    }
    &.typ3 {
        position: relative;
        padding-left: 50px;
        .title {
            font-size: 1.8rem;
            line-height: 2.0rem;
            margin-bottom: 20px;
            width: auto;
            float: none;
            font-weight: $font-bold;
            color: $clr-heading;
            &:after {
                content: none;
            }
        }
        .list {
            .item {
                display: block;
                font-size: 1.6rem;
                line-height: 1.8rem;
                margin-bottom: 12px;
                position: relative;
                padding-left: 15px;
                font-weight: $font-light;
                color: $clr-heading;
                &:before {
                    position: absolute;
                    content: "";
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    left: 0;
                    top: 7px;
                    background: $clr-heading;
                }
            }
            .item+.item {
                margin-left: 0;
                padding-left: 15px;
            }
        }
        &:before {
            content: "\e090";
            position: absolute;
            font-family: "catchmedia-new" !important;
            left: 0;
            font-size: 3.4rem;
            line-height: 3.6rem;
            color: $shadow-gray;
        }
    }
    .bs-tag {
        &.applied-typ2 {
            .text {
                font-weight: $font-md;
            }
        }
    }
}