.bs-checkbox {
    display: inline-block;
    input[type=checkbox] {
        &:not(old) {
            width: 26px;
            margin: 0;
            padding: 0;
            opacity: 0;
            display: none;
            +label {
                display: inline-block;
                padding-left: 22px;
                line-height: 19px;
                position: relative;
                transition: all 0.12s ease-in;
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 2px;
                    width: 15px;
                    height: 15px;
                    border: 1px solid $md-gray;
                    display: inline-block;
                    transition: all 0.12s ease-in;
                }
                &:after {
                    content: "";
                    position: absolute;
                    left: 7px;
                    top: 9px;
                    display: block;
                    width: 0px;
                    height: 0px;
                    border: solid $clr-secondary;
                    border-width: 0 0px 0px 0;
                    transform: rotate(45deg);
                    transition: all 0.12s ease-in;
                }
            }
            &:checked {
                +label {
                    &:before {
                        border-color: $clr-secondary;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        left: 5px;
                        top: 4px;
                        display: block;
                        width: 5px;
                        height: 10px;
                        border: solid $clr-secondary;
                        border-width: 0 2px 2px 0;
                        transform: rotate(45deg);
                    }
                }
            }
            &:disabled {
                +label {
                    opacity: 0.5;
                }
            }
        }
    }
    .input-label {
        font-size: 1.2rem;
        color: $clr-heading;
        cursor: pointer;
        .icon {
            font-size: 1.8rem;
            margin-right: 5px;
            vertical-align: middle;
        }
    }
    &.typ-delivery {
        position: relative;
        min-width: 56px;
        input[type=checkbox] {
            &:not(old) {
                // width: 26px;
                padding: 0;
                margin: 0;
                opacity: 0;
                display: none;
                +label {
                    transition: all 0.5s;
                    padding: 0;
                    display: block;
                    // padding-left: 22px;
                    font-size: 1.2rem;
                    color: $clr-sub-heading;
                    line-height: 1.4rem;
                    position: relative;
                    text-align: center;
                    color: $clr-notify-text;
                    z-index: 4;
                    text-transform: capitalize;
                    &:before {
                        transition: all 0.5s;
                        content: "";
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        background: #e6ebf0;
                        display: block;
                        margin: 0 auto;
                        position: relative;
                        margin-bottom: 5px;
                        border: none;
                    }
                    &:after {
                        border: none;
                        width: auto;
                        height: auto;
                        transition: all 0.5s;
                        font-family: "catchmedia-new" !important;
                        position: absolute;
                        color: $clr-sub-heading;
                        font-size: 2rem;
                        top: 13px;
                        left: 18px;
                        transform: none;
                    }
                    &.typ-email {
                        &:after {
                            content: "C";
                        }
                    }
                    &.typ-sms {
                        &:after {
                            content: "\E078";
                        }
                    }
                    &.typ-party {
                        &:after {
                            content: "\E07B";
                        }
                    }
                    &.typ-app {
                        &:after {
                            content: "\E07C";
                        }
                    }
                    &.typ-inbox {
                        &:after {
                            content: "\E07A";
                        }
                    }
                    &.typ-push {
                        &:after {
                            content: "\e079";
                        }
                    }
                }
                &:checked {
                    +label {
                        color: $clr-heading;
                        &:before {
                            background: #f0bc08;
                        }
                        &:after {
                            color: $clr-white;
                        }
                    }
                }
                &:disabled {
                    +label {
                        opacity: 0.5;
                    }
                }
            }
        }
        &.active {
            &:before {
                content: "";
                width: 70px;
                height: 70px;
                background: #d5dbe1;
                border-radius: 50%;
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 2;
                transform: translate(-50%, -50%);
            }
            &:after {
                content: "";
                width: 100px;
                height: 100px;
                background: #cdd5dd;
                border-radius: 50%;
                display: inline-block;
                position: absolute;
                top: -50%;
                left: -50%;
                transform: translate(6%, 3%);
                opacity: 0.3;
                z-index: 3;
            }
        }
        &.completed {
            &:before {
                content: "";
                background: $clr-secondary;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                position: absolute;
                top: 0;
                right: 3px;
                z-index: 5;
            }
            &:after {
                content: "'";
                color: $clr-white;
                font-size: 0.8rem;
                font-family: "catchmedia-new" !important;
                display: inline-block;
                position: absolute;
                top: 4px;
                right: 6px;
                z-index: 6;
            }
        }
        &.pending {
            &:before {
                content: "";
                background: $clr-secondary;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                position: absolute;
                top: 0;
                right: 3px;
                z-index: 2;
            }
            &:after {
                content: "]";
                color: $clr-white;
                font-size: 0.8rem;
                font-family: "catchmedia-new" !important;
                display: inline-block;
                position: absolute;
                top: 4px;
                right: 6px;
                z-index: 3;
            }
        }
    }
    &.typ-only-icon {
        input[type=checkbox]:not(old)+label {
            padding-left: 0;
            &:before,
            &:after {
                display: none;
            }
        }
        .input-label {
            .icon {
                margin: 0;
            }
        }
        input[type=checkbox]:not(old):checked+label {
            color: $clr-secondary;
        }
    }
}

@include media($media768) {
    .bs-checkbox {
        margin-bottom: 5px;
        input[type=checkbox]:not(old)+label {
            // line-height: 14px;
        }
    }
}