//bs-header
.bs-header {
    background: $clr-white;
    height: 49px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    padding: 0 32px 0 15px;
    z-index: 14;
    @include box-shadow (0, 1px, 5px, #999);
    .nav-left {
        float: left;
        .menu-btn {
            float: left;
            width: 50px;
            padding: 18px 14px 20px;
            display: block;
            position: relative;
            .line {
                background: $clr-menu-bg;
                width: 22px;
                height: 1px;
                display: block;
                margin-bottom: 4px;
                transition: all .3s ease-in;
                border-radius: 1px;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
            &.active {
                .line {
                    position: relative;
                    transform: rotate(45deg);
                    width: 24px;
                    top: 2px;
                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(3) {
                        transform: rotate(-45deg);
                        top: -3px;
                    }
                }
            }
            &:hover {
                background: $clr-root;
            }
            &.active {
                background: $clr-heading;
                padding: 22px 14px;
                .line {
                    background: $clr-white;
                }
            }
        }
        .logo {
            width: 122px;
            float: left;
            padding: 16px 10px;
            overflow: hidden;
            height: 49px;
            background: $clr-white;
            img {
                width: 100%;
            }
        }
        .list {
            float: left;
            >.item {
                position: relative;
                float: left;
                margin-right: 1px;
                >.bs-icon-text {
                    padding: 16px 16px 12px;
                    vertical-align: middle;
                    display: block;
                    color: $clr-menu-bg;
                    >.icon {
                        margin-right: 8px;
                        line-height: 18px;
                        transition: all .3s ease-in;
                    }
                    >.text {
                        font-size: 1.2rem;
                        text-transform: uppercase;
                        .icon {
                            font-size: 1rem;
                            line-height: 12px;
                            margin-right: 0;
                            margin-left: 5px;
                            transition: all .3s ease-in;
                        }
                    }
                }
                &:hover {
                    background: $clr-root;
                    >.bs-icon-text {
                        >.icon,
                        >.text {
                            color: $clr-heading;
                            .icon {
                                color: $clr-heading;
                            }
                        }
                    }
                }
                &.active {
                    >.bs-icon-text {
                        >.icon,
                        >.text {
                            color: $clr-secondary;
                            .icon {
                                color: $clr-secondary;
                            }
                        }
                    }
                }
                &.open {
                    .bs-icon-text {
                        .icon-down-arrow {
                            transform: rotate(180deg) translatey(3px);
                        }
                    }
                }
                .dropdown-menu {
                    width: 300px;
                }
            }
        }
        .right-menu-mobile {
            display: none;
        }
    }
    .nav-right {
        float: right;
        .list {
            float: left;
            .item {
                position: relative;
                float: left;
                margin-right: 1px;
                &:hover {
                    background: $clr-root;
                    &:after {
                        content: none;
                    }
                    &:first-of-type {
                        &:before {
                            content: none;
                        }
                    }
                }
                &.js-notification,
                &.js-action {
                    &.active {
                        background: rgba(0, 0, 0, 0.23);
                        &:after {
                            content: none;
                        }
                        &:first-of-type {
                            &:before {
                                content: none;
                            }
                        }
                    }
                }
                .bs-icon-text {
                    padding: 15px 16px 15px;
                    vertical-align: middle;
                    display: block;
                    color: $clr-menu-bg;
                    .icon {
                        line-height: 14px;
                        margin-right: 0;
                        &.icon-notification {
                            font-size: 2rem;
                            line-height: 12px;
                        }
                    }
                    &:hover {
                        .icon {
                            color: $clr-heading;
                        }
                    }
                }
                .notification-count {
                    font-size: 1rem;
                    line-height: 17px;
                    background: #ff0000;
                    height: 16px;
                    cursor: pointer;
                    width: 23px;
                    color: $clr-white;
                    display: block;
                    position: absolute;
                    top: 9px;
                    right: 7px;
                    text-align: center;
                    border-radius: 7px;
                }
            }
        }
        .mod-user-info {
            float: left;
            padding: 0 6px 0;
            margin-right: 1px;
            &:hover {
                background: $clr-root;
            }
            .user-wrap {
                padding: 6px 0px 3px;
                display: inline-block;
                .user-info {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 10px;
                    text-align: right;
                    margin-top: 0px;
                    margin-bottom: 18px;
                    span {
                        display: inline-block;
                        &.user-name {
                            font-size: 1.2rem;
                            line-height: 1.4rem;
                            color: $clr-heading;
                            font-weight: $font-bold;
                            margin-bottom: 2px;
                            text-transform: uppercase;
                        }
                        &.designation {
                            font-size: 1.1rem;
                            line-height: 1.3rem;
                            color: $clr-notify-text;
                        }
                    }
                }
                .picture-wrap {
                    width: 40px;
                    height: 40px;
                    display: inline-block;
                    vertical-align: middle;
                    border-radius: 50%;
                    overflow: hidden;
                    img {
                        width: 100%;
                        // -webkit-filter: grayscale(100%);
                        // filter: grayscale(100%);
                    }
                }
                .word {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    display: inline-block;
                    overflow: hidden;
                    margin-right: 12px;
                    vertical-align: middle;
                    background: #dddddd;
                    font-size: 2.8rem;
                    line-height: 42px;
                    color: #333333;
                    text-transform: uppercase;
                    text-align: center;
                }
            }
            .dropdown-menu {
                right: 0;
                left: inherit;
                width: 232px;
                &.user-panal {
                    top: 51px;
                    &.up-arrow {
                        top: 51px;
                        width: 368px;
                        right: auto;
                        left: -11%;
                        &:after {
                            left: 50%;
                        }
                    }
                    .user {
                        border-bottom: 1px solid $light-gray;
                        padding: 10px;
                        display: block;
                        .img {
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            display: inline-block;
                            overflow: hidden;
                            margin-right: 12px;
                            vertical-align: middle;
                            img {
                                width: 100%;
                            }
                        }
                        .word {
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            display: inline-block;
                            overflow: hidden;
                            margin-right: 12px;
                            vertical-align: middle;
                            background: #dddddd;
                            font-size: 2.5rem;
                            line-height: 36px;
                            color: $clr-heading;
                            text-transform: uppercase;
                            text-align: center;
                        }
                        .details {
                            display: inline-block;
                            vertical-align: middle;
                            .name {
                                font-size: 1.4rem;
                                line-height: 1.7rem;
                                font-weight: $font-light;
                                color: $clr-heading;
                                display: block;
                            }
                            .email {
                                font-size: 1.1rem;
                                line-height: 13px;
                                color: $clr-notify-text;
                                font-weight: $font-light;
                                display: block;
                            }
                        }
                        &.last {
                            border-bottom: none;
                        }
                    }
                    .user-details {
                        border-bottom: 1px solid $md-gray;
                        ul {
                            li {
                                padding: 0 10px;
                                &:hover {
                                    background: #fbfbfb;
                                    .user {
                                        border-bottom: 1px solid transparent;
                                        &.last {
                                            border-bottom: none;
                                        }
                                    }
                                }
                                &.active,
                                &:hover {
                                    .user {
                                        .name {
                                            color: $clr-secondary;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .user-setting {
                        li {
                            border-bottom: 1px solid $light-gray;
                            .bs-icon-text {
                                display: block;
                                padding: 12px 20px;
                                .icon {
                                    font-size: 1.8rem;
                                    line-height: 13px;
                                    color: $clr-sub-heading;
                                    &:before {
                                        font-weight: 700 !important;
                                    }
                                }
                                .text {
                                    font-size: 1.4rem;
                                    line-height: 16px;
                                    color: $clr-sub-heading;
                                    font-weight: $font-regular;
                                }
                                &:hover {
                                    background: #fbfbfb;
                                    .icon,
                                    .text {
                                        color: $clr-secondary;
                                    }
                                }
                            }
                        }
                    }
                    .user-list {
                        ul {
                            overflow-y: auto;
                            max-height: 143px;
                            li {
                                .user {
                                    position: relative;
                                    padding: 12px 30px;
                                    .details {
                                        padding-right: 40px;
                                        display: block;
                                        .name {
                                            display: inline-block;
                                            margin-bottom: 0;
                                        }
                                        .designation {
                                            font-size: 1.2rem;
                                            line-height: 14px;
                                            color: $clr-notify-text;
                                            font-style: italic;
                                        }
                                        .icon-remove {
                                            position: absolute;
                                            right: 12px;
                                            top: 14px;
                                            font-size: 1.6rem;
                                            line-height: 18px;
                                            color: #b1b1b1;
                                            &:hover {
                                                color: $clr-secondary;
                                            }
                                        }
                                    }
                                }
                                &:last-child {
                                    .user {
                                        border-bottom: none;
                                    }
                                }
                            }
                        }
                    }
                    .act-wrap {
                        padding: 15px 6px;
                        border-top: 1px solid $md-gray;
                        text-align: center;
                        .btn {
                            margin: 0 8px;
                            padding: 3px 12px;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
            .mod-switch {
                position: absolute;
                top: 28px;
                right: 123px;
                &.with-text {
                    .switch {
                        height: 13px;
                        .slider::before {
                            height: 9px;
                            width: 12px;
                            left: 1px;
                            bottom: 1px;
                            border-radius: 28%;
                        }
                        input:checked+.slider:before {
                            transform: translateX(18px);
                        }
                        input:checked+.slider,
                        input+.slider {
                            border: 1px solid $clr-secondary;
                            background: $clr-secondary;
                        }
                        input+.slider:before {
                            background: $clr-white;
                        }
                        .slider {
                            .text {
                                line-height: 11px;
                            }
                        }
                    }
                }
            }
        }
        .mod-brand-info {
            float: left;
            margin-left: 25px;
            .brand-logo {
                display: inline-block;
                vertical-align: middle;
                padding: 10px 18px;
                overflow: hidden;
                max-width: 140px;
                height: 60px;
                position: relative;
                border-top: 5px solid $clr-primary;
                box-shadow: 0px -2px 8px 0px #d8d8d8;
                border-radius: 0 0 5px 5px;
                background: #ffffff url(../images/cm_logo.png) center center no-repeat;
                width: 140px;
                background-size: 38%;
                // img {
                //     width: 96%;
                //     position: relative;
                //     transform: translateY(-50%);
                //     top: 50%;
                // }
                &.increase-shadow {
                    box-shadow: 0px 2px 8px 0px #d8d8d8;
                }
            }
        }
        .lyt-quick-menu {
            width: 426px;
            margin-left: -202px;
            top: 50px;
            .list {
                width: 100%;
                .item {
                    width: 20%;
                    margin-right: 0;
                    .bs-icon-text {
                        text-align: center;
                        color: $clr-heading;
                        padding: 15px 0;
                        .icon {
                            display: block;
                            margin: 0 0 3px 0;
                        }
                        .text {
                            font-size: 1.1rem;
                            line-height: 13px;
                        }
                    }
                }
            }
        }
    }
}

@include media($media1170) {
    .bs-header {
        .nav-right {
            .mod-user-info {
                display: none;
            }
        }
    }
}

@include media($media1024) {
    .bs-header {
        height: 45px;
        .nav-left {
            .menu-btn {
                padding: 18px 14px 16px;
            }
            .list {
                .item {
                    .bs-icon-text {
                        padding: 17px 16px 13px;
                        .icon {
                            font-size: 1.4rem;
                            margin-right: 5px;
                            line-height: 12px;
                        }
                    }
                }
                >.item {
                    float: left;
                    width: 100%;
                    .dropdown-menu {
                        position: static;
                        width: 100%;
                        box-shadow: none;
                        a {
                            padding: 12px 16px 13px 40px;
                        }
                        .icon {
                            font-size: 1.9rem;
                            line-height: 12px;
                        }
                        .text {
                            font-size: 1.3rem;
                            font-weight: $font-regular;
                            line-height: 16px;
                            display: block;
                        }
                    }
                }
            }
            .logo {
                padding: 12px 10px 9px;
            }
            .list {
                &.right-menu-mobile {
                    display: block;
                    cursor: pointer;
                    .text {
                        &:after {
                            content: "";
                            border: 5px solid transparent;
                            border-top: 5px solid #333333;
                            display: inline-block;
                            vertical-align: middle;
                            margin-left: 7px;
                            position: relative;
                            top: 2px;
                        }
                    }
                }
            }
            .menu-dropdown-mobile {
                display: none;
                position: absolute;
                top: 100%;
                border-top: 1px solid $light-gray;
                left: 110px;
                width: 240px;
                background: $clr-white;
                box-shadow: 0 3px 6px $md-gray;
                .bs-icon-text {
                    border-bottom: 1px solid $light-gray;
                }
                .cm-scroll {
                    max-height: inherit;
                }
                .footer {
                    display: none;
                }
            }
        }
        .nav-right {
            margin-right: 15px;
            .list {
                .item {
                    .bs-icon-text {
                        padding: 14px 16px 13px;
                        .icon {
                            line-height: 12px;
                        }
                    }
                    .notification-count {
                        font-size: 0.9rem;
                        line-height: 13px;
                        height: 12px;
                        width: 18px;
                        top: 13px;
                        right: 7px;
                    }
                }
            }
        }
    }
}

@include media($media768) {
    .bs-header {
        .nav-left {
            .menu-btn {
                padding: 17px 14px;
            }
            .menu-dropdown-mobile {
                left: 0;
                width: 100%;
            }
            .list {
                .item {
                    .bs-icon-text {
                        padding: 17px 16px 14px;
                    }
                }
            }
        }
        .nav-right {
            margin-right: 10px;
            .list {
                .item {
                    .bs-icon-text {
                        padding: 15px 18px 12px;
                    }
                }
            }
        }
    }
}