// bs-footer
.bs-footer {
    background: $clr-white;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    right: 0;
    left: 0;
    height: 20px;
    bottom: 0;
    font-size: 1rem;
    line-height: 12px;
    color: #7c8a95;
    z-index: 11;
    @include box-shadow(0, 0, 10px, $md-gray);
    .footer-logo {
        color: #7c8a95;
        display: inline-block;
        img {
            width: 18px;
            margin-right: 3px;
        }
        span {
            display: inline-block;
        }
    }
}