.bs-sec {
    padding: 20px 25px;
    .sec-head {
        border-bottom: 1px solid $md-gray;
        display: inline-block;
        padding: 0px 0 15px;
        position: relative;
        z-index: 2;
        width: 100%;
        .sec-title {
            display: inline-block;
            font-size: 2.4rem;
            line-height: 2.6rem;
            font-weight: $font-regular;
            vertical-align: middle;
            color: $clr-heading;
            margin-top: 5px;
            .bs-icon-text {
                .text {
                    font-size: 2.4rem;
                    line-height: 2.6rem;
                    font-weight: $font-regular;
                }
            }
        }
    }
    .sec-cont {
        padding-top: 15px;
        position: relative;
        // z-index: 1;
        .btn-switch-user {
            margin-bottom: 22px;
            .btn-user {
                margin-right: 0;
            }
        }
    }
    .sec-option {
        display: inline-block;
        float: right;
        .list {
            .item {
                float: left;
            }
        }
    }
    &.typ-login {
        .sec-cont {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            .bg-img-wrap {
                position: fixed;
                top: 0;
                bottom: 0;
                right: 500px;
                left: 0;
                background: url(../images/login-bg2.jpg) no-repeat center center transparent;
                background-size: cover;
                img {
                    display: none;
                }
            }
        }
    }
    >.note {
        margin-bottom: 20px;
        display: block;
        font-size: 16px;
        line-height: 18px;
        color: $clr-notify-text;
        font-weight: $font-light;
        .text-highlight {
            color: $clr-heading;
        }
    }
}

.or-wrap {
    text-align: center;
    position: relative;
    padding: 25px 0;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        border-right: 1px dashed #a5a5a5
    }
    .or {
        display: inline-block;
        width: 34px;
        height: 34px;
        position: relative;
        z-index: 2;
        line-height: 34px;
        border-radius: 50%;
        border: 1px dashed #a5a5a5;
        text-align: center;
        color: $clr-secondary;
        text-transform: uppercase;
        background: $clr-white;
    }
}

.lyt-top-bar {
    background: $clr-primary;
    position: relative;
    z-index: 11;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: rgba(0, 0, 0, 0.45);
    }
    .mod-heading {
        >.title {
            position: relative;
        }
    }
    .cm-container {
        .lyt-summary {
            max-width: 1590px;
            margin: 0px auto 0;
            .swiper-container {
                padding: 0 10px;
            }
        }
    }
    .bs-icon-text {
        &.create-new {
            .icon {
                font-size: 2.2rem;
                margin-bottom: 1px;
            }
            .text {
                font-size: 1.2rem;
                line-height: 1.3rem;
                font-weight: $font-light;
            }
        }
    }
    .mod-summary {
        box-shadow: none;
    }
    &.without-slider {
        .bs-sec {
            padding: 10px 26px 10px;
        }
    }
    .bs-search {
        .form-group {
            margin-bottom: 0;
        }
    }
    .bs-sec {
        padding: 10px 26px 10px;
        z-index: 11;
        position: relative;
    }
    .bs-icon-text {
        * {
            color: $clr-white;
        }
        &:hover {
            * {
                color: $clr-white;
            }
        }
    }
    .mod-heading {
        width: 100%;
        display: inline-block;
        border: none;
        padding-bottom: 0;
        >.title {
            margin-top: 1px;
        }
        .title {
            .bs-icon-text {
                padding: 0;
                .icon,
                .text {
                    font-size: 2.8rem;
                }
                .text {
                    font-weight: $font-thin;
                    line-height: 3.2rem;
                }
            }
            a {
                &:after {
                    display: none;
                }
            }
        }
        .bs-option {
            .list {
                .item {
                    .bs-icon-text {
                        .icon {
                            color: $clr-white;
                        }
                    }
                }
            }
        }
        .icon-audiences {
            font-size: 2.3rem;
            position: relative;
            top: 6px;
            left: 10px;
            color: $clr-white;
        }
    }
    .swiper-container {
        .swiper-button-next,
        .swiper-button-prev,
        .swiper-arrow {
            z-index: 1;
            margin-top: -22px;
            &:after {
                color: $clr-white;
            }
        }
    }
    &:after {
        content: "";
        background: url(../images/header-pattern.png) repeat 0 0 transparent;
        background-size: contain;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    .bs-option {
        .bs-icon-text {
            transition: all 0.3s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.bs-theme-light {
    background: $clr-theme-light;
    .mod-report-card {
        .card-cont {
            -webkit-box-shadow: 0px 0 8px #eee;
            -moz-box-shadow: 0px 0 8px #eee;
            box-shadow: 0px 0 8px #eee;
        }
    }
}

@include media($media1600) {
    .lyt-top-bar {
        .cm-container {
            .lyt-summary {
                max-width: 1200px;
            }
        }
    }
    .cm-container {
        max-width: 1440px;
    }
}

@include media($media1440) {
    .cm-container {
        max-width: 1440px;
    }
}

@include media($media1200) {
    .lyt-top-bar {
        .cm-container {
            .lyt-summary {
                max-width: 810px;
            }
        }
    }
}

@include media($media1024) {
    .bs-sec .infographic {
        display: none !important;
    }
    .lyt-top-bar {
        .mod-heading {
            .title {
                overflow: hidden;
                margin-top: 8px;
                .bs-icon-text {
                    .icon {
                        float: left;
                    }
                }
            }
        }
        &.without-slider {
            .mod-heading {
                .title {
                    margin-top: 0;
                    line-height: 33px;
                }
            }
        }
    }
}

@include media($media920) {
    .lyt-top-bar {
        .cm-container {
            .lyt-summary {
                max-width: 420px;
            }
        }
    }
}

@include media($media768) {
    .bs-sec {
        padding: 20px 15px;
        &.typ-login {
            padding: 0;
            .sec-cont {
                position: static;
                padding: 0;
                .bg-img-wrap {
                    position: static;
                    width: 100%;
                    height: calc(100vw - 35vw);
                    img {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
        &.typ-top-trend {
            padding: 10px 0px 0px;
        }
    }
    .pg-login {
        padding: 0;
        background: $clr-white;
    }
    .lyt-top-bar {
        .bs-sec {
            padding: 15px 15px;
        }
        .mod-heading {
            .title {
                .bs-icon-text {
                    .icon,
                    .text {
                        font-size: 2.4rem;
                        line-height: 2.5rem;
                    }
                    .text {
                        display: inline-block;
                        max-width: 410px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        position: relative;
                    }
                }
            }
        }
    }
}

@include media($media640) {
    .lyt-top-bar {
        .mod-heading {
            .title {
                .bs-icon-text {
                    .text {
                        max-width: 300px;
                    }
                }
            }
        }
    }
}

@include media($media568) {
    .lyt-summary {
        .swiper-container {
            overflow: visible;
            .swiper-button-next,
            .swiper-button-prev {
                display: none
            }
        }
    }
    .lyt-top-bar {
        .mod-heading {
            .title {
                margin-top: 8px;
            }
        }
    }
}

@include media($media480) {
    .lyt-top-bar {
        .mod-heading {
            .title {
                .bs-icon-text {
                    .icon,
                    .text {
                        font-size: 2rem;
                    }
                    .text {
                        max-width: 200px;
                    }
                }
            }
        }
    }
}