.bs-radio {
    display: inline-block;
    // margin: 0 20px 0 0;
    .input-label {
        font-size: 1.2rem;
        color: $clr-heading;
        font-weight: 300;
        cursor: pointer;
    }
    input[type=radio] {
        &:not(old) {
            width: 26px;
            margin: 0;
            padding: 0;
            opacity: 0;
            display: none;
            +label {
                display: inline-block;
                padding-left: 26px;
                line-height: 20px;
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 2px;
                    width: 18px;
                    height: 18px;
                    border: 1px solid $md-gray;
                    border-radius: 50%;
                    display: inline-block;
                    transition: all 0.12s ease-in;
                }
                &:after {
                    content: "";
                    width: 0;
                    height: 0;
                    display: block;
                    position: absolute;
                    top: 11px;
                    left: 9px;
                    background: $clr-secondary;
                    border-radius: 50%;
                    transition: all 0.12s ease-in;
                }
            }
            &:checked {
                +label {
                    &:before {
                        width: 18px;
                        height: 18px;
                        border: 1px solid $clr-secondary;
                        border-radius: 50%;
                        display: inline-block;
                        position: absolute
                    }
                    &:after {
                        content: "";
                        width: 12px;
                        height: 12px;
                        display: block;
                        position: absolute;
                        top: 5px;
                        left: 3px;
                        background: $clr-secondary;
                        border-radius: 50%;
                    }
                }
            }
            &:disabled {
                +label {
                    opacity: 0.5;
                }
            }
        }
    }
    &.type2 {
        input[type=radio]:not(old)+label .radio-icon {
            position: absolute;
            left: 0;
            top: 0;
            width: 30px;
            height: 30px;
            border: 0;
            border-radius: 50%;
            display: inline-block;
            background: $clr-secondary;
            &:after {
                content: "\4e";
                color: $clr-white;
                font-family: "catchmedia-new" !important;
                font-size: 1.4rem;
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                left: 0;
                top: 0;
                position: absolute;
            }
            &:hover {
                background: $clr-heading;
            }
        }
        input[type=radio]:not(old)+label:before,
        input[type=radio]:not(old):checked+label:after {
            display: none;
        }
        input[type=radio]:not(old)+label {
            vertical-align: top;
        }
        input[type=radio]:not(old):checked+label .radio-icon {
            background: $clr-secondary;
        }
    }
    &.type3 {
        margin: 15px 10px 0px 0;
        .input-label {
            background: #f0f2f4;
            color: #545454;
            padding: 3px 10px;
            border-radius: 8px;
            &:before,
            &:after {
                content: none;
            }
        }
        input[type=radio]:not(old):checked+label {
            background: $clr-secondary;
            color: $clr-white;
            &:before,
            &:after {
                content: none;
            }
        }
    }
    &.typ-big {
        .input-label {
            line-height: 22px;
            font-size: 1.4rem;
        }
    }
    &.typ-radio-btn {
        background: transparent;
        font-size: 1.2rem;
        line-height: 1.6rem;
        font-weight: 400;
        border-radius: 25px;
        margin-right: 8px;
        margin-bottom: 8px;
        input[type=radio]:not(old)+label {
            border: 1px solid #999999;
            border-radius: 25px;
            padding: 4px 26px;
            color: $clr-heading;
            .radio-icon {
                display: none;
            }
            &:hover {
                background: $clr-secondary;
                border: 1px solid $clr-secondary;
                color: $clr-white;
            }
            &:before {
                content: none;
            }
        }
        input[type=radio]:not(old):checked+label {
            background: $clr-secondary;
            border: 1px solid $clr-secondary;
            color: $clr-white;
        }
    }
    &.typ-operator,
    &.type-icon-only {
        margin-right: 1px;
        input[type=radio]:not(old)+label {
            padding: 2px 5px;
            border: 1px solid transparent;
            width: 27px;
            height: 27px;
            &:before {
                display: none;
            }
            &:hover {
                border: 1px solid transparent;
                background: #e9e9e9;
                border-radius: 5px;
            }
        }
        .icon {
            display: inline-block;
            height: 16px;
            &.icon-including {
                font-size: 1.5rem;
                position: relative;
            }
            &.icon-exculding {
                font-size: 1.9rem;
                position: relative;
                top: -2.2px;
                left: -1.5px;
            }
            // &.icon-lesser-than-equal-to {
            //     font-size: 1.9rem;
            //     position: relative;
            //     top: -2.2px;
            //     left: -4.5px;
            // }
        }
        .input-label {
            font-size: 1.4rem;
        }
        input[type=radio]:not(old):checked+label {
            background: transparent;
            border: 1px solid $clr-secondary;
            border-radius: 5px;
            color: $clr-secondary;
            &:before,
            &:after {
                display: none;
            }
        }
    }
    &.type-icon-only {
        input[type=radio]:not(old)+label,
        input[type=radio]:not(old):checked+label {
            border: 0;
            font-size: 2.4rem;
            width: auto;
            height: auto;
            &:hover {
                color: $clr-secondary;
                border: 0;
                background: transparent;
                border-radius: 0;
            }
        }
    }
    &.typ-card {
        margin: 0;
        @include box-shadow(0, 0px, 10px, rgba(0, 0, 0, 0.05));
        input[type=radio]:not(old) {
            +label {
                padding: 0;
                border: 1px solid $clr-root;
                img {
                    width: 100%;
                }
                &:hover {
                    border: 1px solid $clr-secondary;
                }
                &:before,
                &:after {
                    opacity: 0;
                }
            }
        }
        input[type=radio]:not(old):checked {
            +label {
                border: 1px solid $clr-secondary;
            }
        }
    }
    &.typ-compare {
        margin: 0px 5px 0 0;
        input[type=radio]:not(old) {
            +label {
                font-size: 1.5rem;
                line-height: 27px;
                color: $clr-heading;
                font-weight: $font-light;
                opacity: 1;
                padding-left: 40px;
                .icon {
                    position: absolute;
                    border: 1px solid $clr-heading;
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    display: inline-block;
                    font-size: 1.3rem;
                    line-height: 29px;
                    text-align: center;
                    left: 0;
                }
                &:before,
                &:after {
                    opacity: 0;
                }
            }
        }
        input[type=radio]:not(old):checked {
            +label {
                .icon {
                    border: 1px solid transparent;
                    background: $clr-secondary;
                    color: $clr-white;
                }
            }
        }
        &.icon-reverse {
            input[type=radio]:not(old) {
                +label {
                    padding-left: 0;
                    padding-right: 45px;
                    .icon {
                        left: auto;
                        right: 0;
                    }
                }
            }
        }
    }
    &.icon-text {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 20px;
        .icon {
            position: relative;
            display: inline-block;
            line-height: 55px;
            background: $light-gray;
            border-radius: 50%;
            width: 50px;
            color: $clr-heading;
            font-size: 22px;
            margin: 0;
            height: 50px;
        }
        .text {
            margin-top: 6px;
            color: $clr-heading;
            text-transform: capitalize;
            display: block;
        }
        input[type=radio]:not(old)+label {
            padding-left: 0;
            &:before {
                top: 32px;
                left: 36px;
                z-index: 1;
                background: $clr-white;
            }
            .icon {
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    right: -4px;
                    width: 18px;
                    height: 18px;
                    border: 1px solid $md-gray;
                    border-radius: 50%;
                    display: inline-block;
                    background: $clr-white;
                    top: inherit;
                    left: inherit;
                }
            }
        }
        input[type=radio]:not(old):checked+label {
            &:before {
                background: $clr-secondary;
            }
            .icon {
                @include box-shadow(0, 4px, 8px, rgba(0, 0, 0, 0.14));
                color: $clr-secondary;
                &:after {
                    content: "\27";
                    color: $clr-white;
                    font-family: "catchmedia-new" !important;
                    font-size: 9px;
                    text-align: center;
                    line-height: 17px;
                    bottom: 0;
                    right: -4px;
                    z-index: 1;
                    border-color: $clr-secondary;
                    background: $clr-secondary;
                }
            }
        }
        &.horizontal-text {
            .text {
                display: inline-block;
                margin: 0;
                vertical-align: middle;
            }
            .icon {
                margin-right: 9px;
                vertical-align: middle;
            }
            &.typ2-sm {
                margin: 5px 15px 5px 0;
                .icon {
                    margin-right: 7px;
                    width: 45px;
                    height: 45px;
                    font-size: 19px;
                    line-height: 51px;
                }
                input[type=radio]:not(old)+label {
                    &:before {
                        top: 25px;
                        left: 34px;
                        width: 15px;
                        height: 15px;
                    }
                }
                input[type=radio]:checked+label {
                    &:after {
                        line-height: 14px;
                        width: 12px;
                        top: 26px;
                        left: 35px;
                        height: 12px;
                        font-size: 7px;
                    }
                }
            }
        }
        &.big-type {
            img {
                float: left;
            }
            .text {
                float: left;
                margin: 3px 0 0 10px;
                text-align: left;
                vertical-align: top;
                small {
                    display: block;
                    font-size: 10px;
                    line-height: 14px;
                    margin-top: 2px;
                    color: #999;
                }
            }
            .icon {
                margin-right: 9px;
                vertical-align: top;
                width: 70px;
                height: 76px;
                background: transparent;
                border-radius: 6px;
                border: 1px solid $dark-gray;
                &:before {
                    display: none;
                }
            }
            input[type=radio]:not(old)+label {
                opacity: 0.5;
                &:before {
                    bottom: 6px;
                    left: 61px;
                    top: inherit;
                }
                &:after {
                    transition: none;
                }
                &:hover {
                    opacity: 1;
                }
            }
            input[type=radio]:not(old):checked+label {
                opacity: 1;
                &:before {
                    display: none;
                }
                &:after {
                    content: "\27";
                    color: $clr-white;
                    font-family: "catchmedia-new" !important;
                    font-size: 9px;
                    text-align: center;
                    top: 51px;
                    left: 61px;
                    width: 18px;
                    height: 18px;
                    transition: none;
                }
                .icon {
                    box-shadow: none;
                }
            }
        }
        &:not(.big-type) {
            input[type=radio]:not(old)+label,
            input[type=radio]:not(old):checked+label {
                &:before,
                &:after {
                    display: none;
                }
            }
        }
    }
    &.type-rounded {
        margin: 0;
        .input-label {
            padding: 8px 14px;
            font-size: 14px;
            border-radius: 8px;
            border: 1px solid #dbdbdb;
        }
        input[type=radio]:not(old)+label {
            &:before,
            &:after {
                display: none;
            }
        }
        input[type=radio]:not(old):checked+label {
            background: $clr-secondary;
            color: $clr-white;
            border-color: $clr-secondary;
            &:before,
            &:after {
                display: none;
            }
        }
        &.typ-small {
            .input-label {
                line-height: 18px;
                padding: 5px 14px 4px;
            }
        }
    }
    &.icon-addon {
        position: relative;
        padding-right: 36px;
        .icon {
            position: absolute;
            right: 0;
            font-size: 2.4rem;
            top: -2px;
        }
    }
}

.radio-wrap {
    display: block;
    margin: 0;
    .bs-radio {
        margin-right: 20px;
        .input-label {
            color: $clr-sub-heading;
            text-transform: capitalize;
        }
    }
    &.typ-bot-space {
        margin-bottom: 40px;
    }
    .field-title {
        display: block;
        color: $clr-sub-heading;
        font-size: 12px;
        margin-bottom: 10px;
    }
}

@include media($media768) {
    .radio-wrap {
        text-align: left;
        .bs-radio {
            margin-bottom: 10px;
        }
    }
}