.bs-option {
    .item {
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
        .bs-icon-text {
            padding: 0 10px;
            position: relative;
            .icon {
                color: $clr-heading;
                margin-bottom: 0;
            }
            .text {
                font-size: 1.2rem;
                font-weight: $font-regular;
            }
            &:hover {
                .icon {
                    color: $clr-secondary;
                }
            }
        }
        &:last-child {
            .bs-icon-text {
                padding-right: 0;
            }
        }
        .typ-create-new {
            left: -121px;
            top: 47px;
            li {
                .link {
                    text-transform: capitalize;
                    position: relative;
                    padding: 15px 14px 15px 55px;
                    .name-icons {
                        position: absolute;
                        left: 13px;
                        width: 30px;
                        height: 30px;
                        box-shadow: 0px 1px 5px 0px $shadow-gray;
                        border-radius: 50%;
                        top: 10px;
                        font-size: 1rem;
                        line-height: 3.11rem;
                        text-align: center;
                        font-weight: $font-md;
                    }
                    &:hover {
                        color: $clr-secondary;
                        .name-icons {
                            // box-shadow: 1px 1px 5px 0px $clr-secondary;
                            border: 1px solid $clr-secondary;
                            color: $clr-secondary;
                        }
                    }
                }
            }
        }
    }
    &.typ-horizontal {
        .bs-icon-text {
            .icon {
                font-size: 1.3rem;
                line-height: 1.3rem;
            }
            .text {
                font-size: 1.2rem;
                font-weight: $font-light;
            }
        }
    }
    .dropdown {
        &.typ-more {
            &.open {
                .cm-dropdown-overlay {
                    display: block;
                }
            }
        }
    }
}

@include media($media1024) {
    .bs-option {
        .dropdown {
            &.typ-more {
                &.open {
                    .cm-dropdown-overlay {
                        background: transparent;
                    }
                }
            }
        }
    }
}

@include media($media768) {
    .bs-option {
        .dropdown {
            &.typ-more {
                &.open {
                    .cm-dropdown-overlay {
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                }
            }
        }
    }
}