.form-group {
    &.bs-search {
        position: relative;
        clear: both;
        .form-control {
            font-size: 1.5rem;
            padding-right: 35px;
        }
        .btn-search {
            position: absolute;
            top: 50%;
            margin: 0;
            border-radius: 0;
            padding: 5px;
            right: 0;
            transform: translateY(-50%);
            background: transparent;
            color: $clr-heading;
            font-weight: normal;
            text-transform: capitalize;
            .icon {
                font-size: 1.8rem;
                position: relative;
                line-height: 2rem;
                display: inline-block;
                vertical-align: middle;
            }
            &:hover {
                color: $clr-secondary;
            }
        }
        .highlight {
            font-weight: $font-regular;
            font-size: 1.5rem;
        }
        &.typ2 {
            margin-bottom: 0;
            .search-wrap {
                position: absolute;
                transition: all 0.3s ease-in;
                top: 0;
                width: 0;
                right: 100%;
                .form-control {
                    margin: 0;
                }
            }
            &.active {
                .search-wrap {
                    width: 200px;
                }
            }
            .btn-search {
                position: relative;
                top: inherit;
                right: inherit;
                transform: translate(0, 0);
                z-index: 2;
                padding: 0 8px;
            }
            &.theme-light {
                .form-control {
                    background: transparent;
                    border-color: $clr-white;
                    color: $clr-white;
                }
            }
            &.theme-light2 {
                .form-control {
                    background: transparent;
                    border-color: $clr-root;
                    color: $clr-heading;
                }
            }
        }
    }
}

.form-wrap {
    &.rounded-search {
        display: inline-block;
        width: 100%;
        margin: 20px 0 0 0;
        .form-group {
            .input-group {
                width: 100%;
                padding-right: 40px;
                .form-control {
                    border-radius: 25px 0 0 25px;
                    margin: 0;
                    padding: 6px 60px 6px 42px;
                    font-size: 1.5rem;
                    display: block;
                    float: none;
                    height: 40px;
                    border: 1px solid $light-gray;
                }
                .input-group-btn {
                    right: 0;
                    width: 85px;
                    z-index: 3;
                    position: absolute;
                    top: 0;
                    .btn {
                        background: $clr-secondary;
                        color: $clr-white;
                        font-size: 1.5rem;
                        padding: 8px 32px;
                        margin: 0;
                        height: 40px;
                        top: 0;
                        border-radius: 25px;
                    }
                }
                .icon-search {
                    position: absolute;
                    top: 50%;
                    left: 15px;
                    font-size: 1.7rem;
                    z-index: 12;
                    margin-top: -9px;
                }
            }
        }
    }
}