.bs-toggle-btn {
    input {
        display: none;
    }
    label {
        cursor: pointer;
    }
    .switch {
        width: 26px;
        cursor: pointer;
        vertical-align: top;
        display: inline-block;
        height: 14px;
        border-radius: 10px;
        background: $shadow-gray;
        position: relative;
        transition: all 0.3s;
        &:before {
            content: "";
            width: 10px;
            right: inherit;
            height: 10px;
            position: absolute;
            top: 2px;
            border-radius: 50%;
            left: 2px;
            background: $clr-white;
            transition: all 0.3s;
        }
    }
    input:checked+label .switch {
        background: $clr-secondary;
        &:before {
            left: 14px;
        }
    }
    &.typ-2 {
        .switch {
            margin-left: 20px;
            height: 16px;
            background: transparent;
            border: 1px solid #acacac;
            &:before {
                background: $clr-error;
                width: 12px;
                height: 12px;
                top: 1px;
                left: 1px;
            }
        }
        label {
            text-transform: uppercase;
            font-size: 1.3rem;
            line-height: 15px;
        }
        input:checked+label .switch {
            background: transparent;
            &:before {
                background: $clr-secondary;
                left: 11px;
            }
        }
    }
}