.bs-tag {
    padding: 0px 29px 0px 12px;
    border: 0;
    margin: 4px 10px 4px 0px;
    display: inline-block;
    border-radius: 21px;
    position: relative;
    box-shadow: 0px 0px 10px $shadow-gray;
    background: $clr-white;
    cursor: pointer;
    .num {
        background: #ff9933;
        color: $clr-white;
        padding: 5px;
        border-radius: 50%;
        width: 18px;
        display: inline-block;
        height: 18px;
        font-size: 1rem;
        margin-right: 4px;
        text-align: center;
        line-height: 0.9rem;
        // vertical-align: middle;
    }
    .text {
        font-size: 1.1rem;
        line-height: 1.05rem;
        font-weight: 400;
        color: $clr-heading;
        padding: 6px 0px;
        position: relative;
        z-index: 2;
    }
    .btn {
        background: transparent;
        border: none;
        padding: 2px 8px;
        position: absolute;
        top: 1px;
        margin: 0;
        right: 3px;
        font-size: 0.9rem;
        line-height: 19px;
        vertical-align: middle;
        color: $clr-sub-heading;
        &:hover {
            color: $clr-secondary;
        }
    }
    img {
        margin-top: 5px;
        margin-right: 6px;
        float: left;
    }
    &.type-sm {
        margin: 0px 10px 4px 0px;
        padding: 0px 22px 0px 10px;
        .text {
            padding: 5px 0;
            font-size: 1rem;
        }
        .btn {
            font-size: 0.65rem;
            padding: 1px 8px;
            right: 0;
        }
    }
    &.typ-num {
        padding-left: 3px;
        // .text {
        //     padding-left: 25px;
        //     left: -25px;
        // }
    }
    &.applied {
        border-color: transparent;
        background: transparent;
        // padding: 0 10px;
        padding: 0 10px 0 3px;
        cursor: initial;
        .num {
            background: $clr-sub-heading;
        }
        &.new {
            .num {
                background: #ff9933;
            }
        }
    }
    &.applied-typ2 {
        border-color: $clr-white;
        background: $clr-white;
        padding: 0 15px;
        cursor: initial;
        color: $clr-heading;
        .text {
            font-size: 1.4rem;
            padding: 10px 0px;
        }
        &.with-icon {
            .icon {
                margin-right: 3px;
                font-size: 1.7rem;
                vertical-align: middle;
                color: $clr-secondary;
            }
        }
    }
    &.typ-error {
        .num {
            background: $clr-error;
        }
    }
    &.typ-new {
        .num {
            background: #ff9933;
        }
    }
    &.typ-operator {
        padding: 0px 18px 0px 19px;
        >.icon {
            font-size: 0.7rem;
            left: 7px;
            top: 6px;
            &.icon-exculding {
                font-size: 1.1rem;
                left: 5px;
                top: 5px;
            }
            &.icon-including {
                font-size: 0.9rem;
                left: 6px;
                top: 5px;
            }
            &.icon-lesser-than-equal-to,
            &.icon-greater-than-equal-to {
                font-size: 0.9rem;
                left: 5px;
                top: 5px;
            }
        }
        .icon-cancel {
            padding: 0px 8px;
            left: auto;
            top: 1px;
            right: -1px;
        }
    }
}