//bs-notification
.bs-notification {
    button {
        padding-left: 0px;
        padding-right: 0px;
        &.bs-icon-text {
            border: none;
            background: transparent;
        }
        &:focus {
            outline: none;
        }
    }
    .notification-head {
        .filter-option {
            overflow: hidden;
            padding: 0px 25px;
            background-color: $clr-root;
            .list {
                .item {
                    float: left;
                    .bs-search {
                        width: 260px;
                        .form-wrap {
                            margin: 4px 0px;
                            .form-group {
                                padding-right: 25px;
                                border-right: 1px solid $md-gray;
                                min-height: auto;
                                margin-bottom: 5px;
                                .form-control {
                                    border-bottom: 2px solid $light-gray;
                                    background-color: transparent;
                                    font-size: 1.2rem;
                                    height: auto;
                                }
                            }
                        }
                    }
                    .sort-wrap {
                        float: left;
                        margin: 4px 15px;
                        font-size: 1.4rem;
                        line-height: 28px;
                        font-weight: $font-bold;
                        .bs-icon-text {
                            padding: 5px 5px 5px 40px;
                            color: $clr-heading;
                            position: relative;
                            &:first-of-type {
                                margin-right: 10px;
                            }
                            .icon {
                                font-size: 1.2rem;
                                line-height: 30px;
                                position: absolute;
                                &.icon-arrow-down {
                                    left: 0;
                                    &.active {
                                        color: #49a24d;
                                    }
                                    &.disabled {
                                        color: #afafaf;
                                    }
                                }
                                &.icon-arrow-up {
                                    left: 10px;
                                    &.active {
                                        color: #49a24d;
                                    }
                                    &.disabled {
                                        color: #afafaf;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .notification-cont {
        background: #fff;
        position: absolute;
        overflow-y: auto;
        overflow-x: hidden;
        top: 50px;
        bottom: 20px;
        .list {
            .item {
                padding: 15px 25px 10px;
                border-bottom: 1px solid $light-gray;
                transition: all 0.6s;
                // &.typ-chat {
                //     .notify-box {
                //         .notify-icon {
                //             color: #67999a;
                //         }
                //     }
                // }
                &.typ-alert {
                    .notify-box {
                        .head .title a {
                            color: #f45151;
                        }
                    }
                }
                // &.typ-graph {
                //     .notify-box {
                //         .notify-icon {
                //             color: #91dab6;
                //         }
                //     }
                // }
                // &.typ-share {
                //     .notify-box {
                //         .notify-icon {
                //             color: #f9ab5d;
                //         }
                //     }
                // }
                .bs-icon-text {
                    .icon {
                        color: $clr-heading;
                    }
                }
                .notify-box {
                    padding-left: 30px;
                    padding-right: 25px;
                    position: relative;
                    .head {
                        overflow: hidden;
                        .title {
                            float: left;
                            a {
                                font-size: 1.6rem;
                                line-height: 18px;
                                font-weight: $font-bold;
                                color: $clr-sub-heading;
                            }
                        }
                        .timestamp {
                            float: right;
                            font-size: 1.1rem;
                            line-height: 18px;
                            font-weight: $font-regular;
                            span {
                                margin-right: 5px;
                                &:nth-of-type(2) {
                                    padding-right: 10px;
                                    border-right: 1px solid $md-gray;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                    .body {
                        .desc {
                            margin: 10px 0px;
                            p {
                                color: $clr-notify-text;
                                line-height: 17px;
                            }
                        }
                    }
                    .footer {
                        .bs-icon-text {
                            margin-right: 18px;
                            &.notify-func {
                                text-transform: uppercase;
                                color: $clr-heading;
                                font-weight: $font-regular;
                                padding-bottom: 0;
                                .icon {
                                    margin-right: 5px;
                                    font-size: 1.8rem;
                                    line-height: 11px;
                                }
                            }
                        }
                    }
                    .bs-icon-text {
                        &.notify-del-btn {
                            position: absolute;
                            top: 0;
                            right: 0px;
                            .icon {
                                font-size: 1.4rem;
                                position: relative;
                                top: -5px;
                                color: $clr-heading;
                            }
                        }
                        &.notify-icon {
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                }
                &:hover {
                    background-color: rgba(0, 0, 0, 0.03);
                }
            }
        }
    }
}

@include media($media1024) {
    .bs-notification {
        .notification-head {
            .filter-option {
                padding: 0px 10px;
                .list {
                    .item {
                        .bs-search {
                            width: 210px;
                        }
                        .sort-wrap {
                            .bs-icon-text {
                                padding: 5px 5px 5px 26px;
                                &:first-of-type {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        .notification-cont {
            .list {
                .item {
                    padding: 10px;
                    .bs-icon-text {
                        .icon {
                            font-size: 1.6rem;
                            line-height: 11px;
                        }
                    }
                    .notify-box {
                        padding-left: 25px;
                        padding-right: 16px;
                        .head {
                            .title {
                                a {
                                    font-size: 1.4rem;
                                    line-height: 16px;
                                }
                            }
                            .timestamp {
                                font-size: 0.9rem;
                                line-height: 14px;
                            }
                        }
                        .bs-icon-text {
                            &.notify-del-btn {
                                top: auto;
                                bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}