// bs-repeat
.bs-repeat {
    .time-frame {
        margin-bottom: 40px;
        .bs-radio {
            margin: 0 10px 0px 0;
        }
        .st-date {
            margin-right: 0;
            display: inline-block;
            width: 200px;
            position: relative;
            .form-wrap {
                &.typ-drpdwn {
                    margin-top: 0px;
                    .form-group {
                        .form-control {
                            margin-top: 0px;
                        }
                    }
                }
            }
            .form-control {
                width: 60%;
                border: none;
                border-radius: 0;
                border-bottom: 1px solid #e7e7e7;
                box-shadow: none;
                margin-left: 23px;
                font-size: 1.4rem;
                font-weight: $font-light;
                padding: 6px 12px 6px 0;
                margin-top: 0;
                &:focus {
                    outline: none;
                }
            }
            .timeframe-tag {
                position: absolute;
                left: 24px;
                margin-top: 5px;
                color: $clr-notify-text;
            }
            .btn-cal {
                font-size: 1.7rem;
                line-height: 16px;
                position: absolute;
                top: 28px;
                padding: 0;
            }
        }
    }
    .radio-wrap {
        .bs-radio {
            .input-label {
                color: $clr-heading;
                font-weight: $font-regular;
            }
        }
    }
}

@include media(mobile) {
    .bs-repeat {
        .time-frame {
            .st-date {
                margin-bottom: 20px;
                margin-right: 0;
                .title {
                    margin-bottom: 3px;
                }
                .btn-cal {
                    top: 28px;
                }
            }
        }
    }
}