@charset "UTF-8";
@font-face {
    font-family: "catchmedia-new";
    src: url("../fonts/catchmedia-new.eot");
    src: url("../fonts/catchmedia-new.eot?#iefix") format("embedded-opentype"), url("../fonts/catchmedia-new.woff") format("woff"), url("../fonts/catchmedia-new.ttf") format("truetype"), url("../fonts/catchmedia-new.svg#catchmedia-new") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "catchmedia-new" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "catchmedia-new" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-my-dashboard:before {
    content: "\63";
}

.icon-my-dashboard-o:before {
    content: "\64";
}

.icon-news:before {
    content: "\65";
}

.icon-news-o:before {
    content: "\66";
}

.icon-workspace:before {
    content: "\67";
}

.icon-workspace-o:before {
    content: "\68";
}

.icon-quick-menu:before {
    content: "\69";
}

.icon-quick-menu-o:before {
    content: "\6a";
}

.icon-notification:before {
    content: "\6b";
}

.icon-notification-o:before {
    content: "\6c";
}

.icon-home:before {
    content: "\6d";
}

.icon-home-o:before {
    content: "\6e";
}

.icon-audience:before {
    content: "\71";
}

.icon-audience-o:before {
    content: "\72";
}

.icon-advertising:before {
    content: "\73";
}

.icon-advertising-o:before {
    content: "\74";
}

.icon-reports:before {
    content: "\75";
}

.icon-reports-o:before {
    content: "\76";
}

.icon-pin:before {
    content: "\77";
}

.icon-pin-o:before {
    content: "\78";
}

.icon-tasks:before {
    content: "\79";
}

.icon-tasks-o:before {
    content: "\7a";
}

.icon-settings:before {
    content: "\41";
}

.icon-settings-o:before {
    content: "\42";
}

.icon-message:before {
    content: "\43";
}

.icon-message-o:before {
    content: "\44";
}

.icon-goal-based-tray:before {
    content: "\45";
}

.icon-report-tray:before {
    content: "\46";
}

.icon-trending-tray:before {
    content: "\47";
}

.icon-stack:before {
    content: "\48";
}

.icon-stack-o:before {
    content: "\49";
}

.icon-kpi:before {
    content: "\4a";
}

.icon-kpi-o:before {
    content: "\4b";
}

.icon-share:before {
    content: "\4c";
}

.icon-share-o:before {
    content: "\4d";
}

.icon-right-arrow:before {
    content: "\4e";
}

.icon-left-arrow:before {
    content: "\4f";
}

.icon-more:before {
    content: "\50";
}

.icon-up-arrow:before {
    content: "\51";
}

.icon-down-arrow:before {
    content: "\52";
}

.icon-filter-o:before {
    content: "\54";
}

.icon-date-range-o:before {
    content: "\56";
}

.icon-add-to-workspace:before {
    content: "\57";
}

.icon-add-to-workspace-o:before {
    content: "\58";
}

.icon-filter:before {
    content: "\53";
}

.icon-more-horizontal:before {
    content: "\59";
}

.icon-search:before {
    content: "\5a";
}

.icon-send:before {
    content: "\30";
}

.icon-graph-level:before {
    content: "\31";
}

.icon-key-indicator:before {
    content: "\32";
}

.icon-alert:before {
    content: "\33";
}

.icon-review:before {
    content: "\34";
}

.icon-review-o:before {
    content: "\35";
}

.icon-add:before {
    content: "\36";
}

.icon-add-o:before {
    content: "\37";
}

.icon-trash:before {
    content: "\38";
}

.icon-trash-o:before {
    content: "\39";
}

.icon-view:before {
    content: "\21";
}

.icon-view-o:before {
    content: "\22";
}

.icon-reply:before {
    content: "\23";
}

.icon-reply-o:before {
    content: "\24";
}

.icon-arrow-down:before {
    content: "\25";
}

.icon-arrow-up:before {
    content: "\26";
}

.icon-campaign:before {
    content: "\6f";
}

.icon-campaign-o:before {
    content: "\70";
}

.icon-tick-mark:before {
    content: "\27";
}

.icon-save:before {
    content: "\28";
}

.icon-save-o:before {
    content: "\29";
}

.icon-warning:before {
    content: "\2a";
}

.icon-email:before {
    content: "\2b";
}

.icon-download:before {
    content: "\2c";
}

.icon-edit:before {
    content: "\2d";
}

.icon-pdf:before {
    content: "\2e";
}

.icon-html:before {
    content: "\2f";
}

.icon-png:before {
    content: "\3a";
}

.icon-csv:before {
    content: "\3b";
}

.icon-xl:before {
    content: "\3c";
}

.icon-cancel:before {
    content: "\3d";
}

.icon-show-less:before {
    content: "\3e";
}

.icon-show-less-o:before {
    content: "\3f";
}

.icon-approval:before {
    content: "\40";
}

.icon-text-message:before {
    content: "\5b";
}

.icon-minus:before {
    content: "\5d";
}

.icon-plus:before {
    content: "\5e";
}

.icon-watch:before {
    content: "\55";
}

.icon-date-range:before {
    content: "\5f";
}

.icon-more-option:before {
    content: "\60";
}

.icon-more-option-o:before {
    content: "\7b";
}

.icon-collection:before {
    content: "\7c";
}

.icon-expand:before {
    content: "\7d";
}

.icon-collapse:before {
    content: "\7e";
}

.icon-minus-bold:before {
    content: "\5c";
}

.icon-plus-bold:before {
    content: "\e000";
}

.icon-move:before {
    content: "\e001";
}

.icon-granularity:before {
    content: "\e003";
}

.icon-history:before {
    content: "\e005";
}

.icon-graph-view:before {
    content: "\e006";
}

.icon-tabular-view:before {
    content: "\e007";
}

.icon-refresh:before {
    content: "\e008";
}

.icon-granularity-o:before {
    content: "\e00a";
}

.icon-history-o:before {
    content: "\e00c";
}

.icon-configuration:before {
    content: "\e00d";
}

.icon-deep-links:before {
    content: "\e00e";
}

.icon-tag-management:before {
    content: "\e00f";
}

.icon-notification-1:before {
    content: "\e010";
}

.icon-create-auto-trigger:before {
    content: "\e011";
}

.icon-messages:before {
    content: "\e012";
}

.icon-user-reports:before {
    content: "\e013";
}

.icon-user-activity:before {
    content: "\e014";
}

.icon-app-activity:before {
    content: "\e015";
}

.icon-estore-activity:before {
    content: "\e016";
}

.icon-credits-activity:before {
    content: "\e017";
}

.icon-add-report:before {
    content: "\e018";
}

.icon-export:before {
    content: "\e019";
}

.icon-pointer:before {
    content: "\e01a";
}

.icon-time-range:before {
    content: "\e01b";
}

.icon-equal-to:before {
    content: "\e01c";
}

.icon-less-than:before {
    content: "\e01d";
}

.icon-more-than:before {
    content: "\e01e";
}

.icon-including:before {
    content: "\e01f";
}

.icon-exculding:before {
    content: "\e020";
}

.icon-bar-graph:before {
    content: "\e021";
}

.icon-line-graph:before {
    content: "\e022";
}

.icon-pie-chart:before {
    content: "\e023";
}

.icon-scatter-plot:before {
    content: "\e024";
}

.icon-histogram:before {
    content: "\e025";
}

.icon-frequency-polygon:before {
    content: "\e026";
}

.icon-frequency-curve:before {
    content: "\e027";
}

.icon-cumulative-frequency:before {
    content: "\e028";
}

.icon-graph-type-o:before {
    content: "\e002";
}

.icon-compare-o:before {
    content: "\e004";
}

.icon-compare:before {
    content: "\e00b";
}

.icon-comment:before {
    content: "\e02b";
}

.icon-pivot:before {
    content: "\e02c";
}

.icon-clear:before {
    content: "\e02d";
}

.icon-movies-reports:before {
    content: "\e02e";
}

.icon-music-reports:before {
    content: "\e02f";
}

.icon-media-reports:before {
    content: "\e030";
}

.icon-refresh-1:before {
    content: "\e031";
}

.icon-grid-view:before {
    content: "\e032";
}

.icon-sort-by:before {
    content: "\e033";
}

.icon-time-range-1:before {
    content: "\e034";
}

.icon-equal-to-1:before {
    content: "\e035";
}

.icon-frequently-used:before {
    content: "\e036";
}

.icon-lesser-than-equal-to:before {
    content: "\e037";
}

.icon-greater-than-equal-to:before {
    content: "\e038";
}

.icon-lesser-than:before {
    content: "\e039";
}

.icon-greater-than:before {
    content: "\e03a";
}

.icon-tag-view:before {
    content: "\e03b";
}

.icon-list-view:before {
    content: "\e03c";
}

.icon-activate:before {
    content: "\e03d";
}

.icon-copy:before {
    content: "\e03e";
}

.icon-remove:before {
    content: "\e03f";
}

.icon-preview:before {
    content: "\e040";
}

.icon-tray-view:before {
    content: "\61";
}

.icon-tray-view-o:before {
    content: "\62";
}

.icon-iconss-new-02-71:before {
    content: "\e041";
}

.icon-font-size:before {
    content: "\e042";
}

.icon-bold:before {
    content: "\e043";
}

.icon-underline:before {
    content: "\e044";
}

.icon-italic:before {
    content: "\e045";
}

.icon-decrease-indent:before {
    content: "\e046";
}

.icon-upload:before {
    content: "\e047";
}

.icon-compose:before {
    content: "\e048";
}

.icon-open:before {
    content: "\e049";
}

.icon-open-o:before {
    content: "\e04a";
}

.icon-audio:before {
    content: "\e04b";
}

.icon-playlist:before {
    content: "\e04c";
}

.icon-media:before {
    content: "\e04d";
}

.icon-playlist-o:before {
    content: "\e04e";
}

.icon-image:before {
    content: "\e04f";
}

.icon-image-o:before {
    content: "\e050";
}

.icon-increase-indent:before {
    content: "\e051";
}

.icon-iconss-new-02-67:before {
    content: "\e052";
}

.icon-column:before {
    content: "\e053";
}

.icon-numbering:before {
    content: "\e054";
}

.icon-left-align:before {
    content: "\e055";
}

.icon-centre-align:before {
    content: "\e056";
}

.icon-audio-o:before {
    content: "\e057";
}

.icon-image-1:before {
    content: "\e058";
}

.icon-rtf:before {
    content: "\e059";
}

.icon-rtf-o:before {
    content: "\e05a";
}

.icon-video:before {
    content: "\e05b";
}

.icon-video-o:before {
    content: "\e05c";
}

.icon-media-o:before {
    content: "\e05d";
}

.icon-app-location-o:before {
    content: "\e05e";
}

.icon-ext-link:before {
    content: "\e05f";
}

.icon-right-align:before {
    content: "\e060";
}

.icon-minute:before {
    content: "\e061";
}

.icon-hour:before {
    content: "\e062";
}

.icon-day:before {
    content: "\e063";
}

.icon-week:before {
    content: "\e064";
}

.icon-month:before {
    content: "\e065";
}

.icon-year:before {
    content: "\e066";
}

.icon-quarter:before {
    content: "\e067";
}

.icon-hide:before {
    content: "\e068";
}

.icon-drill-down:before {
    content: "\e069";
}

.icon-drill-down-2:before {
    content: "\e06a";
}

.icon-forgot-password:before {
    content: "\e06b";
}

.icon-external-link:before {
    content: "\e06c";
}

.icon-media-1:before {
    content: "\e06d";
}

.icon-open-app:before {
    content: "\e06e";
}

.icon-playlist-1:before {
    content: "\e06f";
}

.icon-compose-2:before {
    content: "\e070";
}

.icon-audio-2:before {
    content: "\e071";
}

.icon-image-2:before {
    content: "\e072";
}

.icon-rich-text:before {
    content: "\e073";
}

.icon-video-1:before {
    content: "\e074";
}

.icon-start:before {
    content: "\e075";
}

.icon-audience-set:before {
    content: "\e076";
}

.icon-email-1:before {
    content: "\e077";
}

.icon-sms:before {
    content: "\e078";
}

.icon-push:before {
    content: "\e079";
}

.icon-inbox:before {
    content: "\e07a";
}

.icon-3rd-party:before {
    content: "\e07b";
}

.icon-in-app:before {
    content: "\e07c";
}

.icon-node:before {
    content: "\e07d";
}

.icon-gantt-view:before {
    content: "\e07e";
}

.icon-schedule:before {
    content: "\e07f";
}

.icon-app-location:before {
    content: "\e080";
}

.icon-tick-o:before {
    content: "\e081";
}

.icon-rearrange:before {
    content: "\e085";
}

.icon-contract:before {
    content: "\e087";
}

.icon-diagram:before {
    content: "\e088";
}

.icon-funnel:before {
    content: "\e089";
}

.icon-graph:before {
    content: "\e08a";
}

.icon-cell-graph:before {
    content: "\e08b";
}

.icon-graph-type:before {
    content: "\e084";
}

.icon-like-op:before {
    content: "\e08e";
}

.icon-between-op:before {
    content: "\e083";
}

.icon-not-equals-to-op:before {
    content: "\e08c";
}

.icon-pin-report:before {
    content: "\e009";
}

.icon-pin-report-o:before {
    content: "\e029";
}

.icon-login-psuedo:before {
    content: "\e02a";
}

.icon-flipt:before {
    content: "\e082";
}

.icon-dashboard-goal:before {
    content: "\e08d";
}

.icon-bar-chart:before {
    content: "\e086";
}

.icon-admin:before {
    content: "\e090";
}

.icon-advertising-1:before {
    content: "\e091";
}

.icon-advertising2:before {
    content: "\e092";
}

.icon-analytics:before {
    content: "\e093";
}

.icon-assign:before {
    content: "\e094";
}

.icon-audiences:before {
    content: "\e095";
}

.icon-books:before {
    content: "\e096";
}

.icon-communication:before {
    content: "\e097";
}

.icon-communications:before {
    content: "\e098";
}

.icon-configuration-1:before {
    content: "\e099";
}

.icon-goals-kpis:before {
    content: "\e09a";
}

.icon-games:before {
    content: "\e09b";
}

.icon-delete:before {
    content: "\e09c";
}

.icon-data-mapping:before {
    content: "\e09d";
}

.icon-dashboard:before {
    content: "\e09e";
}

.icon-copy-1:before {
    content: "\e09f";
}

.icon-licensingbasic-details:before {
    content: "\e0a0";
}

.icon-key-indicators:before {
    content: "\e0a1";
}

.icon-reports-1:before {
    content: "\e0a2";
}

.icon-movies:before {
    content: "\e0a3";
}

.icon-music:before {
    content: "\e0a4";
}

.icon-success:before {
    content: "\e0a5";
}

.icon-unassign:before {
    content: "\e0a6";
}

.icon-users:before {
    content: "\e0a7";
}

.icon-permissionss:before {
    content: "\e0a9";
}

.icon-view-summary:before {
    content: "\e0aa";
}

.icon-visualize-manage:before {
    content: "\e0ab";
}

.icon-warning2:before {
    content: "\e0ad";
}

.icon-warning-1:before {
    content: "\e0ae";
}

.icon-verticals:before {
    content: "\e0a8";
}

.icon-personas:before {
    content: "\e0ac";
}

.icon-preview-1:before {
    content: "\e0af";
}

.icon-exit:before {
    content: "\e08f";
}

.icon-lock:before {
    content: "\e0b1";
}

.icon-unlock:before {
    content: "\e0b2";
}

.icon-lock-filled:before {
    content: "\e0b3";
}

.icon-flip:before {
    content: "\e0b0";
}

.icon-change-view-1:before {
    content: "\e0b4";
}

.icon-roundedreport:before {
    content: "\e0b9";
}

.icon-onereport:before {
    content: "\e0b8";
}

.icon-tworeport:before {
    content: "\e0b5";
}

.icon-threereport:before {
    content: "\e0b6";
}

.icon-globe1:before {
    content: "\e0b7";
}

.icon-globe:before {
    content: "\e0ba";
}

.icon-lightbulb:before {
    content: "\e0bb";
}