/* default-color: #009de5 */

.bs-breadcrumb {
    background: linear-gradient(to right, #009de5 0%, #009de5 100%);
}

.lyt-top-bar {
    background: linear-gradient(to right, #009de5 0%, #009de5 51%, #009de5 100%);
}

.bs-sec.typ-login .sec-cont .bg-img-wrap {
    background: url(../images/login-bg.jpg) no-repeat 0 0 transparent;
    background-size: cover;
}

.mod-login .img-wrap {
    background: url(../images/logo.png) center center no-repeat;
    background-size: 100%;
}

.bs-icon-text.typ-link {
    color: #009de5;
}

a.bs-icon-text:hover * {
    color: #009de5;
}


/* start - this colors used for icons besides heading in tray-view page */

.bs-icon-text.icon-blue .icon {
    color: #2e7ec4;
}

.bs-icon-text.icon-red .icon {
    color: #ff5e49;
}

.bs-icon-text.icon-lightblue .icon {
    color: #a1a1cf;
}

.bs-icon-text.icon-darkred .icon {
    color: #ce2689;
}


/* End - this colors used for icons besides heading in tray-view page */

a.bs-icon-text:hover .notification-count {
    color: #ffffff;
}

.bs-radio input[type=radio]:not(old):checked+label:before {
    border: 1px solid #009de5;
}

.bs-radio input[type=radio]:not(old):checked+label:after {
    background: #009de5;
}

.bs-radio.type3 input[type=radio]:not(old):checked+label {
    background: #009de5;
    color: #ffffff;
}

.bs-radio.typ-radio-btn input[type=radio]:not(old)+label:hover {
    background: #009de5;
    border: 1px solid #009de5;
    color: #ffffff;
}

.bs-radio.typ-radio-btn input[type=radio]:not(old):checked+label {
    background: #009de5;
    border: 1px solid #009de5;
    color: #ffffff;
}

.bs-radio.typ-operator input[type=radio]:not(old):checked+label {
    border: 1px solid #009de5;
    color: #009de5;
}

.bs-radio.typ-card input[type=radio]:not(old)+label:hover {
    border: 1px solid #009de5;
}

.bs-radio.typ-card input[type=radio]:not(old):checked+label {
    border: 1px solid #009de5;
}

.bs-radio.typ-compare input[type=radio]:not(old):checked+label .icon {
    background: #009de5;
    color: #ffffff;
}

.bs-checkbox input[type=checkbox]:not(old)+label:after {
    border: solid #009de5;
}

.bs-checkbox input[type=checkbox]:not(old):checked+label:before {
    border: 1px solid #009de5;
}

.bs-tag {
    background: #ffffff;
}

.bs-tag .num {
    background: #ff9933;
    /* color for number background in tags  */
    color: #ffffff;
}

.bs-tag .btn:hover {
    color: #009de5;
}

.bs-tag.typ-error .num {
    background: #ff0f0f;
}

.bs-tag.typ-new .num {
    background: #ff9933;
    /* color for number background in tags  */
}

.bs-header {
    background: #ffffff;
}

.bs-header .nav-left .menu-btn.active .line {
    background: #ffffff;
}

.bs-header .nav-left .menu-btn.mobile-menu-btn {}

.bs-header .nav-left .logo {
    background: #ffffff;
}

.bs-header .nav-left .list>.item.active>.bs-icon-text>.icon,
.bs-header .nav-left .list>.item.active>.bs-icon-text>.text {
    color: #009de5;
}

.bs-header .nav-left .list>.item.active>.bs-icon-text>.icon .icon,
.bs-header .nav-left .list>.item.active>.bs-icon-text>.text .icon {
    color: #009de5;
}

.bs-header .nav-right .list .item .notification-count {
    background: #ff0000;
    /* color for nitification count  */
    color: #ffffff;
}

.bs-header .nav-right .mod-brand-info .brand-logo {
    background: url(../../assets/images/wmg.png) center center no-repeat #ffffff;
    border-top: 5px solid #009de5;
    background-size: 70%;
}

.bs-sec.typ-top-trend .sec-head {
    background-color: #009de5;
}

.bs-sec.typ-top-trend .sec-head .title {
    color: #ffffff;
}

.lyt-top-bar .bs-icon-text * {
    color: #ffffff;
}

.lyt-top-bar .bs-icon-text:hover * {
    color: #ffffff;
}

.lyt-top-bar .swiper-container .swiper-button-next:after,
.lyt-top-bar .swiper-container .swiper-button-prev:after,
.lyt-top-bar .swiper-container .swiper-arrow:after {
    color: #ffffff;
}

.form-group.bs-search.typ2.theme-light .form-control {
    border-color: #ffffff;
    color: #ffffff;
}

.form-group.bs-search.typ2.theme-light .btn-search {
    color: #ffffff;
}

.btn.btn-default {
    background: #009de5;
}

.btn.btn-default:active,
.btn.btn-default:focus,
.btn.btn-default:hover {
    color: #ffffff;
}

.btn.btn-default.active {
    color: #ffffff;
}

.btn.btn-default.active:active,
.btn.btn-default.active:focus,
.btn.btn-default.active:hover {
    color: #ffffff;
}

.btn.btn-secondary {
    background: #ffffff;
    border: 1px solid #009de5;
    color: #009de5;
}

.btn.btn-secondary:active,
.btn.btn-secondary:focus,
.btn.btn-secondary:hover {
    background: #ffffff;
}

.btn.btn-secondary.active {
    background: #ffffff;
}

.btn.btn-secondary.active:active,
.btn.btn-secondary.active:focus,
.btn.btn-secondary.active:hover {
    background: #ffffff;
}

.btn.btn-link {
    color: #009de5;
}

.btn.btn-link:hover,
.btn.btn-link:focus {
    text-decoration: none;
    border-bottom: 1px solid #009de5;
    color: #009de5;
}

.btn.disabled {
    color: #ffffff;
}

.btn.disabled:hover {
    color: #ffffff;
}

.btn.btn-edit-mode {
    background: #009de5;
}

.btn.btn-edit-mode .icon {
    color: #ffffff;
}

.modal .modal-content .modal-body .lyt-accordion .accord-head a:after {
    color: #009de5;
}

.modal .modal-content .modal-body .lyt-accordion .accord-head .icon {
    color: #009de5;
    border-right: 1px solid #efefef;
}

.modal .modal-content .modal-body.lyt-existing-rules .lyt-radio-list li .icon-refresh {
    color: #009de5;
}

.modal .modal-content .modal-body .add-btn:before {
    background: #ffffff;
    border: 1px solid #009de5;
}

.modal.typ-big .modal-content .modal-footer {
    background-color: #ffffff;
}

.modal .refresh-user .icon-refresh {
    color: #009de5;
}

.modal .tabs .list .item .btn-expand {
    background-color: #009de5;
    color: #ffffff;
}

.modal .tabs .list .item .btn-expand:active,
.modal .tabs .list .item .btn-expand:hover {
    color: #ffffff;
}

.modal .modal-dialog.modal-xl .modal-content .modal-body .title .bs-icon-text .icon {
    color: #ffffff;
}

.modal .modal-dialog.modal-xl .modal-content .modal-body .title .bs-icon-text .text {
    color: #ffffff;
}

.modal .modal-dialog.modal-xl .modal-content .modal-body .bs-option .close {
    color: #ffffff;
}

.modal .modal-dialog.modal-xl .modal-content .modal-body .filter-list .bs-tag .text {
    color: #ffffff;
}

.modal .modal-dialog.modal-xl .modal-content .modal-body .modal-tab .title {
    color: #ffffff;
}

.modal .modal-dialog.modal-xl .modal-content .modal-body .modal-tab ul li a:hover {
    background: #ffffff;
}

.modal .modal-dialog.modal-xl .modal-content .modal-body .modal-tab ul li.active a {
    background: #ffffff;
}

.modal .modal-dialog.modal-xl .modal-content .modal-body .modal-tab ul li:nth-child(2):before {
    background: #000000;
}

.modal .modal-dialog.modal-xl .modal-content .modal-body .modal-tab ul li:nth-child(3):before {
    background: #000000;
}

.modal .modal-dialog.modal-xl .modal-content .modal-body .modal-tab ul li:nth-child(3):after {
    background: #000000;
}

.modal .modal-dialog.modal-xl .bs-sec .sec-head .sec-title {
    color: #ffffff;
}

.modal .modal-dialog.modal-xl .bs-sec .sec-head .sec-title .bs-icon-text {
    color: #ffffff;
}

.modal .modal-dialog.modal-xl .bs-sec .sec-head .btn-close .icon {
    color: #ffffff;
}

.modal .modal-dialog.modal-xl .lyt-tag .bs-tag .text {
    color: #ffffff;
}

.bs-breadcrumb .list .item a {
    color: #ffffff;
}

.bs-breadcrumb .list .item .breadcrumb-nav-link:before {
    border-left: 6px solid #ffffff;
}

.bs-pagination .pagination .page-item .page-link:after {
    background-color: #009de5;
}

.bs-pagination .pagination .page-item .page-link.active {
    color: #009de5;
}

.accordion .accord-head .icon {
    color: #009de5;
}

.accordion.typ2 .accord-head a:after {
    color: #009de5;
}

.accordion.typ2 .accord-head a:hover:after {
    color: #009de5;
}

.tabs .nav li a:after {
    border-top: 9px solid #009de5;
}

.tabs .nav li.active a .count {
    border-left: 2px solid #009de5;
}

.tabs .nav li a:before {
    background-color: #009de5;
}

.tabs .nav li a:hover {
    color: #009de5;
}

.tabs .nav li a:focus {
    color: #009de5;
}

.tabs .nav li.active a {
    color: #009de5;
}

.tabs .nav li.active a:hover {
    color: #009de5;
}

.tabs .nav li.completed:before {
    color: #ffffff;
    background-color: #009de5;
}

.tabs.typ-1 ul li a:hover .title:before,
.tabs.typ-1 ul li a:focus .title:before {
    border-left-color: #009de5;
}

.tabs.typ-1 ul li.active a .title:before {
    border-left-color: #009de5;
}

.tabs.typ-1 ul li.active.counter:after {
    color: #009de5;
}

.tabs.typ-1 ul li:hover.counter:after,
.tabs.typ-1 ul li:focus.counter:after {
    color: #009de5;
}

.tabs.typ-2 .nav li a:hover,
.tabs.typ-2 .nav li a:focus {
    color: #ffffff;
}

.tabs.typ-2 .nav li.active a {
    color: #ffffff;
}

.tabs.typ-2 .nav li.active a .sub-title {
    color: #ffffff;
}

.tabs.typ-2 .nav li.active.counter:after {
    color: #ffffff;
}

.tabs.typ-2 .nav li:before {
    background-color: #009de5;
}

.tabs.typ-2 .nav li.completed.counter:after {
    color: #ffffff;
}

.tabs.typ-2 .nav li.completed a {
    color: #ffffff;
}

.tabs.typ-2 .nav li:hover.counter:after,
.tabs.typ-2 .nav li:focus.counter:after {
    color: #ffffff;
}

.tabs.typ-3 .nav li.active {
    background: #ffffff;
}

.tabs.typ-3 .nav li.active:hover {
    background: #ffffff;
}

.tabs.typ-4 .nav-tabs>li.active>a:after {
    background: #ffffff;
}

.tabs.typ-5 .nav-tabs>li:before {
    color: #ffffff;
}

.tabs.typ-5 .nav-tabs>li.active:before {
    background-color: #ffffff;
}

.tabs.typ-5 .nav-tabs>li.active>a {
    color: #ffffff;
}

.tabs.typ-vertical .nav {
    background: #fff;
}

@media only screen and (max-width: mobile) {
    .tabs .nav li a:after {
        border-top: 5px solid #009de5;
    }
}

.dropdown .dropdown-menu .link.btn-link {
    color: #009de5;
}

.dropdown .dropdown-menu.typ-icon .link.active {
    color: #009de5;
}

.dropdown .dropdown-menu.up-arrow:after {
    border-bottom-color: #ffffff;
}

.dropdown.dashboard-category>.icon {
    color: #ffffff;
}

.table.typ3 .sort-btn.descending .icon.icon-down-arrow {
    color: #009de5;
}

.table.typ3 .sort-btn.ascending .icon.icon-up-arrow {
    color: #009de5;
}

.table.table-stripped tbody tr td.high .icon {
    color: #009de5;
}

.swiper-container .swiper-button-prev:hover:after,
.swiper-container .swiper-button-next:hover:after {
    color: #009de5;
}

.highcharts-legend {
    background: #ffffff;
}

.highcharts-root text,
.highcharts-root tspan {
    color: #000;
}

.highcharts-tooltip {
    background: #ffffff;
}

.lyt-nav ul li .bs-icon-text .icon {
    color: #ffffff;
}

.lyt-nav ul li .bs-icon-text .text {
    color: #ffffff;
}

.lyt-nav ul li:hover:before {
    background: #009de5;
    border-bottom: 1px soild #009de5;
}

@media (max-width: 1024px) {
    .lyt-nav .mod-user-info .picture-wrap {
        border: 1px solid #009de5;
    }
    .lyt-nav .mod-user-info .user-name,
    .lyt-nav .mod-user-info .designation {
        color: #ffffff;
    }
}

.lyt-graph.typ-big .mod-graph {
    background-color: #ffffff;
}

.lyt-graph.typ-table {
    background: #ffffff;
}

.lyt-graph.typ-table .lyt-filter {
    background-color: #ffffff;
}

.lyt-graph.typ-table .btn-compare:hover,
.lyt-graph.typ-table .btn-compare.active {
    color: #009de5;
}

.lyt-filter .mod-filter-opt {
    background: #ffffff;
}

.lyt-filter.type-frequent-filter .mod-select-box .dropdown .btn.dropdown-toggle {
    background: #fff;
}

.lyt-filter.type-frequent-filter .mod-select-box .dropdown .btn .num {
    background: #ff9933;
    /* color for number background in filters tags  */
    color: #ffffff;
}

.tag-hover-filter {
    background: #ffffff;
}

.lyt-compare-graph {
    background: #ffffff;
}

.lyt-report-detail {
    background: #ffffff;
}

.lyt-notification {
    background: #ffffff;
}

.pg-edit .typ-edit {
    border: 1px dashed #009de5;
}

.pg-edit .add-kpi {
    color: #ffffff;
}

.pg-edit.typ-dashboard .edit-card {
    border: 1px dashed #009de5;
}

.mod-switch .switch input:checked+.slider:before {
    background-color: #009de5;
}

.mod-summary.state-high .summary-info .unit-status {
    color: #009de5;
}

.mod-summary.state-high .summary-info .unit-status:after {
    border-bottom: 5px solid #009de5;
}

.mod-thumbnail .img-title-wrap .title-head .title {
    color: #ffffff;
}

.mod-thumbnail .img-title-wrap .title-head .count-data {
    color: #ffffff;
}

.mod-thumbnail .img-title-wrap .title-head .count-data:first-child:after {
    background: #ffffff;
}

.mod-trending {
    background: #ffffff;
}

.mod-heading .title a:hover:after {
    color: #009de5;
}

.mod-heading .bs-option .js-compare-graph:hover,
.mod-heading .bs-option .js-compare-graph.active {
    background: #ffffff;
}

.mod-heading .bs-option .js-compare-graph:hover:before,
.mod-heading .bs-option .js-compare-graph.active:before {
    background-color: #ffffff;
}

.mod-heading .bs-icon-text.btn-reset {
    color: #009de5;
}

.mod-notification {
    background: #ffffff;
}

.mod-notification:hover {
    background: rgba(0, 0, 0, 0.03);
}

.mod-report-card .card-cont {
    background: #ffffff;
}

.mod-report-card .card-cont .more-option .btn:hover {
    color: #009de5;
}

.mod-report-card .card-cont .mod-tag .more-tag:hover {
    color: #009de5;
}

.mod-report-card .card-cont .mod-tag .more-tag.active {
    color: #009de5;
}

.mod-log {
    background: #ffffff;
}

.mod-graph .graph-cont {
    background: #ffffff;
}

.mod-graph .graph-cont .info-cont .table tbody tr td .icon-pup {
    color: #009de5;
}

.mod-graph .graph-summary .val.typ-state.typ-high {
    color: #009de5;
}

.mod-graph .graph-summary .val.typ-state.typ-high:after {
    border-bottom: 14px solid #009de5;
}

.mod-filter .title:hover {
    color: #009de5;
}

.mod-filter .lyt-tag .btn-more {
    background-color: #ffffff;
}

.mod-filter .lyt-tag .btn-more:hover {
    background: #009de5;
    border: 1px solid #009de5;
}

.mod-filter .lyt-tag .btn-more:hover:before {
    color: #ffffff;
}

.mod-filter .lyt-tag .btn-less.icon:before {
    color: #ffffff;
}

.mod-filter-opt .lvl .act-btn .apply-count {
    background: #ffffff;
    color: #009de5;
}

.mod-filter-opt .lvl1 {
    background: #ffffff;
}

.mod-filter-opt .lyt-filter.typ2 {
    background: #ffffff;
}

.mod-timeframe-opt {
    background: #ffffff;
}

.mod-timeframe-opt .cont .lyt-filter.typ2 .list .item .bs-radio.typ-radio-btn input[type=radio]:not(old):checked+label {
    color: #ffffff;
    background: #009de5;
}


/* user */

.bs-header .nav-right .mod-user-info .dropdown-menu.user-panal .user-details ul li.active .user .name,
.bs-header .nav-right .mod-user-info .dropdown-menu.user-panal .user-details ul li:hover .user .name {
    color: #009de5;
}

.bs-header .nav-right .mod-user-info .mod-switch.with-text .switch input:checked+.slider,
.bs-header .nav-right .mod-user-info .mod-switch.with-text .switch input+.slider {
    border: 1px solid #009de5;
    background: #009de5;
}

.lyt-system-card .act-icon.flip-btn .icon {
    color: #009de5;
}

.mod-system-card .cont .img-wrap:after {
    background: #f0f5f7;
}

.mod-system-card:hover .cont .img-wrap:before,
.mod-system-card:hover .cont .img-wrap:after {
    background: #f0f3f5;
}

.mod-system-card:hover .cont .img-wrap:after {
    background: #cfe9f7;
}

.mod-system-card .cont .img-wrap .notyfy {
    color: #009de5;
}

.lyt-system-card .left-div .mod-system-card .cont .img-wrap:before {
    background: #f0f3f5;
}

.lyt-system-card .left-div .mod-system-card .cont .img-wrap:after {
    background: #cfe9f7;
}

.mod-persona-option .option-list .item-selected .selected-count {
    background: #009de5;
}

.ag-theme-balham .ag-icon-asc:before,
.ag-theme-balham .ag-icon-desc:before {
    color: #009de5;
}

.mod-persona-option .action-list .btn:hover {
    color: #009de5;
}

.mod-left-nav li.active .bs-icon-text,
.mod-left-nav .view-summary a,
.accordion.typ2 .accord-head .bs-icon-text {
    color: #009de5;
}

.mod-left-nav li.active:after {
    border-left-color: #009de5;
}

.bs-checkbox input[type=checkbox]:not(old)+label:after {
    display: none;
}

.bs-checkbox input[type=checkbox]:not(old):checked+label:after {
    content: "";
    border: solid #019de5;
    border-width: 0 2px 2px 0;
}

.moreInfo {
    color: #009de5;
}


/* .bs-label-value-pair .val .bs-icon-text .text */

.bs-label-value-pair .val .list-typ2 li .count,
.bs-label-value-pair .val .bs-icon-text .icon,
.bs-tag.applied-typ2.with-icon .icon {
    color: #009de5;
}

.accordion.typ2 .accord-body.in {
    border-top: 1px solid #daeef7;
    border-left: 1px solid #daeef7;
}

.accordion .accord-head .icon {
    border-right: 1px solid #daeef7;
}

.mod-empty-box .icon.icon-big {
    border: 1px dashed #009de5;
}

.mod-empty-box .box .note {
    color: #009de5;
}