.accordion {
    width: 100%;
    display: inline-block;
    .accord-head {
        border-bottom: 1px solid $light-gray;
        a {
            display: block;
            //color: $clr-secondary;
            padding: 25px 70px 25px 25px;
            position: relative;
            &:after {
                position: absolute;
                content: "\5e";
                top: 50%;
                font-size: 1.5rem;
                color: $clr-heading;
                transform: translateY(-50%);
                right: 25px;
                font-family: "catchmedia-new" !important;
            }
            &.collapsed {
                &:after {
                    content: "\5e";
                }
                +.bs-icon-text {
                    color: $clr-heading;
                    // color: $clr-secondary;
                    >.icon {
                        font-size: 2.4rem;
                    }
                    .text,
                    .num {
                        font-weight: $font-light;
                    }
                    .rhs {
                        .error {
                            label {
                                display: inline-block;
                            }
                        }
                        .icon {
                            // border-right: 1px solid $light-gray;
                            &.icon-edit {
                                display: none;
                            }
                        }
                    }
                    .icon-licensingbasic-details {
                        border-right: 1px solid $light-gray;
                    }
                    .icon {
                        border-right: 1px solid $light-gray;
                    }
                }
            }
            &.active,
            &[aria-expanded="true"] {
                &:after {
                    content: "\5d";
                }
                .icon,
                .text,
                .num {
                    color: $clr-secondary;
                }
            }
        }
        .icon {
            margin-right: 16px;
            width: 60px;
            font-size: 2.3rem;
            // color: $clr-secondary;
            text-align: center;
            border-right: 1px solid #c8e5d6;
            line-height: 4.0rem;
            vertical-align: middle;
            &:before {
                line-height: 50px;
            }
            &.icon-licensingbasic-details {
                font-size: 2.9rem;
            }
        }
        .text {
            vertical-align: middle;
            font-size: 1.8rem;
            display: inline-block;
            line-height: 2rem;
        }
        .num {
            vertical-align: middle;
            font-size: 1.8rem;
            line-height: 20px;
            display: inline-block;
            border-left: 1px solid $shadow-gray;
            margin-left: 10px;
            padding-left: 10px;
        }
    }
    .accord-wrap {
        box-shadow: none;
        border: 0;
        border-radius: 0;
        margin: 0;
        width: 100%;
        float: left;
    }
    .accord-body {
        margin: 0;
        >li {
            margin: 4px 0;
        }
        .panel-body {
            padding: 18px 20px;
            .empty-box {
                font-size: 1.6rem;
                line-height: 1.8rem;
                font-weight: 300;
                text-transform: capitalize;
            }
            .kpis-wrap {
                margin-bottom: 30px;
                >.title {
                    color: $clr-heading;
                    font-size: 2.2rem;
                    font-weight: normal;
                    margin: 8px 0 18px 0;
                }
            }
        }
        .list-wrap {
            margin-bottom: 20px;
        }
    }
    &.typ2 {
        .accord-wrap {
            border-radius: 3px;
            @include box-shadow(0, 0px, 10px, rgba(0, 0, 0, 0.09));
            margin: 0 0 20px;
        }
        .accord-head {
            border: 0;
            .bs-icon-text {
                padding: 0 57px 0 0;
                display: block;
                color: $clr-secondary;
                >.icon {
                    font-size: 3.3rem;
                }
                .text,
                .num {
                    font-weight: $font-md;
                }
                .rhs {
                    float: right;
                    .error,
                    .icon {
                        display: inline-block;
                    }
                    .error {
                        color: $clr-error;
                        margin-right: 5px;
                        label {
                            transition: all .3s ease-in;
                            display: none;
                            font-size: 1.2rem;
                            line-height: 14px;
                            position: relative;
                            top: 2px;
                        }
                    }
                    .icon {
                        border-right: none;
                        width: auto;
                        font-size: 1.8rem;
                        line-height: 20px;
                        margin-left: 10px;
                        margin-right: 10px;
                        &.icon-edit {
                            margin-right: 14px;
                            border: none;
                            padding: 0 10px;
                            transition: all .3s ease-in;
                            display: inline-block;
                            margin-left: 0;
                            &:after {
                                content: none;
                            }
                            &:hover {
                                transform: scale(1.1);
                                color: $clr-secondary;
                            }
                        }
                        &.icon-warning-1 {
                            color: $clr-error;
                        }
                    }
                }
            }
            a {
                padding: 25px 28px;
                display: inline-block;
                float: right;
                position: relative;
                border-left: 1px solid #eee;
                &:after {
                    font-size: 1.8rem;
                    left: 50%;
                    right: auto;
                    margin-left: -9px;
                    transition: all 0.3s;
                    color: $clr-secondary;
                }
                &:hover {
                    &:after {
                        font-size: 2rem;
                        color: $clr-secondary;
                    }
                }
            }
            .collapsed {
                &:after {
                    color: $clr-heading;
                }
            }
            .text {
                line-height: 40px;
                font-weight: $font-light;
            }
        }
        .accord-body {
            padding: 0;
            border-top: 1px solid $light-gray;
            border-left: 1px solid $light-gray;
            margin-left: 59px;
            &.full-width {
                margin-left: 0;
            }
            &.in {
                border-top: 1px solid #c8e4d6;
                border-left: 1px solid #c8e4d6;
            }
        }
        .mod-toggle-list {
            li {
                margin: 0
            }
        }
        &.without-brdr {
            .accord-body {
                padding: 0;
                border-top: 1px solid $light-gray;
                border-left: 0;
                margin-left: 0;
            }
        }
        &.toggle-list {
            .accord-body {
                .panel-body {
                    padding: 0;
                }
            }
        }
    }
    &.typ-custom {
        .accord-wrap {
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .accord-head {
            padding: 20px;
            overflow: hidden;
            border-bottom: 0;
            position: relative;
            &.node-start {
                .typ-action {
                    &:before {
                        content: "\e075";
                    }
                }
            }
            .typ-action {
                font-size: 2rem;
                border-right: 0;
                -webkit-box-shadow: 0 0 3px $clr-notify-text;
                -moz-box-shadow: 0 0 3px $clr-notify-text;
                box-shadow: 0 0 3px $clr-notify-text;
                width: 38px;
                height: 38px;
                line-height: 43px;
                margin-right: 15px;
                text-align: center;
                display: inline-block;
                vertical-align: middle;
                border-radius: 50%;
                &:before {
                    line-height: 38px;
                }
            }
            label {
                .icon {
                    line-height: inherit;
                    border: 0;
                    margin: 0 5px;
                    font-size: 1.5rem;
                    &:before {
                        line-height: inherit
                    }
                }
            }
            .title {
                font-size: 2rem;
                font-weight: $font-md;
                color: $clr-heading;
                display: inline-block;
                margin-right: 20px;
                vertical-align: middle;
                min-height: 50px;
                line-height: 50px;
            }
            .radiobox-cont {
                display: inline-block;
                vertical-align: middle;
                .bs-radio {
                    margin-right: 20px;
                    .input-label {
                        font-size: 1.35rem;
                        color: $clr-sub-heading;
                    }
                }
                ul {
                    display: inline-block;
                    vertical-align: middle;
                    li+li {
                        margin-top: 7px;
                    }
                }
                h5 {
                    color: $clr-heading;
                    font-weight: $font-light;
                    font-size: 1.5rem;
                    display: inline-block;
                    line-height: 26px;
                    margin-right: 8px;
                }
                select {
                    max-width: 100px;
                }
            }
            .left-cont {
                display: inline-block;
                min-width: 540px;
                vertical-align: middle;
                .start-date {
                    margin: 0;
                    display: inline-block;
                    .form-control {
                        margin-top: 0;
                    }
                }
            }
            .center-cont {
                padding-left: 40px;
                margin-left: 10px;
                border-left: 1px solid #f2f2f2;
                display: inline-block;
                vertical-align: middle;
                .form-group {
                    max-width: 60px;
                    display: inline-block;
                    margin-bottom: 0;
                }
                .form-group+.form-group {
                    margin-left: 20px;
                }
                .form-group .form-control:focus+.form-label,
                .form-group .form-control:valid+.form-label {
                    top: -2px;
                }
            }
            .right-cont {
                float: right;
                height: 50px;
                line-height: 50px;
                margin-top: 0;
                font-weight: $font-light;
                .applied-val {
                    font-size: 1.6rem;
                    color: $clr-heading;
                    padding: 0px 15px;
                    &:last-child {
                        padding-right: 0;
                    }
                }
                .applied-val+.applied-val {
                    border-left: 1px solid #ccc;
                }
            }
            a.plus-minus-icon {
                padding: 25px 32px;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                &:after {
                    margin-top: 2px;
                    color: $clr-primary;
                    font-size: 1.8rem;
                }
            }
        }
        .accord-body {
            background: #fcfcfc;
            border: 1px solid #e9e9e9;
            .bs-checkbox {
                &.typ-delivery {
                    margin-right: 6px;
                }
            }
            .panel-body {
                padding-left: 63px;
            }
        }
    }
}

.lock {
    background: $clr-secondary;
    color: $clr-white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: -9px;
    right: 4px;
    text-align: center;
    font-size: 1.3rem;
    line-height: 2.8rem;
}