// bs-breadcrumb
.bs-breadcrumb {
    padding: 8px 50px 8px 26px;
    width: 100%;
    position: relative;
    z-index: 2;
    background: $clr-primary;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: rgba(0, 0, 0, 0.3);
    }
    .list {
        .item {
            display: inline-block;
            position: relative;
            a {
                font-size: 1.1rem;
                line-height: 13px;
                padding-left: 17px;
                margin-right: 5px;
                color: $clr-white;
                font-weight: $font-light;
                text-transform: capitalize;
                &:before {
                    position: absolute;
                    left: 0;
                    top: 1px;
                    display: inline-block;
                    vertical-align: middle;
                    line-height: 12px;
                }
                &.active {
                    font-weight: $font-md;
                }
            }
            .home-link {
                &:before {
                    content: "m";
                    font-family: "catchmedia-new" !important;
                    text-transform: none !important;
                }
            }
            .breadcrumb-nav-link {
                &:before {
                    content: "";
                    width: 0px;
                    height: 0px;
                    border-top: 4px solid transparent;
                    border-bottom: 4px solid transparent;
                    border-left: 6px solid $clr-white;
                    top: 3px;
                    left: 4px;
                }
            }
        }
    }
}

@include media($media1170) {
    .bs-breadcrumb {
        display: none;
    }
}