.btn {
    display: inline-block;
    padding: 3px 21px;
    color: $clr-white;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: $font-bold;
    border-radius: 25px;
    border: none;
    margin: 0 20px;
    border: 1px solid transparent;
    &:active,
    &:focus,
    &:hover,
    &:active:focus {
        outline: none;
        box-shadow: none;
    }
    &.btn-default {
        background: $clr-secondary;
        &:active,
        &:focus,
        &:hover {
            background: $clr-heading;
            outline: none;
            color: $clr-white;
        }
        &.active {
            background: $clr-heading;
            outline: none;
            color: $clr-white;
            box-shadow: none;
            &:active,
            &:focus,
            &:hover {
                background: $clr-heading;
                outline: none;
                color: $clr-white;
                box-shadow: none;
            }
        }
    }
    &.btn-more-opt {
        // background: $clr-white;
        background: transparent;
        border: 0;
        margin: 0;
        padding: 2px 5px;
        color: $clr-sub-heading;
    }
    &.btn-secondary {
        background: $clr-white;
        border: 1px solid $clr-secondary;
        color: $clr-secondary;
        &:active,
        &:focus,
        &:hover {
            background: $clr-white;
            outline: none;
            border: 1px solid $clr-heading;
            color: $clr-heading;
            box-shadow: none;
        }
        &.active {
            background: $clr-white;
            outline: none;
            color: $clr-heading;
            border: 1px solid $clr-heading;
            box-shadow: none;
            &:active,
            &:focus,
            &:hover {
                background: $clr-white;
                outline: none;
                color: $clr-heading;
                border: 1px solid $clr-heading;
                box-shadow: none;
            }
        }
        &.disabled {
            background: $clr-white;
            outline: none;
            border: 1px solid $md-gray;
            color: $md-gray;
            cursor: not-allowed;
            pointer-events: auto;
            box-shadow: none;
        }
    }
    &.btn-link {
        color: $clr-secondary;
        font-size: 1.6rem;
        text-transform: capitalize;
        font-weight: $font-regular;
        padding: 0;
        border-radius: 0;
        border-bottom: 1px solid transparent;
        &.btn-lg {
            font-size: 1.6rem;
            font-weight: $font-bold;
        }
        &.btn-md {
            font-size: 1.4rem;
        }
        &.btn-sm {
            font-size: 1.2rem;
        }
        &:focus {
            text-decoration: none;
        }
        &:hover {
            text-decoration: none;
            border-bottom: 1px solid $clr-secondary;
            outline: none;
            color: $clr-secondary;
        }
    }
    &.disabled {
        background: $md-gray;
        outline: none;
        color: $clr-white;
        border: 1px solid #cccccc;
        cursor: not-allowed;
        pointer-events: auto;
        opacity: 1;
        &:hover {
            background: $md-gray;
            outline: none;
            color: $clr-white;
        }
    }
    &.btn-edit-mode {
        position: absolute;
        top: -11px;
        right: -8px;
        z-index: 1;
        width: auto;
        padding: 0;
        margin: 0;
        transition: all 0.3s;
        .icon {
            font-size: 0.9rem;
            &.icon-plus {
                top: -4px;
                font-size: 0.9rem;
                left: 0px;
            }
            &.icon-cancel {
                // font-size: 0.8rem;
            }
            &.icon-edit {
                font-size: 1.1rem;
                &:before {
                    line-height: 20px;
                }
            }
            &:before {
                padding: 0;
                margin: 0;
                width: 20px;
                height: 20px;
                line-height: 20px;
                border-radius: 50%;
                background: #959595;
                color: #ffffff;
                text-align: center;
                position: relative;
                vertical-align: top;
                display: inline-block;
                transition: all 0.2s;
            }
            &:hover {
                &:before {
                    background: $clr-secondary;
                }
            }
        }
        &.drag {
            top: -13px;
            right: 50%;
            margin-right: -10px;
            .icon {
                font-size: 1.5rem;
                &:before {
                    line-height: 25px;
                    width: 25px;
                    height: 25px;
                    background: $clr-white;
                    color: $clr-heading;
                    box-shadow: 0px 0 8px #a09f9f;
                }
                &:hover {
                    &:before {
                        background: $clr-secondary;
                        color: #ffffff;
                    }
                }
            }
        }
        &.edit {
            right: 20px;
        }
        &:hover {
            transform: scale(1.1);
        }
    }
    &.big-button {
        display: block;
        margin: 0;
        text-align: center;
        text-transform: capitalize;
        padding: 20px 15px;
        outline: 0;
        border-radius: 8px;
        white-space: normal;
        line-height: 18px;
        width: 100%;
    }
    &.theme-white {
        font-weight: $font-md;
        background: $clr-white;
        color: $clr-heading;
        border: 1px solid $light-gray;
        @include box-shadow(0px, 0px, 10px, rgba(0, 0, 0, 0.1));
    }
    &.typ-condition {
        color: $clr-secondary;
        padding: 12px 16px;
        border: 1px solid $clr-white;
        font-size: 1.6rem;
        line-height: 1.8rem;
        // box-shadow: 0px 0px 5px #aaa;
        text-transform: capitalize;
        font-weight: $font-regular;
        margin: 0px;
        position: relative;
        &.active {
            box-shadow: none;
            border-color: transparent;
            background: transparent;
            &:before {
                content: "";
                width: 75px;
                height: 75px;
                background: #d5dbe1;
                border-radius: 50%;
                display: inline-block;
                position: absolute;
                opacity: 0.6;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &:after {
                content: "";
                width: 100px;
                height: 100px;
                background: #7b7d80;
                border-radius: 50%;
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0.1;
            }
            span {
                position: relative;
                z-index: 4;
                background: $clr-white;
                padding: 12px 16px;
                font-size: 1.6rem;
                line-height: 1.8rem;
                text-transform: capitalize;
                font-weight: 400;
                margin: 0px;
                border-radius: 25px;
            }
        }
        .icon {
            transition: all 0.5s;
            opacity: 0;
            position: absolute;
            color: $clr-white;
            top: -8px;
            right: -4px;
            background: $clr-error;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: inline-block;
            &:hover {
                cursor: pointer;
            }
            &:before {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 1rem;
                position: absolute;
                font-weight: 700 !important;
            }
        }
        &:hover {
            .icon {
                opacity: 1;
            }
        }
    }
    &.typ-action {
        border-radius: 50%;
        color: $clr-notify-text;
        position: relative;
        margin: 0px;
        padding: 0;
        line-height: inherit;
        text-transform: initial;
        box-shadow: 0 0 8px $light-gray;
        .text {
            display: none;
            font-size: 1.6rem;
            line-height: 1.8rem;
            font-weight: $font-regular;
            color: $clr-secondary;
        }
        .icon {
            display: block;
            width: 45px;
            height: 45px;
            line-height: 45px;
            font-size: 2.5rem;
            &:before {
                line-height: inherit;
            }
        }
        &.expanded {
            padding: 12px 16px;
            width: auto;
            border-radius: 25px;
            box-shadow: none;
            .text {
                display: inline-block;
                padding-right: 25px;
            }
            .icon {
                font-size: 1.8rem;
                right: 25px;
                left: auto;
                transform: translateY(-50%);
            }
        }
        &.highlight {
            border-color: $clr-secondary;
        }
        &.active {
            &.active {
                box-shadow: none;
                &:before {
                    content: "";
                    width: 60px;
                    height: 60px;
                    background: #d5dbe1;
                    border-radius: 50%;
                    display: inline-block;
                    position: absolute;
                    opacity: 0.6;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &:after {
                    content: "";
                    width: 80px;
                    height: 80px;
                    background: #7b7d80;
                    border-radius: 50%;
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0.1;
                }
            }
        }
    }
    // bhavesh compose start
    // &.no-brdr {
    //     border: 0;
    //     &:hover,
    //     &:focus {
    //         border: 0;
    //     }
    // }
    // bhavesh compose end
    &.icon-btn {
        color: $clr-sub-heading;
        &:hover {
            color: $clr-secondary;
            // &::before{}
        }
    }
}

@include media(mobile) {
    .btn {
        padding: 4px 14px;
        font-size: 1.4rem;
        margin: 0 6px;
    }
}