// dropdown
.dropdown {
    .dropdown-menu {
        border: 1px solid $clr-theme-light;
        background: $clr-white;
        padding: 0;
        margin: 0;
        min-width: auto;
        &.sm {
            width: 90px;
            text-align: center;
            &.align-left {
                text-align: left;
            }
        }
        &.md {
            width: 195px;
        }
        &.lg {
            width: 560px;
        }
        &.typ-select {
            width: 350px;
        }
        li {
            &:last-child {
                .link {
                    border-bottom: 0;
                }
            }
        }
        .link {
            font-size: 1.4rem;
            line-height: 1.8rem;
            padding: 12px 14px;
            color: $clr-heading;
            display: block;
            border-bottom: 1px solid $clr-root;
            font-weight: $font-light;
            &:hover {
                background: $clr-root;
            }
            &.last {
                border-bottom: none;
            }
            .icon {
                font-size: 1.8rem;
                line-height: 1.6rem;
            }
            .text {
                vertical-align: middle;
                display: inline;
                text-transform: capitalize;
            }
            &.btn-link {
                margin: 0;
                font-size: 1.4rem;
                line-height: 1.6rem;
                color: $clr-secondary;
                font-weight: $font-bold;
                text-align: left;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .divider {
            margin: 0;
            background-color: $clr-notify-text;
        }
        .dropdown-header {
            padding: 12px 14px;
            font-size: 14px;
            border-bottom: 1px solid $clr-root;
            font-weight: $font-bold;
            color: $clr-heading;
        }
        .list {
            &.col-2 {
                .item {
                    width: 50%;
                    float: left;
                    &:nth-last-child(1),
                    &:nth-last-child(2),
                    &:nth-last-child(3) {
                        a {
                            border-bottom: none;
                        }
                    }
                    .bs-radio,
                    .bs-checkbox {
                        &:hover {
                            background: transparent;
                        }
                    }
                }
            }
            &.col-3 {
                .item {
                    width: 33.33%;
                    float: left;
                    &:nth-last-child(1),
                    &:nth-last-child(2),
                    &:nth-last-child(3) {
                        a {
                            border-bottom: none;
                        }
                    }
                    .bs-radio,
                    .bs-checkbox {
                        &:hover {
                            background: transparent;
                        }
                    }
                }
            }
            .bs-radio,
            .bs-checkbox {
                display: block;
                padding: 0 0 0 14px;
                border-bottom: 1px solid $clr-root;
                .input-label {
                    padding: 12px 14px 12px 26px;
                    width: 100%;
                    &:before {
                        top: 13px;
                    }
                    &:after {
                        top: 16px;
                    }
                }
                &:hover {
                    background: $clr-root;
                }
            }
            .bs-checkbox {
                .input-label {
                    &:before {
                        top: 14px;
                    }
                    &:after {
                        top: 15px;
                    }
                }
            }
        }
        .footer {
            display: inline-block;
            width: 100%;
            border-top: 1px solid $clr-root;
            .act-btn {
                padding: 10px 0;
                text-align: center;
                .btn {
                    padding: 6px 20px;
                }
            }
            .btn-full {
                background: $clr-root;
                position: relative;
                padding: 16px 14px 16px 40px;
                .icon {
                    left: 12px;
                    top: 16px;
                    position: absolute;
                }
            }
        }
        &.typ-icon {
            .link {
                position: relative;
                padding: 14px 14px 12px 40px;
                .icon {
                    left: 12px;
                    top: 15px;
                    position: absolute;
                }
                &.active {
                    color: $clr-secondary;
                }
            }
            .footer {
                .link {
                    padding: 12px 14px 12px 40px;
                    .icon {
                        top: 13px;
                    }
                }
            }
        }
        &.up-arrow {
            left: auto;
            right: 0;
            &:after {
                bottom: 100%;
                left: 89%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(255, 255, 255, 0);
                border-bottom-color: #ffffff;
                border-width: 6px;
                margin-left: -6px;
            }
            &.width-auto {
                right: 50%;
                top: 44px;
                transform: translateX(50%);
            }
        }
        .bs-search {
            margin-bottom: 0;
            .form-control {
                margin-top: 0;
                text-indent: 12px;
            }
        }
        &.typ-graph {
            width: 240px;
            right: 50%;
            transform: translateX(50%);
            top: 44px;
        }
        &.typ-history {
            width: 430px;
            right: 50%;
            transform: translateX(11%);
            top: 44px;
            ul {
                li {
                    border-bottom: 1px solid $light-gray;
                    .mod-log {
                        &:hover {
                            background: $light-gray;
                        }
                    }
                    &:last-child {
                        border: none;
                    }
                }
            }
            .cm-scroll {
                max-height: 340px;
            }
        }
        &.typ-logo {
            width: 200px !important;
            .cm-scroll {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    background: $dark-gray;
                    left: 16px;
                    z-index: 1;
                }
                li {
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        width: 11px;
                        height: 11px;
                        border-radius: 50%;
                        border: 1px solid $dark-gray;
                        background: $clr-white;
                        top: 50%;
                        margin-top: -5px;
                        left: 11px;
                        transition: all .3s ease-in;
                        z-index: 3;
                    }
                    &:hover {
                        &::before {
                            border-color: $clr-secondary;
                            transform: scale(1.2);
                        }
                        &:last-child {
                            &:after {
                                position: absolute;
                                content: "";
                                height: 50%;
                                top: 50%;
                                width: 1px;
                                left: 16px;
                                z-index: 1;
                                background: $light-gray;
                            }
                        }
                    }
                    .link {
                        border-bottom: none;
                        padding-left: 40px;
                        img {
                            height: 22px;
                        }
                    }
                    &.active {
                        &:before {
                            content: "\6e";
                            border: none;
                            font-family: "catchmedia-new" !important;
                            background: transparent;
                            font-size: 11px;
                            color: $clr-secondary;
                            transform: scale(1.2);
                            margin-top: -8px;
                        }
                    }
                    &:last-child {
                        &:after {
                            position: absolute;
                            content: "";
                            height: 50%;
                            top: 50%;
                            width: 1px;
                            left: 16px;
                            z-index: 1;
                            background: $clr-white;
                        }
                    }
                }
            }
        }
    }
    &.dashboard-category {
        margin-right: 15px;
        float: left;
        >.icon {
            font-size: 3rem;
            color: $clr-white;
            &:before {
                vertical-align: middle;
            }
            .icon {
                font-size: 1rem;
                vertical-align: middle;
            }
        }
    }
    &.typ-campaign {
        .dropdown-menu {
            width: 350px;
            left: auto;
            top: 46px;
            right: 0;
            &.up-arrow {
                &:after {
                    left: inherit;
                    right: 25px;
                }
            }
        }
    }
    &.typ-more {
        .dropdown-menu {
            top: 48px;
            right: 0px;
            z-index: 13;
        }
    }
    &.typ-arrow-center {
        .dropdown-menu {
            &.up-arrow {
                &:after {
                    left: 50%;
                }
            }
        }
    }
}

@include media($media1024) {
    .dropdown {
        .dropdown-menu {
            &.typ-graph {
                right: 0;
                transform: none;
                &.up-arrow {
                    &:after {
                        left: inherit;
                        right: 27px;
                    }
                }
            }
        }
    }
}

@include media($media768) {
    .dropdown {
        &.typ-main {
            .dropdown-menu {
                width: 100%;
                right: 0;
                left: 0;
                transform: translate(0);
                position: fixed;
                top: 40px;
                border-radius: 0;
            }
        }
        &.typ-more,
        &.more-opt-wrap {
            .dropdown-menu {
                position: fixed;
                right: 0;
                left: 0;
                width: 100%;
                bottom: 20px;
                top: auto;
                border-radius: 0;
                height: auto;
                max-height: 40%;
                overflow-y: auto;
                z-index: 999;
                &:after {
                    content: none;
                }
            }
        }
    }
}

@include media(md-mobile) {
    .dropdown {
        &.typ-more {
            .dropdown-menu {
                top: 40px;
            }
        }
    }
}