.form-control {
    border: none;
    border-bottom: 1px solid $light-gray;
    box-shadow: none;
    height: 44px;
    font-size: 2rem;
    color: $clr-heading;
    font-weight: $font-thin;
    padding: 6px 0px;
    border-radius: 0;
    position: relative;
    margin-top: 10px;
    &:focus {
        border-color: $light-gray;
        box-shadow: none;
    }
}

textarea {
    &.form-control {
        height: 60px;
        resize: none;
    }
}

.form-group+.form-group {
    &:last-child {
        margin-bottom: 0;
    }
}

.no-bottom-space {
    margin-bottom: 0 !important;
}

.form-group {
    margin-bottom: 30px;
    display: block;
    position: relative;
    .input-group {
        display: block;
    }
    .note {
        font-size: 1.1rem;
        display: inline-block;
        margin-top: 3px;
        color: $md-gray;
        font-style: italic;
    }
    .char-limit {
        font-size: 12px;
        color: $md-gray;
        text-align: right;
        display: block;
        margin-top: 3px;
    }
    .msg-error {
        color: $clr-error;
        margin-top: 6px;
        line-height: 14px;
        display: block;
    }
    .form-control {
        &:focus,
        &:valid {
            +.form-label {
                top: -12px;
                left: 0px;
                font-size: 1.3rem;
                opacity: 1;
                color: #adadad;
                font-weight: $font-regular;
            }
        }
    }
    .form-label {
        font-size: 2rem;
        color: $clr-heading;
        font-weight: $font-thin;
        position: absolute;
        pointer-events: none;
        left: 0;
        top: 11px;
        transition: 0.2s ease all;
    }
    .select-opt {
        width: 350px;
        margin-bottom: 42px;
        select,
        select:focus {
            width: 100%;
            height: 46px;
            font-weight: $font-thin;
            border: none;
            border-bottom: 1px solid $shadow-gray;
            background: transparent;
            border-radius: 0;
            outline: none;
        }
    }
    &.typ2 {
        .form-control {
            font-size: 1.5rem;
            padding: 5px 0px;
            height: 38px;
            &:focus,
            &:valid {
                +.form-label {
                    font-size: 1.2rem;
                }
            }
        }
        .form-label {
            font-size: 1.5rem;
            top: 12px;
        }
    }
    &.typ-pwd {
        .form-control {
            padding-right: 35px;
        }
        .password-icon {
            position: absolute;
            right: 0;
            top: 9px;
            color: $clr-heading;
            font-size: 2rem;
        }
        &.success {
            .password-icon {
                color: $clr-secondary;
            }
        }
        &.error {
            .password-icon {
                color: $clr-error;
            }
        }
    }
    &.typ-single {
        margin-bottom: 15px;
    }
    &.typ-horizontal-select {
        span {
            font-size: 1.5rem;
            font-weight: $font-light;
            color: $clr-heading;
        }
        select {
            width: auto;
            display: inline-block;
        }
    }
    // &.btn-preview-wrap {
    //     .btn-preview {
    //         .title {
    //             font-size: 14px;
    //             color: $clr-sec-primary;
    //             margin-bottom: 7px;
    //             font-weight: $font-bold;
    //         }
    //         .btn {
    //             margin-left: 0;
    //         }
    //     }
    // }
    &.addon {
        .form-control {
            padding-right: 22px;
        }
        .icon {
            position: absolute;
            bottom: 11px;
            right: 26px;
            transform: rotate(90deg);
        }
    }
    &.time-field {
        .form-label {
            position: relative;
            top: auto;
            font-size: 1.2rem;
            margin-right: 10px;
            line-height: 14px;
            font-weight: $font-regular;
            color: $clr-notify-text;
        }
        .form-control {
            width: 40px;
            display: inline-block;
        }
        .separator {
            display: inline-block;
            margin: 0 10px;
        }
        &.no-space {
            .form-control {
                margin-top: 0;
            }
        }
    }
    &.calender {
        .icon {
            top: 10px;
            right: 5px;
            font-size: 2rem;
            position: absolute;
        }
    }
    &.last {
        margin-bottom: 0;
    }
    &.addon-btn {
        .form-control {
            padding-right: 86px;
        }
        .act {
            position: absolute;
            right: 0;
            bottom: 4px;
            button {
                transition: all 0.3s;
                background: transparent;
                box-shadow: none;
                border: none;
                padding: 3px 14px;
                text-align: center;
                vertical-align: middle;
                .icon {
                    position: relative;
                    &.icon-cancel {
                        font-weight: 600 !important;
                    }
                    &:hover {
                        color: $clr-secondary;
                        &.icon-cancel {
                            color: $clr-error;
                        }
                    }
                }
                &:first-child {
                    border-right: 1px solid $light-gray;
                }
                &:hover {
                    transform: scale(1.3);
                }
            }
        }
    }
}

label {
    select {
        margin-left: 5px;
        background: transparent;
        border: 0;
        border-bottom: 1px solid #6f7581;
    }
}

.form-wrap {
    .form-control {
        // font-size: 1.5rem;
        // padding: 5px 0px;
        // height: 38px;
        &:focus,
        &:valid {
            +.form-label {
                font-size: 1.2rem;
            }
        }
    }
    .form-label {
        // font-size: 1.5rem;
        // top: 12px;
    }
    .form-group {
        .form-control {
            &:focus,
            &:valid {
                +.form-label {
                    font-size: 12px;
                }
            }
        }
        textarea {
            &.form-control {
                height: 60px;
                resize: none;
            }
        }
    }
}