.modal {
    text-align: center;
    padding: 0!important;
    .modal-content {
        text-align: left;
        .modal-header {
            position: relative;
            padding: 12px 16px;
            .title {
                font-size: 2.4rem;
                line-height: 30px;
                font-weight: $font-regular;
                color: $clr-heading;
                text-transform: capitalize;
                box-sizing: border-box;
                position: relative;
            }
            .subtitle {
                font-size: 1.4rem;
                line-height: 16px;
                margin-top: 5px; //bhavesh compose
                font-weight: $font-regular;
            }
            &.addon-icon {
                .title {
                    padding-left: 34px;
                    &:before {
                        content: "\2a";
                        font-family: "catchmedia-new" !important;
                        position: absolute;
                        left: 0;
                    }
                }
                &.typ-warning {
                    .title {
                        &:before {
                            color: $clr-error;
                            font-size: 2.5rem;
                        }
                    }
                }
                &.typ-success {
                    .title {
                        &:before {
                            content: "\40";
                            color: #6baa44;
                            font-size: 2.7rem;
                        }
                    }
                }
            }
            .icon {
                position: absolute;
                left: 15px;
                top: 18px;
                font-size: 2.5rem;
                color: $clr-error;
            }
        }
        .modal-body {
            padding: 20px 18px;
            overflow: hidden;
            .title {
                line-height: 21px;
                color: $clr-sub-heading;
                font-weight: $font-regular;
                font-size: 1.4rem;
            }
            &.add-kpi-height {
                height: 400px;
                overflow-y: auto;
            }
            .select-opt {
                .form-label {
                    top: -11px;
                    left: 0px;
                    font-size: 1.2rem;
                    opacity: 1;
                    color: #adadad;
                    font-weight: $font-regular;
                }
                .field-title {
                    margin-bottom: 0;
                }
                select {
                    // margin-top: 10px;
                    font-size: 1.5rem;
                    padding: 6px 0;
                    height: 38px;
                }
            }
            .title {
                line-height: 21px;
                color: $clr-sub-heading;
                font-weight: $font-regular;
                font-size: 1.4rem;
                &.last {
                    margin-bottom: 0;
                }
            }
            p {
                font-size: 1.4rem;
                letter-spacing: 0.2px;
                line-height: 20px;
            }
            .typ-add-kpi {
                .mod-thumbnail-desc {
                    margin: 25px 0 25px;
                    .cont-wrap {
                        display: inline-block;
                        .img-wrap {
                            @include box-shadow(0, 0px, 10px, rgba(0, 0, 0, 0.05));
                            height: auto;
                            width: 47%;
                            margin: 0 30px 0 0;
                            float: left;
                        }
                        .desc {
                            overflow: hidden;
                            margin: 0;
                            .title {
                                font-size: 1.2rem;
                                line-height: 14px;
                                color: $clr-heading;
                                margin-bottom: 19px;
                                display: block;
                                font-weight: $font-bold;
                            }
                            .lyt-tag {
                                margin-bottom: 20px;
                                height: 55px;
                                overflow-y: auto;
                                .tag-title {
                                    font-size: 1rem;
                                    line-height: 12px;
                                    color: #666666;
                                    float: left;
                                    margin-top: 9px;
                                    margin-right: 8px;
                                }
                                .list {
                                    .item {
                                        .bs-tag {
                                            padding: 0px 10px 0px 5px;
                                            .num {
                                                background: $clr-sub-heading;
                                                top: 5px;
                                                width: 16px;
                                                height: 16px;
                                                font-size: 0.8rem;
                                                line-height: 6px;
                                            }
                                        }
                                    }
                                }
                            }
                            .time-stamp {
                                font-size: 1rem;
                                line-height: 12px;
                                color: $clr-sub-heading;
                                font-weight: $font-regular;
                            }
                        }
                    }
                }
            }
            .typ-add-kpi,
            .set-alert {
                .form-wrap {
                    .form-group {
                        margin-bottom: 30px;
                        .form-control {
                            border-bottom: 1px solid $light-gray;
                        }
                        &.last {
                            margin-bottom: 0;
                        }
                    }
                    &.first {
                        margin-top: 0;
                    }
                }
                .bs-checkbox {
                    input[type=checkbox]:not(old) {
                        +label {
                            opacity: 1;
                            font-size: 1.5rem;
                            line-height: 18px;
                            color: $clr-heading;
                            font-weight: $font-light;
                        }
                    }
                }
            }
            .data-list {
                margin: 30px 0 20px;
                dt {
                    float: left;
                    .title {
                        font-size: 1.6rem;
                        line-height: 18px;
                        color: $clr-heading;
                        font-weight: $font-regular;
                    }
                }
                dd {
                    overflow: hidden;
                    text-align: right;
                }
            }
            .img-wrap {
                width: 164px;
                height: 307px;
                margin: 10px auto 0;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .desc {
                margin: 0;
                font-size: 1.2rem;
                line-height: 18px;
                color: $clr-heading;
                font-weight: $font-regular
            }
            .lyt-select-card {
                .list {
                    .item {
                        display: inline-block;
                        .bs-radio {
                            margin: 0 5px 20px 0;
                        }
                    }
                }
            }
            .field-title {
                font-size: 1.2rem;
                line-height: 14px;
                display: block;
                margin-bottom: 8px;
                color: #adadad;
                font-weight: $font-regular;
            }
            .bs-checkbox {
                margin-right: 20px;
            }
            .create-new {
                display: none;
                &.active {
                    display: block;
                    .mod-thumbnail-desc {
                        .title {
                            font-size: 1.6rem;
                            line-height: 20px;
                            margin-bottom: 20px;
                            margin-top: -20px;
                            color: $clr-heading;
                        }
                    }
                }
            }
            .data-map {
                .item {
                    position: relative;
                    padding: 0 100px 15px 0;
                    line-height: 18px;
                    margin-bottom: 15px;
                    border-bottom: 1px solid #e9e9e9;
                    .issue {
                        font-size: 1.4rem;
                        color: $clr-heading;
                    }
                    .btn-link {
                        position: absolute;
                        top: 0;
                        font-size: 1.4rem;
                        right: 0;
                        margin: 0;
                    }
                    .timestamp {
                        margin-top: 5px;
                        font-size: 1.1rem;
                        color: #adadad;
                        .date {
                            line-height: 10px;
                            display: inline-block;
                        }
                        .time {
                            line-height: 10px;
                            display: inline-block;
                            margin-left: 10px;
                            padding-left: 10px;
                            border-left: 1px solid #adadad;
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                        border-bottom: 0;
                        padding-bottom: 0;
                    }
                }
            }
            .form-option-wrap {
                margin: 12px 0;
                .title {
                    font-size: 1.3rem;
                    color: $clr-heading;
                    margin-bottom: 5px;
                }
                .bs-group {
                    .bs-radio {
                        margin: 5px 0;
                    }
                }
            }
            .lyt-summary-panel {
                .summary-wrapper {
                    position: relative;
                    top: auto;
                    right: auto;
                    left: auto;
                    bottom: auto;
                }
            }
            .link-list {
                .item {
                    .bs-icon-text {
                        padding: 6px;
                        .text {
                            font-size: 1.5rem;
                            line-height: 2rem;
                        }
                    }
                }
            }
            .kpi-preview-wrap {
                .lyt-summary-panel {
                    padding: 0 30px;
                }
            }
        }
    }
    .modal-footer {
        text-align: center;
        padding: 15px;
        .act-wrap {
            position: relative;
            .user-count {
                left: 15px;
                position: absolute;
                font-size: 1.4rem;
                text-transform: uppercase;
                display: inline-block;
                vertical-align: middle;
                line-height: 30px;
                span {
                    font-size: 2.2rem;
                    font-weight: 700;
                }
            }
        }
        .btn {
            margin: 0 10px;
        }
    }
    .modal-dialog {
        .bs-icon-text {
            border: none;
            background-color: transparent;
            &:focus {
                outline: none;
            }
            &.btn-close {
                position: absolute;
                top: 21px;
                right: 10px;
                z-index: 1;
                .icon {
                    font-size: 1.4rem;
                    &:before {
                        font-weight: $font-bold !important;
                    }
                }
            }
            .icon {
                line-height: 22px;
            }
        }
        &.modal-big {
            width: 95%;
        }
        &.modal-xl {
            width: 100%;
            margin: 0 auto;
            background: rgba(0, 0, 0, 0.7);
            vertical-align: top;
            height: 100%;
            .mod-heading {
                padding-bottom: 15px;
                .btn-close {
                    top: 9px;
                    right: 0;
                    position: absolute;
                    .icon {
                        color: #ffffff;
                        font-size: 2rem;
                        line-height: 29px;
                    }
                }
            }
            .btn-rearrange {
                position: absolute;
                top: 12px;
                right: 280px;
                .bs-icon-text {
                    color: $clr-white;
                    .icon {
                        font-size: 1.7rem;
                        line-height: 1.7rem;
                        margin-right: 8px;
                        &:before {
                            font-weight: 600 !important;
                        }
                    }
                    .text {
                        font-size: 1.4rem;
                        line-height: 2.1rem;
                        font-weight: $font-regular;
                    }
                }
            }
            .modal-content {
                background: transparent;
                .modal-body {
                    padding: 25px;
                    .title {
                        .bs-icon-text {
                            .icon {
                                color: $clr-white;
                                top: 4px;
                                position: relative;
                            }
                            .text {
                                color: $clr-white;
                                display: inline-block;
                                max-width: 750px;
                            }
                        }
                    }
                    .bs-option {
                        .close {
                            color: $clr-white;
                            opacity: 1;
                            font-size: 4rem;
                            font-weight: $font-light;
                        }
                    }
                    .filter-list {
                        margin-top: 20px;
                        max-height: 70px;
                        overflow-y: auto;
                        .bs-tag {
                            background: $clr-white;
                            box-shadow: none;
                            .num {
                                background: #ff9933;
                                position: relative;
                                top: 0px;
                            }
                            .text {
                                color: $clr-heading;
                            }
                        }
                    }
                    .bs-sec {
                        padding: 0;
                        .sec-cont {
                            overflow-y: auto;
                            overflow-x: hidden;
                            padding-top: 0;
                            margin-top: 20px;
                            height: 510px;
                        }
                    }
                    .mod-heading {
                        position: relative;
                        .title {
                            width: 100%;
                            padding-right: 400px;
                        }
                        .bs-option {
                            position: absolute;
                            top: -4px;
                            right: 0;
                        }
                    }
                    .modal-tab {
                        position: absolute;
                        right: 52px;
                        top: 11px;
                        &.disable {
                            opacity: 0.3;
                            cursor: not-allowed;
                            pointer-events: none;
                        }
                        .title {
                            float: left;
                            font-size: 1.4rem;
                            line-height: 1.6rem;
                            margin-right: 20px;
                            padding-right: 0;
                            width: auto;
                            margin-top: 3px;
                            color: $clr-white;
                        }
                        ul {
                            float: left;
                            li {
                                margin-right: 18px;
                                float: left;
                                position: relative;
                                a {
                                    width: 36px;
                                    height: 20px;
                                    display: block;
                                    background: rgba(255, 255, 255, 0.5);
                                    &:hover {
                                        background: rgba(255, 255, 255, 1);
                                    }
                                }
                                &:first-child {
                                    display: none;
                                }
                                &:last-child {
                                    margin-right: 0;
                                }
                                &.active {
                                    a {
                                        background: rgba(255, 255, 255, 1);
                                    }
                                }
                                &:nth-child(2) {
                                    &:before {
                                        content: "";
                                        position: absolute;
                                        height: 20px;
                                        width: 1px;
                                        background: #000000;
                                        transform: translate(-50%);
                                        left: 50%;
                                    }
                                }
                                &:nth-child(3) {
                                    &:before {
                                        content: "";
                                        position: absolute;
                                        height: 20px;
                                        width: 1px;
                                        background: #000000;
                                        left: 33%;
                                    }
                                    &:after {
                                        content: "";
                                        position: absolute;
                                        height: 20px;
                                        width: 1px;
                                        background: #000000;
                                        left: 66%;
                                        top: 0;
                                    }
                                }
                            }
                        }
                    }
                    .mod-report-card {
                        .mod-tag {
                            .filter-list {
                                margin-top: 3px !important;
                                .bs-tag {
                                    box-shadow: 0px 0px 10px $light-gray;
                                    .num {
                                        background: $clr-sub-heading;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .bs-sec {
                .sec-head {
                    .sec-title {
                        color: $clr-white;
                        .bs-icon-text {
                            color: $clr-white;
                            &:after {
                                content: none;
                            }
                        }
                    }
                    .btn-close {
                        top: 9px;
                        right: 0;
                        .icon {
                            color: $clr-white;
                            font-size: 2rem;
                        }
                    }
                }
                .sec-cont {
                    .lyt-tag {
                        padding-left: 0;
                        margin-bottom: 30px;
                    }
                    .lyt-graph {
                        &.typ-inner {
                            padding: 0;
                            .list {
                                .item {
                                    margin-bottom: 30px;
                                }
                            }
                        }
                    }
                }
            }
            .bs-icon-text {
                .icon {
                    font-size: 3rem;
                    line-height: 36px;
                }
                .text {
                    font-size: 3rem;
                    line-height: 32px;
                    font-weight: $font-thin;
                }
            }
            .lyt-tag {
                .bs-tag {
                    .num {
                        // background: $clr-sub-heading;
                    }
                    .text {
                        color: $clr-white;
                    }
                }
            }
            .mod-report-card {
                .card-cont {
                    box-shadow: none;
                }
            }
        }
    }
    .kpi-preview-wrap {
        .lyt-summary {
            margin-bottom: 30px;
            .swiper-container {
                padding-top: 10px !important;
            }
        }
        .lyt-summary-panel {
            .summary-wrapper {
                .title {
                    margin: 0 0 18px 15px;
                    font-size: 1.8rem;
                    line-height: 20px;
                    font-weight: $font-md;
                    color: $clr-heading;
                }
                .mod-audience-def {
                    .audience-details {
                        .title {
                            margin: 0 0 20px 8px;
                        }
                        .img-wrap {
                            width: 100%;
                            height: auto;
                            overflow: hidden;
                            margin-bottom: 10px;
                        }
                    }
                }
                .bs-label-value-pair {
                    margin-bottom: 4px;
                    font-size: 1.4rem;
                    line-height: 16px;
                    .title {
                        font-size: 1.4rem;
                        line-height: 16px;
                        margin: 0 20px 0 0;
                        width: 80px;
                        font-weight: $font-regular;
                        color: $clr-sub-heading;
                    }
                }
            }
        }
        .mod-rule-summery {
            .rule-wrapper {
                .mod-rule {
                    >.title {
                        margin: 0 0 18px 0px;
                    }
                    .mod-rule-relate {
                        &.text-only {
                            height: 28px;
                            text-align: center;
                            font-size: 1.6rem;
                            line-height: 18px;
                            color: $clr-white;
                        }
                    }
                }
            }
        }
    }
}

.modal-sm {
    width: 400px;
}

.modal-medium {
    width: 480px;
}