//tabs.scss
.tabs {
    .nav {
        a {
            font-size: 1.8rem;
            line-height: 2rem;
            font-weight: $font-bold;
            margin: 0 0 25px 0;
            border-radius: 0;
            .count {
                padding-left: 11px;
                margin-left: 9px;
                border-left: 1px solid $md-gray;
                padding-bottom: 2px;
            }
        }
        border: none;
        li {
            text-transform: capitalize;
            text-align: center;
            padding: 0px 2px;
            a {
                padding-top: 0;
                color: $clr-heading;
                font-size: 1.6rem;
                line-height: 1.8rem;
                position: relative;
                border-color: transparent;
                border-bottom: 1px solid $md-gray;
                border-radius: 0px;
                font-weight: $font-light;
                &:after {
                    position: absolute;
                    content: none;
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 9px solid $clr-secondary;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -9px;
                }
                &:before {
                    position: absolute;
                    content: none;
                    height: 2px;
                    bottom: -2px;
                    width: 100%;
                    background-color: $clr-secondary;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &:hover {
                    border: 1px solid transparent;
                    //color: $clr-secondary;
                    background-color: transparent;
                    &:after {
                        content: none;
                    }
                    &:before {
                        content: "";
                        height: 2px;
                    }
                }
                &:focus {
                    font-weight: $font-bold;
                    border: 1px solid transparent;
                    color: $clr-secondary;
                    background-color: transparent;
                    &:after {
                        content: "";
                    }
                    &:before {
                        content: "";
                    }
                }
            }
            &.active {
                a {
                    font-weight: $font-bold; // border: none;
                    color: $clr-secondary;
                    background: transparent;
                    &:after {
                        content: "";
                    }
                    &:before {
                        content: "";
                        height: 4px;
                    }
                    &:hover {
                        font-weight: $font-bold;
                        border: 1px solid transparent;
                        color: $clr-secondary;
                        background-color: transparent;
                        &:after {
                            content: "";
                        }
                        &:before {
                            content: "";
                            height: 4px;
                        }
                    } // span {
                    //     white-space: nowrap;
                    //     overflow: hidden;
                    //     text-overflow: ellipsis;
                    //     display: block;
                    // }
                    .count {
                        border-left: 2px solid $clr-secondary;
                    }
                }
            }
            &.completed {
                &:before {
                    content: "\27";
                    font-family: "catchmedia-new" !important;
                    font-size: 0.8rem;
                    line-height: 1.6rem;
                    color: $clr-white;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: $clr-green;
                    position: absolute;
                    top: 7px;
                    right: 7px;
                    text-align: center;
                }
            }
        }
    }
    &.typ-2 {
        .nav {
            counter-reset: custom;
            border-bottom: none;
            li {
                position: relative;
                border-left: 1px solid $clr-sub-heading;
                padding: 0;
                min-width: 200px;
                float: left;
                &:last-child {
                    border-right: 1px solid $clr-sub-heading;
                }
                a {
                    font-weight: 300;
                    color: $clr-notify-text;
                    text-align: left;
                    min-height: 58px;
                    border-bottom: none;
                    margin: 0px;
                    padding: 10px 20px;
                    .title {
                        font-size: 1.4rem;
                        line-height: 1.6rem;
                        display: block;
                        padding-left: 42px;
                        margin-top: 3px;
                        font-weight: $font-bold;
                        color: $clr-notify-text;
                        margin-bottom: 0;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .sub-title {
                        display: block;
                        padding-left: 42px;
                        font-size: 1.2rem;
                        line-height: 16px;
                        color: $clr-notify-text;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    &:before {
                        background-color: $clr-orange;
                    }
                    &:after {
                        border-top-color: $clr-orange;
                    }
                    &:hover,
                    &:focus {
                        font-weight: 300;
                        color: $clr-white;
                        .sub-title {
                            color: $clr-notify-text;
                        }
                    }
                }
                &.active {
                    a {
                        font-weight: 300;
                        background-color: transparent;
                        color: $clr-white;
                        border: none;
                        .sub-title {
                            display: none;
                            color: $clr-white;
                        }
                        .title {
                            margin-top: 11px;
                            color: $clr-white;
                        }
                    }
                    &.counter {
                        &:after {
                            color: $clr-white;
                        }
                    }
                }
                &:before {
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: $clr-green;
                    position: absolute;
                    content: none;
                    top: 7px;
                    right: 7px;
                }
                &.completed {
                    &.counter {
                        &:after {
                            color: $clr-white;
                        }
                    }
                    a {
                        font-weight: 300;
                        background-color: transparent;
                        color: $clr-white;
                        border: none;
                        &:after,
                        &:before {
                            content: none;
                        }
                        .sub-title {
                            color: $clr-white;
                        }
                        .title {
                            color: $clr-white;
                        }
                    }
                    &:before {
                        content: "\27";
                        font-family: "catchmedia-new" !important;
                        font-size: 0.8rem;
                        line-height: 1.6rem;
                        color: $clr-white;
                    }
                    .sub-title {
                        display: none;
                    }
                    .title {
                        margin-top: 11px;
                    }
                }
                &.counter {
                    &:after {
                        content: counters(custom, "", decimal-leading-zero);
                        counter-increment: custom;
                        font-size: 3.6rem;
                        line-height: 3.0rem;
                        position: absolute;
                        top: 50%;
                        left: 16px;
                        z-index: -1;
                        transform: translateY(-50%);
                        color: $clr-notify-text;
                        font-weight: $font-thin;
                    }
                }
            }
        }
    }
    &.typ-4 {
        .nav-tabs {
            border: 0;
            >li {
                padding: 0;
                >a {
                    &:focus {
                        font-weight: $font-regular;
                    }
                }
                &.active {
                    >a {
                        font-weight: $font-regular;
                        background: $clr-white;
                        box-shadow: 0 0 10px $md-gray;
                        border: 0;
                        padding: 12px;
                        margin: 0;
                        color: $clr-heading;
                        &:after {
                            content: "";
                            position: absolute;
                            bottom: -8px;
                            left: 0;
                            width: 100%;
                            height: 13px;
                            background: $clr-white;
                            border: none;
                            transform: translateX(0%);
                        }
                        &:before {
                            display: none
                        }
                    }
                }
                a {
                    border: none;
                    border-radius: 12px 12px 0 0;
                    padding: 12px;
                    margin: 0;
                    text-align: center;
                    margin-right: 0;
                    font-size: 1.4rem;
                    color: #a8a8a8;
                    &:after,
                    &:before {
                        content: none;
                    }
                }
            }
        }
        .tab-content {
            box-shadow: 0 0 10px $md-gray;
            background: $clr-white;
            padding: 18px;
            overflow-y: auto;
        }
    }
    .act-btn {
        &.addon {
            margin-bottom: 10px;
        }
    }
}

@media only screen and (max-width: mobile) {
    .tabs {
        .nav {
            li {
                a {
                    font-size: 1.2rem;
                    line-height: 1.4rem;
                    padding: 4px;
                    &:before {
                        height: 2px;
                        bottom: -2px;
                        left: 50%;
                    }
                    &:after {
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-top: 5px solid $clr-secondary;
                        bottom: -6px;
                    }
                }
            }
        }
    }
}

@include media($media1024) {
    .tabs {
        &.typ-3 {
            .nav {
                li {
                    width: 50%;
                }
            }
        }
        .nav {
            a {
                margin: 0 0 12px 0;
            }
        }
    }
}

@include media($media1366) {
    .tabs {
        &.typ-2 {
            .nav {
                li {
                    min-width: 175px;
                }
            }
        }
    }
}