// lyt-filter
.lyt-filter {
    display: inline-block;
    background-color: $clr-theme-light;
    position: relative;
    width: 100%;
    z-index: 10;
    .bs-sec {
        padding: 10px 25px;
    }
    .icon {
        vertical-align: middle;
        position: absolute;
        &.icon-filter {
            color: $clr-heading;
            font-size: 1.7rem;
            left: 15px;
            top: 12px;
            &:before {
                font-weight: $font-bold;
            }
        }
    }
    &.typ-operator {
        .icon {
            position: static;
            &.icon-between-op,
            &.icon-not-equals-to-op {
                &:before {
                    font-weight: 600 !important;
                }
            }
            &.icon-like-op,
            &.icon-not-equals-to-op {
                font-size: 1.6rem;
            }
        }
    }
    .form-group {
        &.bs-search {
            .btn-search {
                padding: 5px 9px;
            }
            .icon {
                position: static;
                font-size: 1.4rem;
                &.icon-cancel {
                    font-size: 1.3rem;
                }
            }
            .form-control {
                margin-top: 0;
                text-indent: 10px;
                font-size: 1.4rem;
            }
        }
    }
    .mod-filter {
        max-height: 40px;
        min-height: 40px;
        overflow: hidden;
        &.show-more {
            max-height: 500px;
            // &.typ-admin {
            //     .title {
            //         margin-right: 0;
            //         &:after {
            //             content: none;
            //         }
            //     }
            //     .lyt-tag {
            //         border-left: 1px solid #cccccc;
            //         padding-left: 20px;
            //     }
            // }
        }
        .icon-filter {
            display: none;
        }
        .title {
            max-width: 120px;
            &:before {
                content: "\53";
                position: absolute;
                left: 0;
                font-size: 15px;
                font-family: "catchmedia-new" !important;
            }
            .typ-edit {
                display: none;
                border: 0;
            }
            &.active {
                line-height: 16px;
                .all-filters {
                    display: none;
                }
                .typ-edit {
                    display: block;
                }
                .icon-down-arrow {
                    position: absolute;
                    top: 8px;
                    left: inherit;
                    right: 8px;
                }
            }
        }
        &.default-filter {
            .typ-edit {
                line-height: 16px;
                display: inline-block;
            }
            .title {
                top: 4px;
                padding-left: 24px;
                padding-right: 20px;
                &:before {
                    top: 5px;
                }
                .icon {
                    &.icon-down-arrow {
                        position: absolute;
                        top: 4px;
                        left: inherit;
                        right: 10px;
                    }
                }
            }
            .all-filters {
                display: none;
            }
        }
    }
    .mod-timeframe {
        padding: 0px 0 0 25px;
        height: auto;
        overflow: hidden;
        border-left: 1px solid $md-gray;
        cursor: pointer;
        .bs-icon-text {
            padding-left: 0;
            .icon {
                position: static;
                line-height: 14px;
                font-size: 1.2rem;
                &:before {
                    font-weight: $font-regular;
                }
            }
            .text {
                font-weight: $font-bold;
            }
        }
    }
    &.typ2 {
        overflow: initial;
        padding: 0px 0px 15px;
        background: transparent;
        z-index: 10;
        .mod-select-box {
            margin-right: 0;
        }
        .filter-wrap {
            &.typ-user {
                float: right;
                .mod-select-box {
                    .dropdown-menu {
                        right: 0;
                        width: 262px;
                        left: auto;
                        ul {
                            li {
                                float: initial;
                            }
                        }
                    }
                }
                .advanced-user {
                    .mod-select-box {
                        .dropdown {
                            .btn {
                                &.dropdown-toggle {
                                    width: 260px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .filter-title {
            font-size: 1.2rem;
            line-height: 14px;
            color: $clr-heading;
            display: inline-block;
            vertical-align: middle;
            margin: 2px 10px 0 0;
        }
        .list {
            .item {
                float: left;
                .act-btn {
                    .btn {
                        margin: 0;
                        padding: 3px 20px;
                    }
                }
            }
            &.normal-user {
                display: none;
                &.active {
                    display: inline-block;
                    vertical-align: middle;
                    .bs-radio {
                        &.typ-radio-btn {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            &.advanced-user {
                display: none;
                &.active {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }
    .mod-filter-opt {
        position: absolute;
        top: 60px;
        background: #ffffff;
        z-index: 3;
        left: 27px;
        background: $clr-white;
        // @include box-shadow(0, 0px, 5px, 0px rgba(189, 189, 189, 1));
    }
    &.type-frequent-filter {
        .mod-filter {
            overflow: visible;
            .title {
                padding-left: 0;
                max-width: 128px;
                &:before {
                    display: none;
                }
                .icon {
                    &.icon-down-arrow {
                        transform: rotate(-90deg);
                        top: 0;
                        display: inline-block;
                    }
                }
            }
            .freq-filter-list {
                display: inline-block;
                padding: 8px 0px;
                >.list {
                    >.item {
                        display: inline-block;
                    }
                }
            }
        }
        .mod-select-box {
            .dropdown {
                .btn {
                    &.dropdown-toggle {
                        background: #fff;
                        padding-left: 30px;
                        padding-right: 27px;
                        border: 0;
                        padding-top: 4px;
                        padding-bottom: 4px;
                        box-shadow: 0 0 10px $light-gray;
                    }
                    .num {
                        background: #ff9933;
                        color: #ffffff;
                        padding: 5px;
                        border-radius: 50%;
                        width: 18px;
                        display: inline-block;
                        height: 18px;
                        font-size: 1.2rem;
                        text-align: center;
                        line-height: 9px;
                        position: absolute;
                        left: 3px;
                        top: 3px;
                        cursor: pointer;
                    }
                }
                .dropdown-menu {
                    .search-bar {
                        .form-group {
                            .input-group {
                                .input-group-btn {
                                    .btn {
                                        line-height: 18px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.fixed-filter {
        position: fixed;
        box-shadow: 0 2px 5px $light-gray;
        z-index: 13;
        .mod-filter-opt {
            top: 60px;
        }
    }
    &.typ-admin {
        margin-top: 30px;
        margin-bottom: 20px;
        .filter-title {
            position: absolute;
            top: -38px;
            left: -10px;
        }
    }
}

.applied-filter-note {
    position: absolute;
    top: 50%;
    left: 422px;
    background: $clr-white;
    padding: 12px 15px;
    z-index: 10;
    border-radius: 2px;
    box-shadow: 0 0 5px #e2e0e0;
    display: none;
    transform: translateY(-50%);
    ol {
        padding: 5px 16px;
        li {
            padding: 4px 0;
        }
    }
    &:before {
        content: "";
        width: 12px;
        height: 12px;
        background: #ffffff;
        transform: translateY(-50%) rotate(135deg);
        box-shadow: 2px 2px 3px #f1ebeb;
        top: 50%;
        position: absolute;
        left: -6px;
    }
}

.tag-hover-filter {
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    z-index: 13;
    height: 450px;
    padding-bottom: 63px;
    background: $clr-white;
    display: none;
    box-shadow: 0px 3px 9px 0px #d8d6d6;
    &.active {
        display: block;
    }
    .act-btn {
        padding: 20px 0 14px;
        overflow: hidden;
        text-align: center;
        border-top: 1px solid $light-gray;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .bs-search {
        margin-bottom: 0;
    }
    .filter-list {
        max-height: 220px;
        // border-bottom: 1px solid $light-gray;
        overflow: auto;
    }
    li {
        border-bottom: 1px solid $light-gray;
        padding: 10px 12px;
        &:last-child {
            border-bottom: 0;
        }
    }
    .lyt-filter {
        &.typ2 {
            &.typ-operator {
                border: none;
                padding: 10px;
                border-bottom: 1px solid $light-gray;
                box-shadow: 0px 0px 2px $light-gray;
                .list {
                    .item {
                        border-bottom: none;
                        margin-right: 10px;
                        padding: 0;
                    }
                }
            }
        }
    }
    .lvl2 {
        .lyt-tag {
            padding: 6px 10px;
            overflow: auto;
            height: 51px;
            border-bottom: 1px solid $light-gray;
            .tag-title {
                float: left;
                margin: 2px 6px 0 0;
            }
            .item {
                float: left;
                padding: 0;
                border: none;
            }
        }
        .form-wrap {
            padding: 20px;
            text-align: center;
            .form-group {
                &.addon {
                    .icon {
                        font-size: 18px;
                        transform: none;
                        right: 0;
                        top: 10px;
                    }
                }
            }
        }
    }
}

.filter-close,
.filter-back {
    display: none;
}

@include media($media1024) {
    .lyt-filter {
        z-index: 10;
        .mod-timeframe {
            padding: 0;
            min-width: 240px;
            border-left: none;
            float: right;
        }
        .icon.icon-date-range {
            left: -4px;
            top: -1px;
        }
        .mod-filter {
            padding: 0;
            .icon-filter {
                display: block;
            }
            .title {
                text-indent: -999px;
                line-height: 37px;
                padding-right: 11px;
                margin-right: 0;
                padding-left: 14px;
                top: 0;
                z-index: 2;
                width: 45px;
                &:after {
                    width: 1px;
                    top: 0px;
                    right: 0;
                }
            }
            .icon {
                &.icon-filter {
                    font-size: 2.3rem;
                    left: 14px;
                    top: 8px;
                    z-index: 0;
                    .count {
                        position: absolute;
                        font-size: 0.8rem;
                        line-height: 9px;
                        top: -5px;
                        right: -8px;
                        background: $clr-secondary;
                        color: $clr-white;
                        padding: 3px;
                        border-radius: 50%;
                        width: 14px;
                        height: 14px;
                        text-align: center;
                    }
                }
            }
        }
        .mod-filter-opt {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 18;
            padding-top: 40px;
            .lvl1,
            .lvl2 {
                height: auto;
                position: fixed;
                top: 40px;
                bottom: 0;
                right: 0;
                left: 0;
                width: 100%;
            }
            .lvl {
                .lvl2 {
                    width: 100%;
                    right: -100%;
                    bottom: 0;
                    top: 40px;
                    z-index: 4;
                    left: inherit;
                    position: fixed;
                    &.active {
                        right: 0;
                        .filter-back {
                            position: fixed;
                            top: 0;
                            left: 0;
                            padding: 13px;
                            font-size: 1.4rem;
                            line-height: 10px;
                            color: #666666;
                            display: block;
                            span {
                                position: relative;
                                top: -2px;
                            }
                        }
                    }
                    &.typ-with-filter {
                        .filter-list {
                            top: 0px;
                            bottom: 0;
                            position: absolute;
                            .item {
                                display: inline-block;
                                // padding: 10px 12px;
                                width: 100%;
                                .bs-checkbox {
                                    margin-bottom: 0;
                                    padding-left: 0;
                                }
                            }
                        }
                    }
                }
                .filter-close {
                    position: fixed;
                    top: 0;
                    right: 0;
                    padding: 13px;
                    font-size: 1.4rem;
                    line-height: 10px;
                    color: $clr-sub-heading;
                    z-index: 11;
                    display: block;
                }
            }
        }
        &.fixed-filter {
            position: relative;
            z-index: 12;
            top: auto !important;
            .mod-filter-opt {
                top: 0;
                z-index: 18;
            }
        }
        &.active {
            z-index: 18;
        }
    }
}

@include media($media768) {
    .lyt-filter {
        .mod-filter-opt {
            .lvl {
                .lvl2 {
                    &.typ-with-filter {
                        .filter-list {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@include media($media380) {
    .lyt-filter {
        .col-xs-3 {
            padding-right: 0;
            width: 24%;
        }
        .col-xs-9 {
            padding-left: 0;
            .mod-timeframe {
                float: left;
                width: 100%;
            }
        }
    }
}

@include media($media360) {
    .lyt-filter {
        .mod-timeframe {
            min-width: 200px;
        }
    }
}