.lyt-compose {
    position: fixed;
    top: 137px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    .lyt-flyout {
        width: 460px;
        background: #fbfbfb;
        top: 137px;
        z-index: 2;
        font-size: 1.3rem;
        .swiper-container {
            padding: 0;
            &.tabs {
                .nav.list {
                    .item {
                        a {
                            margin-right: 0;
                            padding: 10px 15px;
                        }
                    }
                }
                .swiper-button-next,
                .swiper-button-prev {
                    top: 19px;
                }
                .swiper-button-next {
                    right: 4px;
                }
                .swiper-button-prev {
                    left: 4px;
                }
            }
        }
        .mod-language {
            .item {
                float: none;
                display: inline-block;
                &.default-language {
                    border-right: 1px solid #ccc;
                    margin-right: 8px;
                    .lang-tag {
                        margin-right: 10px;
                    }
                }
            }
        }
        .flyout-cont {
            position: absolute;
            top: 53px;
            right: 0;
            left: 0;
            bottom: 0;
        }
        .lyt-ab-testing {
            >.flyout-foot {
                display: none;
            }
        }
        &.full-expanded {
            width: 100%;
            .mod-language {
                &.typ2 {
                    .language-list {
                        text-align: right;
                        padding-right: 35px;
                        padding-bottom: 2px;
                    }
                }
            }
            .compose-tab-swiper {
                .swiper-slide {
                    width: 100% !important;
                }
                .swiper-button-next,
                .swiper-button-prev {
                    display: none;
                }
            }
            .lyt-ab-testing {
                .tab-pane {
                    display: block;
                    opacity: 1;
                    float: left;
                    width: 33.33%;
                    padding: 0 1.5%;
                    // border-right: 1px solid #bababa;
                    &:last-child {
                        border-right: 0;
                    }
                }
                .mod-upload-preview {
                    &.type-2 {
                        .icon-text {
                            margin-right: 15px;
                        }
                        .file-details-wrap {
                            .desc {
                                width: 245px;
                                .extra-info {
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                }
                            }
                        }
                    }
                }
                .tab-content {
                    position: relative;
                    top: 0;
                    padding: 0;
                    margin: 0 -1.5%;
                    width: 103%;
                    overflow: visible;
                    display: inline-block;
                    .tab-pane {
                        &:before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 33.23%;
                            width: 1px;
                            height: 100%;
                            background: #bababa;
                        }
                        &:nth-child(2) {
                            &:before {
                                left: 66.56%;
                            }
                        }
                        &:nth-child(4) {
                            &:before {
                                left: 99.89%;
                            }
                        }
                    }
                }
                .nav-tabs {
                    .item {
                        &:first-child {
                            width: 32.66%;
                        }
                        &:nth-child(2) {
                            width: 34.36%;
                        }
                        &:last-child {
                            width: 32.96%;
                        }
                    }
                }
                &.numberOfTabs-2 {
                    .nav-tabs {
                        li.item {
                            width: 50%;
                        }
                    }
                    .tab-pane {
                        width: 50%;
                        &:nth-child(2) {
                            &:before {
                                display: none;
                            }
                        }
                        &:first-child {
                            &:before {
                                left: 50%;
                            }
                        }
                    }
                }
                &.numberOfTabs-4 {
                    overflow-x: auto;
                    overflow-y: hidden;
                    white-space: nowrap;
                    .nav-tabs {
                        font-size: 0;
                        margin-right: -0.7%;
                        display: block;
                        width: auto;
                        li.item {
                            float: none;
                            display: inline-block;
                            vertical-align: top;
                            &:nth-child(2) {
                                width: 34.06%;
                            }
                            &:nth-child(3) {
                                width: 33.93%;
                            }
                            &:last-child {
                                width: 32.53%;
                            }
                        }
                    }
                    .tab-content {
                        font-size: 0;
                    }
                    .tab-pane {
                        float: none;
                        white-space: normal;
                        display: inline-block;
                        vertical-align: top;
                    }
                }
                >.flyout-foot {
                    display: block;
                }
            }
        }
        &.md-expanded {
            width: 66.66%;
        }
        .tab-content {
            position: absolute;
            top: 55px;
            bottom: 20px;
            width: 100%;
            padding: 0 18px 14px;
            overflow-y: auto;
            overflow-x: hidden;
            .ab-testing {
                display: inline-block;
                width: 100%;
                .mod-card-type2 {
                    box-shadow: none;
                }
                .btn-link {
                    display: none;
                    border: 0;
                    &:hover,
                    &:focus {
                        border-bottom: 0;
                    }
                }
                .card-radio-box {
                    .label-text {
                        font-size: 1.3rem;
                        color: $clr-error;
                        .btn {
                            font-size: 1.3rem;
                            border: 0;
                            display: inline-block;
                            margin-right: 16px;
                            line-height: 15px;
                            vertical-align: top;
                            &:hover,
                            &:focus {
                                border: 0;
                            }
                        }
                        span {
                            padding-left: 18px;
                            border-left: 1px solid #ccc;
                        }
                    }
                }
                &.active {
                    .card-radio-box {
                        .label-text {
                            vertical-align: middle;
                            color: $clr-primary;
                            display: inline-block;
                        }
                    }
                    .radio-type-swipe {
                        text-align: right;
                        .btn-link {
                            display: inline-block;
                            font-size: 1.3rem;
                            line-height: 16px;
                            vertical-align: middle;
                            padding-right: 15px;
                            border-right: 1px solid #cccaca;
                            margin-right: 15px;
                        }
                    }
                }
            }
            .flyout-foot {
                clear: both;
                &.top-brdr {
                    border-top: 1px solid #bababa;
                }
            }
            .browse-btn-wrap {
                .form-label {
                    text-align: center;
                    cursor: pointer;
                    span {
                        display: block;
                        margin-top: 10px;
                        color: #6f7581;
                        font-size: 1.2rem;
                    }
                }
            }
        }
        .lyt-ab-testing {
            clear: both;
            .tab-content {
                position: static;
                padding: 0;
                overflow: visible;
            }
            &.numberOfTabs-2 {
                .nav-tabs {
                    li.item {
                        width: 50%;
                    }
                }
            }
        }
        .ab-testing {
            .mod-card-type2 {
                margin: 0;
                .mod-card-type2 {
                    border-radius: 9px;
                    margin: 15px 0 0;
                }
            }
            .ab-testing-wraper {
                box-shadow: 0 0 10px #eaeaea;
                padding: 18px 18px 5px 18px;
                background: $clr-white;
                border-radius: 9px;
                margin-top: 17px;
            }
        }
    }
    .decision-tree-content {
        padding: 0 0 15px 0;
        text-align: center;
        margin-top: -5px;
    }
    &.landing-page {
        overflow: hidden;
        .cm-container {
            position: relative;
            height: 100%;
        }
        .lyt-legend {
            .mod-heading {
                .bs-option {
                    margin-top: 0;
                }
            }
        }
        .campaign-cont-wrap {
            padding: 0;
            position: static;
            &.bs-sec {
                .specification-list-wrap {
                    .tabs {
                        .tab-content {
                            padding: 0;
                            position: absolute;
                            top: 75px;
                            left: 0;
                            right: 0;
                            padding: 0 26px;
                            bottom: 0;
                            overflow: auto;
                        }
                    }
                }
            }
        }
        .campaign-left-panel {
            position: absolute;
            left: 0;
            right: 360px;
            top: 0;
            bottom: 20px;
        }
        .compose-slider {
            padding: 0 26px !important;
            padding-top: 13px !important;
            height: calc(100% - 54px);
            .swiper-wrapper {
                height: auto;
            }
        }
        .mod-specification-card {
            font-size: 1.3rem;
            min-height: 246px;
            padding: 15px 20px 20px 20px;
            .more-opt-wrap {
                .dropdown-menu {
                    width: 172px;
                }
            }
            .card-desc+.btn-wrap {
                margin-top: 43px;
            }
            .date-range {
                margin: 17px 0 20px;
            }
            &.legend-draft {
                .date-range {
                    margin: 28px 0 30px;
                    .value {
                        border-bottom: 2px dashed #8e8e8e;
                        min-height: 14px;
                    }
                }
                .btn-wrap {
                    margin-bottom: 0;
                    text-align: center;
                }
            }
            .comm-typ {
                padding: 4px 10px 6px;
                color: $clr-secondary;
                border-radius: 13px;
                box-shadow: 0 0 8px $shadow-gray;
                margin-top: 6px;
                font-size: 1.1rem;
                display: inline-block;
            }
            .no-of-user-label {
                margin: 22px 0 4px;
            }
            .card-desc {
                margin: 17px 0 4px;
                line-height: 16px;
                width: 85%;
                color: $clr-notify-text;
            }
            .desc-heading {
                color: $clr-heading;
            }
            .card-user {
                margin: 6px 0 0;
                padding: 0;
                background: transparent;
            }
        }
        .campaign-right-panel {
            position: absolute;
            top: 0;
            right: 0;
            border-left: 1px solid #dfdfdf;
            bottom: 0;
            width: 360px;
            transition: width 0.6s ease-in-out;
            background: $clr-white;
            z-index: 1;
            left: inherit;
            .toggle-view {
                position: absolute;
                top: 8px;
                left: 12px;
                margin: 0;
                z-index: 3;
                color: $clr-heading;
                background: transparent;
                padding: 0;
                font-size: 2rem;
            }
            .calender-wrap {
                position: relative;
                float: right;
                z-index: 2;
                max-width: 600px;
                width: 100%;
                border-bottom: 1px solid #dfdfdf;
                img {
                    width: 100%;
                }
            }
            .timeline-wrap {
                position: absolute;
                padding: 20px 16px;
                left: 0;
                right: 0;
                top: 367px;
                bottom: 22px;
                overflow: auto;
                .selected-date {
                    font-size: 1.4rem;
                    font-weight: $font-md;
                    color: $clr-heading;
                    padding-left: 25px;
                }
                .milestone-wrap {
                    position: relative;
                    padding-left: 25px;
                    overflow: hidden;
                    &:before {
                        content: "";
                        position: absolute;
                        left: 5px;
                        top: 43px;
                        bottom: 43px;
                        background: #efefef;
                        width: 1px;
                    }
                    .milestone-cont {
                        float: left;
                        width: 100%;
                        margin: 10px 0;
                        padding: 12px 14px;
                        border: 1px solid #efefef;
                        position: relative;
                        &:after {
                            content: "";
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            position: absolute;
                            left: -25px;
                            background: #efefef;
                            top: 50%;
                            margin-top: -4px;
                        }
                        &:before {
                            content: "";
                            background: $clr-white;
                            border-left: 1px solid #efefef;
                            border-bottom: 1px solid #efefef;
                            width: 11px;
                            height: 11px;
                            position: absolute;
                            top: 50%;
                            margin-top: -5px;
                            left: -6px;
                            transform: rotate(45deg);
                        }
                        .title {
                            font-weight: $font-light;
                            font-size: 1.4rem;
                            color: $clr-sub-heading;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                        &:hover {
                            background: #f9f9f9;
                            &:before {
                                background: #f9f9f9;
                            }
                        }
                    }
                }
            }
            &.expanded-view {
                width: 950px;
                box-shadow: -5px 0 10px 0px #e6e5e5;
                z-index: 5;
                .toggle-view {
                    top: 17px;
                    left: 20px;
                }
                .calender-wrap {
                    max-width: 600px;
                    border: 0;
                }
                .timeline-wrap {
                    top: 63px;
                    right: 600px;
                    border-right: 1px solid #dfdfdf;
                    border-top: 1px solid #dfdfdf;
                }
            }
        }
    }
    &.decision-tree-bg {
        background: url(../images/tree-bg.jpg);
    }
    &.active {
        right: 460px;
        .zoom-wrap {
            z-index: -1;
            right: 490px;
        }
        .switch-view {
            z-index: -1;
        }
        .decision-tree-wrap {
            transform: scale(0.25);
            transform-origin: top;
        }
        .decision-overlay {
            &.active {
                transform: scale(20);
            }
        }
    }
    &.audience-step {
        .bs-sec {
            position: static;
        }
        .create-audience-wrapper {
            position: absolute;
            top: 95px;
            left: 0;
            width: 100%;
            bottom: 20px;
            overflow: auto;
            padding: 0 0 20px 0;
            right: 0;
            .mod-define {
                margin-top: 20px;
                position: static;
                transform: none;
            }
        }
        &.step-2 {
            overflow: hidden;
            .create-audience-wrapper {
                position: relative;
                top: 0;
                overflow: visible;
            }
        }
        .lyt-rule {
            bottom: inherit;
            top: inherit;
            margin-left: 25px;
            background: transparent;
            left: inherit;
            right: inherit;
            position: relative;
            .rule-left {
                top: 25px;
                bottom: 0;
                width: auto;
                right: 32%;
                position: absolute;
                left: 0;
                .mod-rule-edit {
                    top: 0;
                    left: 0;
                    width: 100%;
                    &.typ-steps {
                        top: 50px;
                    }
                }
                &.select-rule-type {
                    .mod-rule-edit {
                        .rule-cont {
                            overflow: auto;
                            bottom: 20px;
                        }
                    }
                }
            }
            .tabs {
                &.typ-1 {
                    padding-top: 20px;
                    width: auto;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 32%;
                }
            }
        }
        .lyt-summary-panel {
            top: 0px;
            bottom: 0;
            background: transparent;
            position: absolute;
            left: 0;
            right: 0;
        }
        .white-overlay {
            right: 0;
            bottom: 26px;
            border-radius: 9px;
        }
    }
    .lyt-legend {
        .mod-heading {
            .bs-option {
                margin-top: -14px;
                .create-new {
                    .icon {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
    .lyt-define-audience {
        position: absolute;
        top: 75px;
    }
    &.schedular {
        .bs-sec {
            position: static;
            .schedular-cont {
                position: absolute;
                top: 30px;
                overflow-y: auto;
                overflow-x: hidden;
                left: 20px;
                padding-bottom: 10px;
                right: 20px;
                bottom: 40px;
            }
            .act-wrap {
                padding: 15px;
                text-align: center;
            }
        }
        .expand-btn {
            margin: 10px 0;
            text-align: right;
        }
        .checkbox-cont {
            float: left;
            >ul {
                >li {
                    display: inline-block;
                    position: relative;
                    &:hover {
                        .rule-listing {
                            display: block
                        }
                    }
                }
                .rule-listing {
                    position: absolute;
                    top: 0;
                    display: none;
                    left: 100%;
                    background: $clr-white;
                    width: 320px;
                    z-index: 6;
                    padding: 0 22px;
                    box-shadow: 0 0 10px $shadow-gray;
                    &:before {
                        position: absolute;
                        content: "";
                        width: 10px;
                        height: 10px;
                        left: -5px;
                        top: 13px;
                        transform: rotate(-45deg);
                        background: $clr-white;
                        box-shadow: -2px -2px 4px $light-gray;
                    }
                    .rule-heading {
                        padding: 11px 20px;
                        margin: 0 -22px;
                        font-size: 1.3rem;
                        border-bottom: 1px solid $light-gray;
                    }
                    .mod-card-type2 {
                        box-shadow: none;
                        padding: 15px 20px;
                        margin: 0;
                        li {
                            margin: 0;
                        }
                        .mod-rule {
                            &.typ2 {
                                padding: 8px 0;
                            }
                            .rule-title {
                                font-size: 1.3rem;
                                font-weight: $font-light;
                            }
                        }
                        .rule-type1 {
                            .item {
                                &:last-child {
                                    .mod-rule {
                                        &.typ2 {
                                            &.active {
                                                padding-bottom: 0;
                                                margin-bottom: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .user-targeted {
            float: right;
            text-align: right;
            color: $clr-heading;
            .title {
                font-weight: $font-light;
                color: $clr-notify-text;
                margin-bottom: 10px;
            }
            .user-count {
                font-weight: 700;
                font-size: 3rem;
            }
            .unit {
                font-size: 1.7rem;
            }
        }
    }
    &.message-designer,
    &.trigger-designer {
        .bs-decision-tree {
            .decision-tree-wrap {
                .action-wrap {
                    .node-wrap {
                        >.child-node {
                            min-width: inherit;
                            &.first {
                                &:after {
                                    width: 0px;
                                    left: 32px;
                                }
                            }
                            &.end-node {
                                &:before {
                                    left: 32px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.message-designer {
        .schedular-cont {
            .accordion {
                .accord-head {
                    .left-cont {
                        min-width: inherit;
                    }
                    .form-control {
                        font-size: 1.7rem;
                        margin: 0;
                    }
                    .center-cont {
                        padding-left: 30px;
                        margin-left: 30px;
                        .form-group {
                            &.time-field {
                                max-width: inherit;
                                .form-label {
                                    min-height: 50px;
                                    color: $clr-heading;
                                    line-height: 50px;
                                    font-size: 2rem;
                                    font-weight: $font-md;
                                }
                            }
                        }
                    }
                }
            }
            .act-wrap {
                padding: 50px 20px;
            }
        }
        // .mod-plan-schedule {
        //     >ul {
        //         &:before {
        //             display: none
        //         }
        //     }
        // }
    }
    &.trigger-designer {
        .lyt-specification {
            &.listview {
                .col-width-5 {
                    width: 13%;
                }
                .col-width-4 {
                    margin: 0;
                    width: 30%;
                }
            }
        }
        .lyt-schedule {
            .mod-card-type2 {
                .label-text {
                    margin-bottom: 10px;
                }
            }
        }
        .decision-tree-wrap {
            .bs-icon-text {
                &.typ-big {
                    .text {
                        padding-left: 0;
                        .label {
                            text-align: center;
                        }
                    }
                }
            }
        }
        .mod-specification-card {
            .go-to-summary {
                bottom: 61px;
            }
        }
        .lyt-rule {
            .rule-aside {
                .title-wrap {
                    .rule-heading {
                        width: 100%;
                    }
                    .graph-heading {
                        display: none;
                    }
                }
                .aside-cont {
                    .rule-wrapper {
                        padding-right: 20px;
                    }
                    .graph-wrapper {
                        display: none;
                    }
                }
            }
        }
    }
}

@include media($media1366) {
    .lyt-compose {
        &.audience-step {
            .lyt-rule {
                .rule-left {
                    right: 35%;
                }
                .rule-aside {
                    width: 33%;
                }
                .tabs {
                    &.typ-1 {
                        right: 35%;
                    }
                }
            }
        }
        &.landing-page {
            .mod-specification-card {
                .date-range {
                    margin: 17px 0 36px;
                }
            }
            .specification-list-wrap {
                .tab-content {
                    .tab-pane {
                        &:first-child {
                            .mod-specification-card {
                                min-height: 246px;
                            }
                        }
                    }
                }
            }
        }
    }
}