.lyt-create-persona {
    .mod-left-nav {
        width: 20%;
        float: left;
        &.active {
            position: fixed;
            top: 70px;
            width: 19.3%;
        }
    }
    .section-title {
        .text {
            margin-top: 6px;
            line-height: 20px;
            font-size: 1.4rem;
            font-weight: $font-light;
        }
    }
    .lyt-right-cont {
        width: 78%;
        float: right;
        min-height: 780px;
        .tabs {
            .nav {
                li {
                    a {
                        padding-top: 0;
                    }
                }
            }
            &.typ-4 {
                .nav {
                    li {
                        a {
                            padding-top: 12px;
                        }
                    }
                }
            }
        }
    }
    .card-section {
        &.persona-name {
            margin-bottom: 0;
            .form-wrap {
                margin-top: 30px;
            }
            .form-control {
                max-width: 350px;
                background: transparent;
                border-bottom: 1px solid $shadow-gray;
            }
            textarea.form-control {
                max-width: inherit;
            }
            .form-wrap {
                margin-top: 30px;
                .select-opt {
                    .form-control {
                        height: 38px;
                        margin-top: 0px;
                    }
                }
            }
            >.act-btn {
                margin: 10px 0 40px 0;
                .bs-icon-text {
                    .icon {
                        font-size: 1.8rem;
                        line-height: 2rem;
                    }
                    .text {
                        font-size: 1.6rem;
                        line-height: 2.1rem;
                    }
                }
            }
        }
        &.last {
            margin-bottom: 0;
        }
        .section-title {
            margin-bottom: 25px;
        }
        &.typ-2 {
            background: transparent;
            padding: 0;
            box-shadow: none;
        }
        .form-group {
            .form-control:valid+.form-label {
                color: $clr-sub-heading;
            }
        }
        .button-wrap {
            text-align: center;
            padding: 20px 20px 10px 20px;
        }
        .filters-applied {
            padding: 15px 20px;
            border: 1px solid $md-gray;
            border-top: 0;
        }
        .filter-wrap {
            .filter-btn-wrap {
                border: 1px solid $md-gray;
            }
            .filter-btn {
                display: inline-block;
                color: $clr-heading;
                cursor: pointer;
                font-size: 1.4rem;
                font-weight: $font-md;
                padding: 16px 12px;
                border-right: 1px solid $md-gray;
                span {
                    margin: 0 8px;
                }
            }
            // .dropdown {
            //     display: inline-block;
            //     width: 100%;
            // }
            .dropdown-menu {
                box-shadow: 0 0px 8px rgba(0, 0, 0, .175);
                position: absolute;
                z-index: 1;
                .applied-filter-list {
                    padding: 6px 10px;
                    max-height: 75px;
                    border-bottom: 1px solid $light-gray;
                    overflow: auto;
                    .bs-tag {
                        margin: 6px 10px 6px 0;
                    }
                }
            }
            &.active {
                min-height: 350px;
                .filter-btn {
                    color: $clr-secondary;
                }
            }
        }
        .kpi-list {
            .list {
                display: inline-block;
                width: 100%;
                counter-reset: my-sec-counter;
                >.item {
                    position: relative;
                    width: 50%;
                    float: left;
                    padding-left: 50px;
                    padding-right: 40px;
                    margin: 15px 0;
                    &::before {
                        counter-increment: my-sec-counter;
                        content: counter(my-sec-counter);
                        position: absolute;
                        left: 0;
                        top: 50%;
                        width: 28px;
                        height: 28px;
                        line-height: 26px;
                        margin-top: -14px;
                        color: $clr-heading;
                        font-size: 1.5rem;
                        border-radius: 50%;
                        border: 1px solid $clr-secondary;
                        text-align: center;
                    }
                }
            }
        }
        .section-title {
            h2 {
                display: inline-block;
            }
            .btn {
                float: right;
                margin-right: 0;
            }
        }
    }
    .button-wrap {
        text-align: right;
        padding: 30px 0;
        button {
            margin-right: 0;
        }
    }
    .tabs {
        .card-section {
            margin-bottom: 0;
        }
    }
}

.card-section {
    margin-bottom: 50px;
    background: $clr-white;
    padding: 25px;
    box-shadow: 0 0 8px $shadow-gray;
    &.create-new {
        padding-right: 20%;
        margin: 22px;
        .persona-name {
            // margin-bottom: 30px;
            .section-title {
                display: inline-block;
            }
        }
    }
}