//bs-rule
.lyt-rule {
    background: $clr-white;
    position: relative;
    height: 400px;
    .rule-aside {
        padding: 20px 0px 20px 8px;
        background: $light-gray;
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        width: 30%;
        @include box-shadow(0px, 0px, 15px, rgba(0, 0, 0, 0.2));
        // height: 495px;
        .aside-head {
            position: absolute;
            top: 20px;
            left: 18px;
            right: 10px;
            .report-name {
                font-size: 2.4rem;
                line-height: 26px;
                color: $clr-heading;
                text-transform: capitalize;
                font-weight: $font-regular;
            }
            .icon-right-arrow {
                font-size: 2rem;
                margin-left: 20px;
            }
        }
        .aside-cont {
            position: absolute;
            overflow-y: auto;
            margin-top: 40px;
            width: 100%;
            top: 48px;
            right: 0;
            left: 0;
            bottom: 58px;
            .wrapper-title {
                font-size: 1.2rem;
                line-height: 14px;
                font-weight: $font-bold;
                color: $clr-sub-heading;
                margin-bottom: 15px;
                text-transform: capitalize;
                display: none;
            }
            .rule-wrapper {
                padding-right: 85px; //darshan
                padding-left: 20px; //darshan
                padding-bottom: 10px;
                >.list {
                    // overflow-y: auto;
                }
            }
            .graph-wrapper {
                position: absolute;
                top: 0;
                right: 0px; //darshan
                .graph {
                    background: transparent;
                    padding-top: 0;
                    width: 160px;
                    margin-right: -85px;
                    margin-top: -10px;
                    // display: none;
                }
            }
        }
        .aside-foot {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 15px;
            background: #fcfcfc;
        }
        .title-wrap {
            position: absolute;
            top: 58px;
            right: 0;
            left: 0;
            padding: 0 20px;
            font-size: 1.2rem;
            line-height: 14px;
            font-weight: 700;
            color: #666666;
            margin-bottom: 15px;
            text-transform: capitalize;
            .rule-heading {
                float: left;
                width: calc(100% - 70px);
            }
            .graph-heading {
                float: left;
            }
        }
    }
    .create-rule-step1 {
        .form-wrap {
            .form-group {
                margin: 0;
            }
        }
    }
    .bs-sec {
        padding: 10px 0 15px;
        .sec-head {
            padding: 0;
            border: 0;
        }
    }
    .mod-rule-edit {
        width: 97%;
        padding: 0;
        background: $clr-white;
        border-radius: 9px;
        @include box-shadow(0px, 0px, 15px, rgba(0, 0, 0, 0.2));
        left: 3%;
        min-height: 300px;
        // overflow: hidden;
    }
    .rule-left {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 68%;
        .mod-rule-edit {
            position: absolute;
            top: 26px;
            bottom: 26px;
        }
    }
    .custom-dropdown-parent {
        position: relative;
        .target-element {
            top: 100%;
        }
    }
}

@include media($media1366) {
    .lyt-rule {
        .rule-left {
            width: 65%;
        }
        .rule-aside {
            width: 33%;
        }
    }
}