// lyt-graph
.lyt-graph {
    position: relative;
    display: inline-block;
    width: 100%;
    .list {
        .item {
            transform: scale(1);
            position: relative;
            &.small {
                transform: scale(1.3);
                position: relative;
                z-index: -1;
                opacity: 0.9;
                &.small-left {
                    left: 74px;
                    top: 119px;
                }
                &.small-right {
                    right: 74px;
                    top: 119px;
                }
                .graph-head {
                    display: none;
                }
            }
        }
    }
    &.typ-inner {
        padding: 0px 15px;
        .demo-nav {
            .icon-left-arrow {
                left: -100px;
            }
            .icon-right-arrow {
                right: -100px;
            }
        }
        .card-cont {
            // margin: 20px 15px 0;
        }
    }
    &.typ-big {
        padding: 85px 0px 47px;
        .mod-graph {
            background-color: $clr-white;
            padding: 25px 40px;
            .img-wrap {
                border-bottom: 1px solid #edeced;
                margin-bottom: 45px;
                img {
                    width: 100%;
                }
            }
            .graph-cont {
                box-shadow: none;
                .graph-title {
                    font-size: 3.2rem;
                    font-weight: $font-bold;
                    line-height: 34px;
                    color: $clr-heading;
                    margin-bottom: 15px;
                }
                .desc {
                    font-size: 1.4rem;
                    line-height: 18px;
                    color: $clr-heading;
                    font-weight: $font-light;
                    display: inline-block;
                    padding-right: 250px;
                }
            }
        }
    }
    &.typ-table {
        background: $clr-white;
        box-shadow: 0px 0px 5px $light-gray;
        position: relative;
        margin-bottom: 12px;
        .lyt-report-detail {
            box-shadow: none;
            .table {
                th {
                    border-right: 1px solid $light-gray;
                    background-color: #fcfcfc;
                    .title {
                        font-size: 1.6rem;
                        line-height: 18px;
                        padding: 15px 15px;
                        .sort-btn {
                            position: relative;
                            margin-left: 10px;
                            top: -1px;
                            .icon {
                                position: absolute;
                                left: 0;
                                font-size: 0.7rem;
                                line-height: 8px;
                                color: $clr-heading;
                                &.icon-up-arrow {
                                    top: 4px;
                                }
                                &.icon-down-arrow {
                                    bottom: 0;
                                }
                            }
                        }
                    }
                    &:last-of-type {
                        border-right: none;
                    }
                }
                tr {
                    &:nth-of-type(even) {
                        background-color: #fcfcfc;
                    }
                    td {
                        font-size: 1.6rem;
                        line-height: 18px;
                    }
                }
            }
        }
        .graph-wrap {
            .mod-graph {
                margin: 0px auto;
                img {
                    width: 100%;
                    display: inline-block;
                }
            }
        }
        .tabs {
            &.typ-3 {
                .nav {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
                .tab-content {
                    padding: 0px 0px 45px;
                }
            }
        }
        .lyt-filter {
            background-color: $clr-white;
            padding: 10px;
            position: relative;
            z-index: 9;
            .bs-sec {
                padding: 0px;
            }
            //z-index: 2;
            .mod-filter {
                padding: 0 12px;
                position: relative;
                background-color: #fbfbfb;
            }
            .mod-timeframe {
                border-left: none;
                padding: 0px 0px 0 13px;
            }
            .mod-filter-opt {
                left: 2px;
                top: 100%;
            }
            .mod-timeframe-opt {
                right: 0;
                top: 50px;
                z-index: 13;
            }
        }
        .btn-compare {
            color: $clr-heading;
            position: absolute;
            top: 60px;
            right: 15px;
            font-size: 2.2rem;
            line-height: 20px;
            z-index: 2;
            transform: rotateY(180deg);
            &:hover,
            &.active {
                color: $clr-secondary;
            }
        }
    }
    &.typ-reports-comparision {
        .list {
            .item {
                margin-bottom: 30px;
                .btn-edit-mode {
                    opacity: 0;
                    transition: all 0.6s;
                }
                // &:hover {
                //     .btn-edit-mode {
                //         opacity: 1;
                //     }
                // }
                .mod-heading {
                    padding: 10px 28px 10px 10px;
                    border-bottom: 0;
                    .title {
                        font-size: 1.6rem;
                        line-height: 1.8rem;
                        color: $clr-heading;
                    }
                    .bs-icon-text {
                        .text {
                            color: #666666;
                            font-size: 1.1rem;
                            line-height: 1.3rem;
                            font-weight: $font-regular;
                        }
                    }
                }
                .mod-graph {
                    margin-bottom: 20px;
                }
                .mod-report-card {
                    position: relative;
                }
            }
        }
        &.active {
            .list {
                .item {
                    width: 20%;
                    .mod-report-card {
                        padding-top: 20px;
                        .card-cont {
                            .card-header {
                                zoom: 0.75;
                                .period {
                                    display: none;
                                }
                            }
                            .highcharts-container {
                                height: 180px !important;
                            }
                            .more-option,
                            .mod-tag,
                            .graph-layer,
                            .highcharts-legend {
                                display: none;
                            }
                            .card-body {
                                zoom: 0.7;
                            }
                        }
                    }
                    .btn-edit-mode {
                        opacity: 1;
                        &.drag {
                            top: 6px;
                        }
                        &.remove {
                            top: 8px;
                            right: 4px;
                        }
                    }
                    // &:hover {
                    //     .btn-edit-mode {
                    //         opacity: 0;
                    //     }
                    // }
                }
            }
        }
    }
}

@include media($media1024) {
    .lyt-graph {
        &.typ-big {
            padding: 14px 0px 47px;
        }
        &.typ-table {
            .lyt-filter {
                .mod-filter {
                    background: transparent;
                }
                .mod-filter-opt {
                    top: 0;
                }
            }
            .btn-compare {
                top: 15px;
            }
        }
        &.typ-reports-comparision {
            &.active {
                .list {
                    .item {
                        width: 100%;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

@include media($media768) {
    .lyt-graph {
        &.typ-inner {
            padding: 0px;
        }
        .swiper-center-slide {
            .swiper-slide-next {
                transform: translateX(0) translateY(0);
            }
            .swiper-slide-prev {
                transform: translateX(0) translateY(0);
            }
        }
        &.typ-big {
            padding: 16px 0px 10px;
            .mod-graph {
                padding: 25px 15px;
                .graph-cont {
                    .desc {
                        padding-right: 0;
                    }
                    .graph-summary {
                        position: initial;
                        .val {
                            &.typ-big {
                                font-size: 3.6rem;
                                line-height: 40px;
                            }
                        }
                    }
                }
            }
        }
        &.typ-reports-comparision {
            .list {
                .item {
                    .btn-edit-mode {
                        opacity: 1;
                        display: none;
                        &.remove {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}