.lyt-specification {
    padding-bottom: 100px;
    display: block;
    .listview-title {
        display: none;
    }
    >.list {
        margin-left: -10px;
        margin-right: -10px;
        .item {
            padding: 10px;
            //float: left;
            // width: 33.33%;
            &:nth-child(3n+3) {
                .mod-specification-card {
                    .card-rule {
                        .value {
                            .rule-tooltip {
                                left: inherit;
                                right: 43px;
                                &:before {
                                    left: inherit;
                                    right: -7px;
                                    transform: rotate(225deg);
                                }
                            }
                        }
                    }
                }
            }
            &.with-graph {
                width: 100%;
                .spec-details {
                    float: left;
                    width: 30%;
                }
                .graph-wrap {
                    float: right;
                    width: 68%;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
    &.listview {
        .item {
            width: 100%;
            padding: 0;
            &:nth-child(3) {
                .mod-specification-card {
                    .card-rule {
                        .value {
                            .rule-tooltip {
                                top: -16px;
                                left: auto;
                                right: 137%;
                                &:before {
                                    top: 19px;
                                    right: -6px;
                                    transform: rotate(225deg);
                                }
                            }
                        }
                    }
                    .more-opt-wrap {
                        .dropdown-menu {
                            &:before {
                                right: 12px;
                            }
                        }
                    }
                }
            }
            &:nth-last-child(1),
            &:nth-last-child(2),
            &:nth-last-child(3) {
                .mod-specification-card {
                    .card-rule {
                        .value {
                            .rule-tooltip {
                                top: -183px;
                                left: auto;
                                right: 132%;
                                &:before {
                                    top: auto;
                                    bottom: 20px;
                                }
                            }
                        }
                    }
                }
            }
            &.bottom-last {
                .mod-specification-card {
                    .more-opt-wrap {
                        .dropdown-menu {
                            top: inherit;
                            bottom: 35px;
                            &:before {
                                transform: rotate(-45deg);
                                right: 14px;
                                top: inherit;
                                bottom: -6px;
                            }
                        }
                    }
                    .card-rule {
                        .value {
                            .rule-tooltip {
                                top: inherit;
                                bottom: -6px;
                                right: inherit;
                                &:before {
                                    bottom: 19px;
                                    top: inherit;
                                }
                            }
                        }
                    }
                }
            }
        }
        >.list {
            margin: 0;
        }
        .listview-title {
            background: $clr-white;
            display: block;
            border-bottom: 1px solid $md-gray;
            .list {
                overflow: hidden;
                border-right: 1px solid $light-gray;
                background-color: #fcfcfc;
            }
            .item {
                font-weight: $font-bold;
                font-size: 1.6rem;
                line-height: 1.8rem;
                color: $clr-heading;
                &.hide-for-list {
                    display: none;
                }
            }
        }
        .mod-specification-card {
            box-shadow: none;
            padding: 0;
            &.legend-hot,
            &.legend-netural,
            &.legend-cold {
                .card-title {
                    position: relative;
                    &:before {
                        top: 23px;
                        left: 0;
                    }
                }
            }
            .title {
                font-weight: $font-regular;
                font-size: 2rem;
                margin: 0;
                line-height: 30px;
            }
            .card-group {
                font-size: 1.4rem;
                margin: 0;
            }
            .card-rule {
                font-size: 2rem;
                .value {
                    .rule-tooltip {
                        top: -12px;
                        left: auto;
                        right: 132%;
                        &:before {
                            top: 21px;
                            left: auto;
                            right: -6px;
                            transform: rotate(226deg);
                        }
                    }
                }
            }
            .card-description {
                background: transparent;
                line-height: 35px;
                .value {
                    display: block;
                    color: $clr-sub-heading;
                    font-weight: $font-light;
                    font-size: 1.4rem;
                }
            }
            .card-user {
                margin: 0;
                background: $clr-white;
                .user-count {
                    font-weight: $font-bold;
                    font-size: 3rem;
                }
                .unit {
                    font-size: 1.7rem;
                }
            }
            .card-timestamp {
                display: none;
            }
            .icon-refresh,
            .go-to-summary {
                position: static;
                display: inline-block;
                float: none;
                vertical-align: middle;
            }
            .go-to-summary {
                min-height: 27px;
            }
            .more-opt-wrap {
                position: relative;
                float: left;
                top: inherit;
                right: inherit;
                margin-right: 20px;
                .dropdown-menu {
                    &:before {
                        right: 13px;
                    }
                }
            }
            .btn {
                &.btn-link {
                    &.btn-sm {
                        line-height: 28px;
                        float: none;
                        margin-right: 20px;
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 1.6rem;
                    }
                }
            }
            .more-opt-wrap {
                display: inline-block;
                vertical-align: middle;
                float: none;
                top: -1px;
                .btn-more-opt {
                    padding: 7px 10px 0;
                }
            }
            .title {
                line-height: 30px;
            }
        }
        .columns {
            float: left;
            padding: 16px 0 16px 25px;
            .hide {
                display: none !important;
            }
        }
        .col-width-1 {
            width: 54%;
        }
        .col-width-2 {
            width: 15%;
        }
        .col-width-3 {
            width: 13%;
        }
        .col-width-4 {
            width: 20%;
        }
        .col-width-5 {
            width: 14%;
            padding-right: 20px;
            text-align: right;
        }
        .card-rule {
            .value {
                //color: $clr-sub-heading;
                line-height: 30px;
                font-weight: $font-md;
            }
        }
        .card-group {
            .value {
                color: $clr-sub-heading;
                line-height: 30px;
                font-weight: $font-light;
            }
        }
    }
}

@include media($media1200) {
    .lyt-specification {
        &.listview {
            .mod-specification-card {
                .card-user {
                    .user-count {
                        font-size: 2.5rem;
                    }
                }
            }
            .columns {
                padding: 18px 0 18px 18px;
            }
            .col-width-1,
            .col-width-5 {
                width: 26%;
            }
        }
    }
}

@include media($media920) {
    .lyt-specification {
        >.list {
            .item {
                padding: 10px 0;
            }
        }
    }
}