// lyt-label-value-pair
.lyt-label-value-pair {
    .sec {
        margin-bottom: 60px;
        &.last {
            margin-bottom: 0;
        }
        &.typ2 {
            li {
                padding-bottom: 30px;
                border-bottom: 1px solid $light-gray;
                .bs-label-value-pair {
                    >.title {
                        float: none;
                        display: block;
                        margin-bottom: 10px;
                        &:after {
                            content: none;
                        }
                    }
                }
                &:last-child {
                    border-bottom: none;
                    padding-bottom: 0px;
                }
                &.with-bullet {
                    .val {
                        padding-left: 16px;
                        position: relative;
                        width: 100%;
                        &:before {
                            position: absolute;
                            content: "";
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            left: 0;
                            top: 16px;
                            background: $clr-heading;
                        }
                    }
                }
            }
        }
    }
    li {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    >.title {
        font-size: 2.4rem;
        line-height: 2.6rem;
        margin-bottom: 26px;
        padding-bottom: 10px;
        border-bottom: 1px solid $light-gray;
        color: $clr-heading;
        font-weight: $font-regular;
    }
    &.typ-profile {
        position: relative;
        margin-left: 200px;
        .profile-wrap {
            position: absolute;
            left: -200px;
            text-align: center;
            .img {
                width: 120px;
                height: 120px;
                overflow: hidden;
                border-radius: 50%;
                margin: 0 auto 16px;
                img {
                    width: 100%;
                }
            }
            label {
                font-weight: $font-md;
                font-size: 1.6rem;
                line-height: 18px;
                color: $clr-heading;
                margin-bottom: 22px;
            }
            .btn {
                display: block;
                margin: 0 auto;
            }
        }
    }
}