.lyt-notification {
    position: fixed;
    z-index: 13;
    top: 49px;
    right: -518px;
    width: 510px;
    // height: calc(100% - 49px);
    bottom: 0;
    background: $clr-white;
    transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
    @include box-shadow(1px, 1px, 10px, #333333);
    &.active {
        right: 0;
    }
    .icon-trash {
        color: $clr-heading;
    }
    .notification-header {
        background: $clr-root;
        padding: 0 25px;
        .bs-search {
            &.form-group {
                margin-bottom: 5px;
                .form-control {
                    background: $clr-root;
                    border-bottom: 1px solid $light-gray;
                }
            }
        }
        .list {
            .item {
                width: 49.5%;
                display: inline-block;
                position: relative;
                &:first-child {
                    &:after {
                        content: '';
                        position: absolute;
                        right: -10px;
                        top: 50%;
                        width: 1px;
                        height: 50%;
                        transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -webkit-transform: translateY(-50%);
                        background: $light-gray;
                    }
                }
                &:first-child {
                    width: 56%;
                    margin-right: 3px;
                }
                &:last-child {
                    width: 42.5%;
                    text-align: right;
                }
            }
        }
        button.bs-icon-text {
            border: none;
            background: transparent;
            padding: 5px 5px 5px 40px;
            color: #333333;
            position: relative;
            .icon {
                font-size: 1.2rem;
                line-height: 30px;
                position: absolute;
                &.icon-arrow-up {
                    left: 10px;
                }
            }
        }
        .sort-wrap {
            margin: 4px 3px 4px 15px;
            font-size: 1.4rem;
            line-height: 28px;
            font-weight: $font-bold;
            .bs-icon-text {
                padding: 5px 5px 5px 40px;
                color: $clr-heading;
                position: relative;
                &:first-of-type {
                    margin-right: 10px;
                }
                .icon {
                    font-size: 1.2rem;
                    line-height: 30px;
                    position: absolute;
                    &.icon-arrow-down {
                        left: 0;
                        &.active {
                            color: #49a24d;
                        }
                        &.disabled {
                            color: #afafaf;
                        }
                    }
                    &.icon-arrow-up {
                        left: 10px;
                        &.active {
                            color: #49a24d;
                        }
                        &.disabled {
                            color: #afafaf;
                        }
                    }
                }
            }
        }
    }
    .notification-cont {
        overflow-y: auto;
        height: calc(100% - 60px);
        padding-bottom: 20px;
        .list {
            .item {
                border-bottom: 1px solid $light-gray;
            }
        }
    }
}

@include media($media1024) {
    .lyt-notification {
        z-index: 14;
        top: 45px;
        box-shadow: 1px 5px 10px #333333;
    }
}

@include media($media768) {
    .lyt-notification {
        top: 45px;
        width: 100%;
        right: -100%;
        .notification-header {
            padding: 0 15px;
            .list {
                .item {
                    width: 100%;
                    &:first-child:after {
                        display: none;
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                }
            }
        }
    }
}

@include media($media480) {
    .lyt-notification {
        top: 45px;
        width: 100%;
        right: -106%;
    }
}