// lyt-plan-schedule
.lyt-plan-schedule {
    box-shadow: 0 0px 18px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0 0px 18px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0 0px 18px rgba(0, 0, 0, 0.13);
    background: $clr-white;
    position: relative;
    padding: 10px;
    margin-bottom: 30px;
    padding-top: 20px;
}