.lyt-summary-panel {
    .summary-wrapper {
        overflow: auto;
        >.col-md-4 {
            padding-bottom: 20px;
        }
    }
    .summary-wrapper {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 0px;
        overflow: auto;
        >.col-md-4 {
            padding-bottom: 20px;
        }
        &.typ2 {
            position: relative;
            top: auto;
            right: auto;
            bottom: auto;
            left: auto;
        }
    }
    .title {
        color: $clr-heading;
        font-size: 2.2rem;
        font-weight: normal;
        margin: 8px 0 18px 0;
    }
}