// layout Legend
.lyt-legend {
    .legend-wrap {
        overflow: hidden;
        float: left;
        clear: both;
        margin-top: 7px;
        .list {
            .item {
                float: left;
                margin-right: 26px;
            }
        }
    }
    .form-group {
        &.bs-search {
            margin: 0;
            .form-control {
                background: $clr-root;
                border-bottom: 1px solid #999999;
            }
        }
    }
    .bs-sec {
        padding-top: 15px;
        padding-bottom: 0;
    }
    .mod-heading {
        padding: 0;
        border: 0;
    }
    .dropdown {
        .dropdown-menu {
            &.sort-by {
                left: auto;
                top: 46px;
                .active {
                    .link {
                        color: $clr-secondary;
                    }
                }
            }
        }
    }
    .bs-icon-text {
        &.create-new {
            padding-right: 30px !important;
            margin-right: 10px;
            border-right: 1px solid $dark-gray;
        }
    }
}

@include media($media1024) {
    .lyt-legend {
        .bs-option {
            .item {
                margin-left: 0;
                .bs-icon-text {
                    padding: 0;
                }
            }
        }
        .dropdown {
            &.typ-more {
                .dropdown-menu {
                    right: -5px;
                }
            }
        }
    }
}

@include media($media768) {
    .lyt-legend {
        .dropdown {
            .dropdown-menu {
                &.sort-by {
                    right: 0;
                    top: inherit;
                }
            }
        }
    }
}

@include media($media568) {
    .lyt-legend {
        .legend-wrap {
            .list {
                .item {
                    margin-right: 15px;
                }
            }
        }
        .mod-legend {
            .mark {
                margin-right: 4px;
            }
        }
    }
}