.lyt-persona-card {
    margin-top: 20px;
    .list-wrap {
        max-height: 375px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .mod-persona-card {
        margin: 0 0 30px 0;
    }
}