//lyt-flyout
.lyt-flyout {
    width: 510px;
    position: fixed;
    top: 40px;
    bottom: 0;
    z-index: 9;
    box-shadow: 1px 1px 10px $clr-heading;
    transition: all 0.6s;
    &.typ-right {
        right: -510px;
        &.active {
            right: 0;
        }
    }
    &.type-scroll-cont {
        .flyout-cont {
            padding: 18px;
            overflow-y: auto;
        }
    }
    &.md-expanded {
        .lyt-condition {
            float: left;
            width: 50%;
            border-right: 1px solid $dark-gray;
            padding-right: 18px;
        }
        .apply-rule-wrap {
            float: right;
            padding-left: 18px;
            width: 50%;
            .list {
                .list {
                    padding: 0 22px;
                    .mod-rule {
                        &.typ2 {
                            padding-left: 0;
                            padding-right: 0;
                        }
                    }
                }
            }
            .rule-heading {
                padding: 20px 0 8px;
                font-size: 1.6rem;
                font-weight: $font-bold;
                color: #333;
            }
            .subtitle {
                font-size: 1.2rem;
                padding: 10px 0 15px;
            }
            .act-wrap {
                text-align: center;
                padding: 0;
            }
        }
    }
}

@include media($media768) {
    .lyt-flyout {
        width: 100%;
    }
}