.lyt-tag {
    display: block;
    .item {
        float: left;
    }
    .tag-category {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
        .cat-title {
            margin-bottom: 4px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}