.lyt-system-card {
    clear: both;
    .right-div {
        >.list {
            overflow: hidden;
            >li {
                float: left;
                width: 20%;
                height: 20%;
                position: relative;
                padding-top: 20%;
            }
        }
    }
    .act-icon {
        &.flip-btn {
            position: absolute;
            top: 5px;
            right: 6px;
            border: none;
            .icon {
                font-size: 24px;
                line-height: 26px;
                color: $clr-secondary;
            }
        }
    }
    .mod-heading {
        .hide-show-sys-option {
            clear: both;
            display: block;
            margin-left: 0;
            font-size: 1.5rem;
            border: 0;
            margin-top: 10px;
            &:hover {
                border: 0;
            }
            .icon {
                &:before {
                    font-size: 1.2rem;
                    margin-right: 2px;
                }
            }
        }
    }
    .left-div {
        width: 20%;
        position: absolute;
        top: 0;
        height: 100%;
        left: 0;
        float: left;
        >ul {
            position: absolute;
            top: 50%;
            overflow: hidden;
            left: 0;
            overflow: visible;
            width: 100%;
            transform: translateY(-50%);
            >li {
                width: 100%;
                position: relative;
                height: 100%;
                padding-top: 100%;
            }
        }
        .mod-system-card {
            .cont {
                .title {
                    font-weight: $font-regular;
                }
                .img-wrap {
                    &:after {
                        background: #e7f1e1;
                    }
                    &:before {
                        background: #f5f9f3;
                    }
                    .icon {
                        font-size: 4.7rem;
                    }
                }
            }
        }
    }
    .right-div {
        width: 100%;
        float: right;
        >.list {
            >li {
                width: 20%;
                height: 20%;
                padding-top: 20%;
            }
        }
    }
    .card-list-wrap {
        padding: 25px 0;
        overflow: hidden;
        &.fixed-options {
            position: relative;
            padding-left: 20%;
            min-height: 606px;
            .right-div {
                >ul {
                    >li {
                        width: 25%;
                        height: 25%;
                        padding-top: 25%;
                    }
                }
            }
        }
        .right-div {
            >ul {
                >li {
                    width: 20%;
                    height: 20%;
                    overflow: hidden;
                    padding-top: 20%;
                }
            }
        }
        .flip-wrap {
            position: absolute;
        }
    }
    .legends {
        clear: both;
        text-align: right;
        float: right;
        margin-top: 30px;
        .bs-icon-text {
            .text {
                font-weight: $font-regular;
                font-size: 1.3rem;
            }
            .icon {
                font-size: 1.8rem;
                line-height: 18px;
            }
            .icon-warning-1 {
                color: $clr-error;
            }
            .icon-tick-o {
                color: $clr-secondary;
            }
            .word {
                background: $clr-orange;
                color: $clr-white;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                text-align: center;
                text-transform: uppercase;
                font-size: 11px;
                line-height: 16px;
                display: inline-block;
                margin-right: 3px;
            }
        }
        li {
            display: inline-block;
            +li {
                margin-left: 30px;
            }
        }
    }
}