// collapse-view
.pg-collapse-view {
    .mod-report-card {
        // margin-top: 20px;
    }
    .lyt-section {
        .bs-sec {
            padding: 20px 0;
            .sec-cont {
                .graph-list {
                    .swiper-container {
                        padding: 0 !important;
                    }
                }
            }
        }
    }
    .lyt-top-bar {
        .cm-container {
            .lyt-summary {
                margin: 12px auto 0;
            }
        }
    }
}