// pg-edit-mode
.pg-edit {
    .main {
        min-height: 950px;
    }
    .lyt-top-bar {
        .cm-container {
            .lyt-summary {
                max-width: 1530px;
                .item {
                    width: auto;
                    float: left;
                }
                .mod-summary {
                    width: 360px;
                }
            }
        }
    }
    &.typ-dashboard {
        .lyt-top-bar {
            .mod-heading {
                margin-bottom: 12px;
            }
            .bs-sec {
                padding: 15px 26px 2px;
            }
            .add-kpi {
                position: relative;
                z-index: 2;
                transition: all 0.3s;
            }
        }
        .theme-wrapper {
            .cm-container {
                padding: 5px 25px;
            }
        }
        .bs-sec {
            padding: 0;
        }
        .edit-card {
            .mod-heading {
                padding: 1px 15px 14px;
                zoom: 0.75;
                margin-bottom: 4px;
                .icon-plus-bold,
                .icon-minus-bold {
                    font-size: 1.8rem;
                    line-height: 16px;
                    position: absolute;
                    right: 30px;
                    color: $clr-heading;
                    top: 21px;
                }
            }
        }
        .lyt-filter {
            .bs-sec {
                padding: 10px 25px;
            }
        }
        .lyt-section {
            padding-top: 20px;
            .bs-sec {
                .edit-card {
                    .mod-heading {
                        .title {
                            font-size: 1.9rem;
                            display: block;
                            line-height: 1.9rem;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                    .graph-list {
                        overflow: hidden;
                        .mod-report-card {
                            zoom: 0.7;
                            .card-cont {
                                margin: 15px 15px 0;
                                .card-header {
                                    .title {
                                        font-size: 1.6rem;
                                    }
                                }
                                .mod-tag {
                                    display: none;
                                }
                            }
                        }
                    }
                    .highcharts-container {
                        height: 170px !important;
                    }
                }
            }
        }
    }
    .typ-edit {
        border: 1px dashed $clr-secondary;
        .title {
            .icon {
                width: 30px;
                text-align: center;
                &.icon-plus {
                    font-size: 2.5rem;
                }
            }
        }
    }
    &.typ-new-dashboard {
        .bs-sec {
            padding: 15px 25px;
        }
        .add-report-btn {
            color: $clr-heading;
            font-size: 2.2rem;
            line-height: 26px;
            text-transform: capitalize;
            padding: 18px 24px;
            position: relative;
            cursor: pointer;
            .icon-plus {
                position: absolute;
                top: 20px;
                left: 50%;
                margin-left: -14px;
            }
        }
        .add-kpi {
            &.btn-link {
                transition: all 0.3s;
                position: relative;
                top: 9px;
            }
        }
        .mod-summary {
            margin-bottom: 0px;
        }
    }
    &.typ-tray-edit {
        .bs-sec {
            padding: 20px 26px 5px;
        }
        .cm-container {
            &.type-2 {
                position: relative;
                .mod-heading {
                    background: $clr-root;
                }
                .btn.btn-edit-mode.drag {
                    top: 7px;
                }
            }
        }
        .mod-heading {
            position: relative;
            padding: 15px 20px;
            // .bs-icon-text {
            //     &:after {
            //         content: "\4e";
            //         font-family: "catchmedia-new" !important;
            //         font-size: 1.4rem;
            //         line-height: 1.6rem;
            //         position: relative;
            //         top: 2px;
            //         left: 1px;
            //         margin-left: 2px;
            //         color: $clr-heading;
            //     }
            // }
            // .drag {
            //     right: 32px;
            //     top: 50%;
            //     transform: translateY(-50%);
            //     &:hover {
            //         transform: translateY(-50%) scale(1.2);
            //     }
            // }
        }
        .lyt-top-bar {
            .mod-heading {
                // margin-bottom: 12px;
                padding: 0 0 10px 0;
            }
            .bs-sec {
                padding: 15px 26px 2px;
            }
            .add-kpi {
                transition: all 0.3s;
                position: relative;
                z-index: 2;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
    .lyt-top-bar {
        .mod-heading {
            .bs-icon-text {
                float: left;
            }
        }
        .bs-sec {
            padding: 15px 26px 20px;
        }
    }
    .bs-sec {
        padding: 5px 25px;
    }
    .mod-summary {
        margin-bottom: 30px;
        overflow: inherit;
    }
    .add-kpi {
        font-size: 1.2rem;
        color: $clr-white;
        border: 0;
        &:hover {
            border: 0;
        }
    }
    &.typ-dashboard {
        .edit-card {
            position: relative;
            // padding-top: 15px;
            padding-bottom: 15px;
            margin: 15px 0;
            min-height: 250px;
            border: 1px dashed $clr-secondary;
            .sec-head {
                padding-left: 30px;
                .icon-accor {
                    font-size: 1.8rem;
                    line-height: 16px;
                    position: absolute;
                    right: 22px;
                    top: 5px;
                    color: $clr-heading;
                }
            }
            .card-cont {
                margin: 20px 30px 0;
            }
            // .btn-edit-mode {
            //     &.drag {
            //         top: 16px;
            //         right: 33px;
            //     }
            // }
        }
        .col-md-6 {
            &.typ-expand {
                width: 100%;
                .sec-cont {
                    .lyt-graph {
                        .list {
                            .item {
                                margin-bottom: 30px;
                            }
                        }
                        .lyt-tag {
                            .list {
                                .item {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
                .card-cont {
                    margin-left: 0;
                    margin-right: 0;
                }
                .graph-list {
                    padding: 3px 30px;
                }
            }
        }
        .graph-list {
            .swiper-container {
                .swiper-slide {
                    padding: 0;
                    overflow: hidden;
                }
            }
        }
        .lyt-section {
            .highcharts-legend {
                display: none;
            }
            .column5 {
                width: 20%;
                float: left;
                padding-right: 10px;
                padding-left: 10px;
            }
        }
    }
}

@include media($media1600) {
    .pg-edit {
        .lyt-top-bar {
            .cm-container {
                .lyt-summary {
                    max-width: 1140px;
                }
            }
        }
    }
}

@include media($media1170) {
    .pg-edit {
        .lyt-top-bar {
            .cm-container {
                .lyt-summary {
                    max-width: 750px;
                }
            }
        }
    }
}

@include media($media800) {
    .pg-edit {
        .lyt-top-bar {
            .cm-container {
                .lyt-summary {
                    max-width: 360px;
                }
            }
        }
    }
}

@include media($media1024) {
    .pg-edit {
        &.typ-new-dashboard {
            .add-report-btn {
                .icon {
                    right: 11px;
                    left: auto;
                    top: 11px;
                }
            }
        }
    }
}

@include media($media768) {
    .pg-edit {
        .lyt-top-bar {
            .cm-container {
                .lyt-summary {
                    // width: 100%;
                    // max-width: initial;
                    .item {
                        width: 100%;
                        .mod-summary {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@include media($media568) {
    .pg-edit {
        &.typ-new-dashboard {
            .add-report-btn {
                font-size: 1.7rem;
                padding: 8px 15px;
            }
        }
    }
}