.pg-create-persona {
    &.type-kpi-edit {
        .card-section {
            .mod-heading {
                position: relative;
                margin-bottom: 25px;
                padding: 13px 20px;
                &:last-child {
                    margin-bottom: 0;
                }
                &.type-edit {
                    border: 1px dashed $clr-secondary;
                }
                .title {
                    line-height: 2.2rem;
                    .icon {
                        font-size: 2.5rem;
                        line-height: 2rem;
                    }
                    .text {
                        font-size: 1.7rem;
                        line-height: 1.6rem;
                    }
                }
                .drag {
                    right: 32px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .mod-summary {
                overflow: inherit;
            }
        }
    }
}